.portada-blog {
  background-image: url('../img/bg-portada-blog.png');
  background-position: top center;
}
.portada-blog .title-head{
  width: 100%;
  max-width: 650px;
  margin: auto;
}
.filter {
  display: flex;
  gap: 8%;
  margin-bottom: 30px;
}

.field {
  display: flex;
  gap: 20px;
}

.blog-detalle-date p,
.field-text a,
.field select,
.field input {
  background-color: #FFF;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 2px solid #EDBED9;
  border-radius: 0;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 0;
  width: fit-content;
}
.blog-detalle-date{
  margin-bottom: 15px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.card-link__detalle{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 5px;
}
.blog-detalle-date p{
  margin-bottom: 5px;
  padding: 4px 0;
  margin-right: 15px;
}
.card-link__detalle .blog-detalle__likes,
.blog-detalle-date .blog-detalle__likes{
  margin-right: 10px;
}
.card-link__detalle .blog-detalle__likes,
.blog-detalle-date .blog-detalle__likes,
.blog-detalle-date .blog-detalle__views{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.card-link__detalle .blog-detalle__likes .blog-like,
.blog-detalle-date .blog-detalle__likes .blog-like,
.blog-detalle-date .blog-detalle__views img{
  margin-right: 5px;
}
.card-link__detalle  .blog-detalle__likes p,
.blog-detalle-date .blog-detalle__likes p,
.blog-detalle-date .blog-detalle__views p{
  border: none;
  margin: 0;
  padding: 0;
}
.field select {
  min-width: 220px;
  padding: 5px 0;
}

.field input::placeholder {
  color: #000;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.field input {
  border-bottom: 2px solid #EDBED9;
}

.field button {
  background-color: #FFF;
  background-image: url('../img/icono-lupa.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border: 2px solid #EDBED9;
  border-radius: 5px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

 /* hr {
  border: none;
  border-top: 0.5px solid #C4C4C4;
  margin: 0;
}*/

.blog {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.list-blog {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 2;
  border-top: 1px solid #C4C4C4;
}
.list-blog.entrada{
  border-bottom: 1px solid #C4C4C4;
}

.card-blog {
  display: flex;
  gap: 17px;
}

.card-blog,
.card-blog-xs {
  padding: 30px 0;
  height: 100%;
  border-bottom: 1px solid #C4C4C4;
}

.card-blog-xs.detalle{
  height: initial;
}

.card-image {
  max-width: 270px;
  width: 100%;
  position: relative;
}

.card-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-tag {
  background-color: #000;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  width: fit-content;
}

.card-blog .card-tag {
  position: absolute;
  bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-between;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 22px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.card-description p {
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex: 1;
  width: 100%;
}
.card-link .card-link__actions{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.card-link .card-link__actions.column{
  flex-direction: column;
  align-items: flex-end;
}
.card-link .card-link__actions .card-link__views{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.card-link .card-link__actions.row .card-link__views{
  margin-right: 10px;
}
.card-link .card-link__actions .card-link__views img{
  margin-right: 5px;
}
.card-link-more {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.card-link-git {
  align-items: center;
  color: #878788;
  display: flex;
  gap: 5px;
}

.card-link-git img {
  max-width: 26px;
}

.card-link-git span {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Paginado */
.paginado {
  display: flex;
  gap: 8px;
  margin-top: 60px;
}

.prev,
.next {
  width: 29px;
}

.prev img,
.next img {
  display: block;
  width: 100%;
}

.next {
  transform: rotate(180deg);
}

.paginado-number {
  background-color: #C4C4C4;
  border: none;
  color: #FFF;
  display: block;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
	font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.paginado-number.active {
  background-color: #000;
}

/* Recomendado */
.list-recommended {
  display: flex;
  border-top: 1px solid #C4C4C4;
  flex-direction: column;
  gap: 0;
  max-width: 350px;
  width: 100%;
}

.card-blog-xs .card-tag {
  background-color: #EDBED9;
  border-radius: 2px;
  color: #000;
  width: fit-content;
  margin-bottom: 11px;
}

.card-blog-xs .card-title {
  font-size: 16px;
  line-height: normal;
  margin: 0;
}

.card-blog-xs .card-image {
  position: relative;
  max-width: 102px;
  width: 100%;
}
.card-blog-xs .card-image img{
  width: 100%;
  max-width: 102px;
  height: 67px;
  object-fit: cover;
}
.blog-like,
.card-blog .card-image .card-like{
  position: absolute;
  top: 11px;
  right: 11px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #EDBED9;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card-link__detalle .blog-like,
.blog-detalle-date .blog-like{
  position: relative;
  top: inherit;
  right: inherit;
}
.card-link__detalle .blog-like img,
.blog-like img,
.card-blog .card-image .card-like img{
  width: 100%;
  max-width: 12px;
  object-fit: inherit;
}
.blog-like.active img.black,
.blog-like img.transparent,
.card-blog .card-image .card-like.active img.black,
.card-blog .card-image .card-like img.transparent{
  display: block;
}
.blog-like.active img.transparent,
.blog-like img.black,
.card-blog .card-image .card-like.active img.transparent,
.card-blog .card-image .card-like img.black{
  display: none;
}
.card-blog-xs .card-description {
  margin-bottom: 13px;
}
.card-blog-header{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 10px;
}
.card-blog-header .card-blog-title{
  padding-right: 10px;
  width: 100%;
}
.card-blog-header .card-blog-image{
  width: 100%;
  max-width: 102px;
}
/* Blog Detalle */
.blog-detalle {
  display: flex;
  row-gap: 15px;
  column-gap: 40px;
  /* gap: 80px; */
  margin-top: 40px;
  flex-wrap: wrap;
}

.blog-detalle-head {
  flex: 100%;
}

.line-vertical {
  border: none;
  width: 100%;
  max-width: 0.5px;
  background-color: #C4C4C4;
}

.blog-detalle-title {
  font-size: 34px;
  font-weight: 600;
}
.blog-detalle-image{
  margin: 25px 0;
}
.blog-detalle-image,
.blog-detalle-image img {
  display: block;
  width: 100%;
}
.blog-detalle-description{
  padding: 20px 0;
}
.blog-detalle-description.resumen{
  padding: 0;
}
.blog-detalle-description p + p {
  margin-top: 20px;
  text-align: justify;
}

.autor {
  margin-top: 20px;
}

.autor-image {
  float: left;
  margin-right: 10px;
  width: 67px;
}

.autor-image img {
  display: block;
  width: 100%;
}

.autor-name {
  font-size: 20px;
  font-weight: 600;
}

.autor-redes {
  display: flex;
  gap: 2px;
}

.autor-redes span,
.autor-redes a {
  display: block;
  text-decoration: none;
  max-width: 26px;
  width: 100%;
  cursor: pointer;
}

.autor-redes span img,
.autor-redes a img {
  display: block;
  width: 100%;
}

/* Noticias relacionadas */
.group-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card-related {
  max-width: 350px;
  width: 100%;
}
.card-related .card-image {
  max-width: unset;
}
.card-related .card-content {
  background-color: #000;
  padding: 15px 20px;
}
.card-related .card-title {
  color: #FFF;
  font-size: 16px;
  margin: 0px;
}

.card-related p {
  color: #FFF;
  margin: 10px 0;
}
/*
* Responsive general
*/
@media only screen and (max-width: 1024px) {
  .section-blog .container {
    width: 100%;
    padding: 0 25px;
  }
  .field-text a {
    font-size: 16px;
  }
  .filter {
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .field input,
  .field select {
    min-width: unset;
    max-width: 130px;
  }
  .section-blog .list-recommended,
  .section-blog .line-vertical {
    display: none;
  }
  .list-recommended {
    display: none;
  }
  .line-vertical{
    display: none;
  }
  .blog-detalle {
    margin-top: 15px;
  }
  .card-blog {
    width: 100%;
  }
  /* .card-blog .card-tag {
    display: none;
  } */
  .list-blog {
    padding-bottom: 15px;
  }
  .portada-blog .title-head{
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
  }

}
@media only screen and (max-width: 640px) {
  .filter {
    flex-wrap: wrap;
    gap: 15px;
  }
  .field input,
  .field select {
    min-width: 230px;
  }

  .field-btn {
    justify-content: space-between;
    width: 100%;
  }
  .card-blog {
    flex-direction: column;
  }
  .card-image {
    max-width: 100%;
  }
  .paginado {
    justify-content: center;
  } 
  .portada-blog .title-head{
    max-width: 350px;
  }
}