/*  Footer */
.sub-footer {
  background-color: #EDBED9;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-content>.image-rrss {
  display: none;
}

.footer-content .logo {
  width: 217px;
}

.footer-menu {
  display: grid;
  grid-template-areas: none;
  grid-gap: 10px;
  grid-template-areas:
    " area1 area3 area5"
    "area2 area4 area6";
  width: 65%;
}



[class^="footer-menu-item"] {
  list-style-type: none;
}

.footer-menu-item1 {
  grid-area: area1;
}

.footer-menu-item2 {
  grid-area: area2;
}

.footer-menu-item3 {
  grid-area: area3;
}

.footer-menu-item4 {
  grid-area: area4;
}

.footer-menu-item5 {
  grid-area: area5;
}

.footer-menu-item6 {
  grid-area: area6;
}

[class^="footer-menu-item"] li,
[class^="footer-menu-item"] a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  line-height: 1;
}

[class^="footer-menu-item"] li+li {
  margin-top: 10px;
}

.image-rrss {
  display: flex;
  align-items: center;
  gap: 5px
}

.image-rrss a {
  display: block;
  text-decoration: none;
  width: 24px;
}

.image-rrss img {
  display: block;
  width: 100%;
}

.image-pagos {
  max-width: 180px;
  width: 100%;
}

.image-pagos img {
  display: block;
  width: 100%;
}

/* Copy */
.copy {
  background-color: #000;
  padding: 4px 0;
}

.copy .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy p {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/*
* Responsive general
*/
@media only screen and (max-width: 1024px) {
  .footer-content .logo{
    width: 100%;
    max-width: 160px;
  }
  .footer-content {
    gap: 20px;
  }

  .footer-content .logo {
    width: 140px;
  }

  .footer-menu {
    grid-template-areas:
      "area5 area1"
      "area3 area2"
      "area4 area6";
  }
  .footer-menu-item6{
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
  }
}

/*
* Responsive general
*/
@media only screen and (max-width: 640px) {
  .footer-content {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footer-content .logo {
    margin: 0 auto;
    margin-bottom: 14px;
  }
  .footer-content>.image-rrss {
    display: flex;
  }
  .image-pagos {
    margin: 0 auto;
  }
  .footer-menu {
    width: 100%;
    grid-template-areas:
      "area1"
      "area2"
      "area5"
      "area3"
      "area4"
      "area6"
    ;
    transition: 0.6s;
    grid-gap: 0;
  }
  .footer-menu ul li{
    margin: 0;
    margin-bottom: 13px;
  }
  [class^="footer-menu-item"] {
    text-align: center;
  }
  .m-none {
    display: none;
  }
  [class^="footer-menu-item"] li.m-none + li {
    margin-top: 0;
  }
  .footer-menu-item6 {
    display: none;
  }
  .image-rrss {
    justify-content: center;
  }

  .copy p {
    text-align: center;
    font-size: 12px;
  }

  .footer-menu-item3 .correo {
    display: none;
  }
  .footer-menu ul li a{
    font-size: 14px;
  }
  .image-pagos img{
    max-width: 120px;
    margin: auto;
  }
}