.portada-reclamaciones {
	background-image: url('../img/bg-portada-reclamaciones.png');
	background-position: top center;
}
.form {
	max-width: 541px;
	margin: 0px auto 20px;
	border: 2px solid #EDBED9;
	border-radius: 15px;
	padding: 20px 0;
}
.form-title {
	color: #000;
	font-weight: 600;
	font-size: 35px;
	line-height: 1;
	text-align: center;
	margin: 20px auto 40px;
}
.form-field {
	align-items: center;
	border: 2px solid #EDBED9;
	border-radius: 10px;
	/* height: 52px; */
	display: flex;
	gap: 10px;
	margin: 20px auto;
	overflow: hidden;
	padding: 12px;
	width: calc(100% - 90px);
}
.form-field[disabled="true"]{
	opacity: .5;
	pointer-events: none;
}
.form-field-error {
	color: red;
	font-weight: 500;
	font-size: 14px;
	margin: -15px auto 0;
	width: calc(100% - 90px);
}
.form-field-error + p {
	margin-top: 0;
}
.form-field select,
.form-field input,
.form-field input::placeholder,
.form-field textarea {
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
	background-color: transparent;
	border-radius: 0;
	color: #000;
	font-family: "raleway";
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}
select {
	background-image: url('../img/flecha.png');
	/*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
	/*Evita que se muestre la flecha por defecto en versiones de IE*/
}
.form-field img {
	display: block;
	width: 25px;
	height: fit-content;
}
.form-field img.icon-eye{
	width: 100%;
	max-width: 26px;
	margin-top: -5px;
	cursor: pointer;
}
.group-radio {
	display: flex;
	gap: 30px;
	margin: 20px auto;
	width: calc(100% - 90px);
}
.radio {
	font-size: 16px;
	font-family: "raleway";
	font-weight: 500;
}
.parrafo,
.comentario {
	margin: 20px auto 0;
	width: calc(100% - 90px);
}
.parrafo-lr {
	text-align: justify;
}
.comentario p {
	font-size: 12px;
	font-family: "raleway";
	text-align: center;
	font-weight: 500;
	color: black;
}
.form-field-textarea {
	display: block;
}
.form-field-textarea label {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	font-family: "raleway";
	font-weight: 600;
}
.form-message {
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin: 26px auto;
	text-align: center;
	width: 100%;
}
.form-field-btn {
	flex: 100%;
}
.btn {
	background-color: #EDBED9;
	border: 2px solid #EDBED9;
	border-radius: 10px;
	color: #000;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 auto;
	padding: 9px 42px;
	text-decoration: none;
	width: fit-content;
	text-align: center;
}
.btn.btn-flex{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.btn[disabled]{
	opacity: .5;
	pointer-events: none;
}
.text-btn {
	display: none;
}
.input-apodo {
	border: 0;
	font-size: 35px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}
.form-tyc {
  margin: auto;
  max-width: 541px;
}
.form-tyc label {
	cursor: pointer;
	display: block;
}
.form-tyc a {
  color: #000;
  text-decoration: none;
}
.m-input{
	border-radius: 20px;
	padding: 12px 30px;
	position: relative;
}
.m-input.m-input--icon img{
	margin-right: 10px;
}
.m-input input{
	font-size: 20px;
}
.m-input input::-webkit-input-placeholder{
	color: #898989;
	font-size: 20px;
}
.m-input.m-input--icon .icon-check{
	position: absolute;
	margin: 0;
	right: 10px;
	width: 100%;
	max-width: 31px;
}
.m-checkbox{
	position: relative;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	display: block;
	cursor: pointer;
	padding-left: 25px;
}
.m-checkbox input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.m-checkbox .checkmark{
	position: absolute;
	top: 2PX;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #EEEEEE;
}
.m-checkbox input:checked ~ .checkmark {
	background-color: #EDBED9;
}
.m-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.m-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.m-checkbox .checkmark:after {
	left: 5px;
    top: 1px;
    width: 3px;
    height: 9px;
	border: solid #000000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.m-checkbox a{
	color: #000000;
}
.parrafo-btn {
	margin: auto;
	margin-top: 12px;
	text-align: center;
	max-width: 100%;
}
.m-form__tabs{
	width: 100%;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	border-top: 2px solid #EDBED9;
	padding: 0 20px;
}
.m-form__tabs .m-tabs__item{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	padding: 0 10px;
	height: 100%;
	cursor: pointer;
	position: relative;
	top: -2px;
	margin: 0 40px;
	opacity: .5;
}
.m-form__tabs .m-tabs__item.active{
	opacity: 1;
	border-top: 2px solid #000000;
}
.m-form__tabs .m-tabs__item img{
	margin-right: 6px;
}
.m-form__tabs .m-tabs__item p{
	font-size: 16px;
}
.m-form__grid{
	border: 2px solid #EDBED9;
	border-radius: 10px;
	padding: 35px 100px 45px 100px;
	position: relative;
}
.m-form__grid .m-form__title{
	text-align: center;
	margin-bottom: 40px;
}
.m-form__grid .m-form__title h2{
	font-size: 35px;
	font-weight: 800;
}
.m-form__grid .m-form__inputs{
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 25px;
}
.m-form__grid .m-form__inputs .m-input{
	margin: 0;
	width: 100%;
	border-radius: 10px;
}
.m-form__grid .m-form__inputs .m-input input{
	font-size: 16px;
}
.m-form__grid .m-form__inputs .m-input input::-webkit-input-placeholder{
	color: #000000;
	font-size: 16px;
}
.m-form__grid .m-form__inputs img{
	width: 100%;
	max-width: max-content;
}
.m-form__grid .m-form__menu{
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #EDBED9;
	width: 100%;
	max-width: 48px;
	height: 48px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	cursor: pointer;
}
.m-form__grid .m-form__menu img{
	margin-right: -3px;
}
.m-form__actions{
	width: 100%;
	max-width: 620px;
	margin: 45px auto;
}
.m-form__actions .m-checkbox{
	margin: 10px auto;
}
.m-form__actions .btn{
	margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
	.section-register .form {
		max-width: 400px;
	}
	.form-field-error,
	.form-field {
		width: calc(100% - 72px);
	}
	.form-field {
		padding: 8px 12px;
	}
	.section-register .form-tyc {
		max-width: 350px;
	}
	select {
		background-position: right center;
		background-size: 17px;
	}
	.text-btn {
		display: inline;
	}
	.comentario p {
		font-size: 10px;
		text-align: left;
		font-weight: 500;
	}
	.input-apodo{
		width: 100%;
		max-width: 280px;
	}
	.title-head {
		margin-top: 30px;
	}
}
@media only screen and (max-width: 640px) {
	.form-field {
		padding: 5px 7px;
		margin: 15px auto;
		width: calc(100% - 60px);
	}
	.form-field-error {
		width: calc(100% - 60px);
	}
	.title-head {
		font-size: 25px;
		line-height: normal;
	}
	.form-field select,
	.form-field input,
	.form-field input::placeholder,
	.form-field textarea {
		font-size: 14px;
	}
	.form-field img {
		width: 18px;
	}
	.btn {
		border-radius: 5px;
		font-size: 14px;
		padding: 7px 20px;
	}
}