/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

/* Import */
@import url('./swiper-bundle.min.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./home.css');
@import url('./blog.css');
@import url('./petcard.css');
@import url('./form.css');
@import url('./modal.css');

@import url('./evento.css');
@import url('./contacto.css');
@import url('./registrate.css');
@import url('./perfil.css');
@import url('./login.css');
@import url('./terminosCondiciones.css');
@import url('./TratamientoAdicionales.css');
@import url('./nosotros.css');
@import url('./property.css');


/* Etiquetas */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	line-height: 1.5;
}

body {
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	position: relative;
}

body.block {
	overflow: hidden;
}

section {
	padding: 100px 0;
}

p {
	color: #444;
	line-height: 1.5;
	font-size: 16px;
}

/*
* Clases generales
*/
.m-section--black{
	background-color: #000000;
}
.m-section{
	position: relative;
	padding: 0;
}
.m-container{
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 60px 20px;
	z-index: 0;
}
.m-title--portada,
.m-title{
	text-align: center;
}
.m-title{
	margin-bottom: 40px;
}
.m-title--portada h2,
.m-title h2{
	font-size: 50px;
	font-weight: 800;
	color: #FFFFFF;
	line-height: normal;
}
.m-title--portada p{
	font-size: 20px;
	color: #FFFFFF;
}
.m-title--portada .btn{
	margin-top: 20px;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	position: relative;
	width: 90%;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -.5rem;
	margin-left: -.5rem;
	margin-top: -.5rem;
	position: relative;
}

.col-flex {
	flex-grow: 1;
	flex-basis: 0;
	padding: .5rem;
	flex: 1;
}

.col--1,
.col--2,
.col--3,
.col--4,
.col--5,
.col--6,
.col--7,
.col--8,
.col--9,
.col--10,
.col--11,
.col--12 {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: .5rem
}

.col--1 {
	width: 8.3333%
}

.col--2 {
	width: 16.6667%
}

.col--3 {
	width: 25%
}

.col--4 {
	width: 33.3333%
}

.col--5 {
	width: 41.6667%
}

.col--6 {
	width: 50%
}

.col--7 {
	width: 58.3333%
}

.col--8 {
	width: 66.6667%
}

.col--9 {
	width: 75%
}

.col--10 {
	width: 83.3333%
}

.col--11 {
	width: 91.6667%
}

.col--12 {
	width: 100%
}


/*
* Responsive general
*/
@media only screen and (max-width: 1024px) {
	section {
		padding: 40px 0;
	}
	.container {
		width: 100%;
		padding: 0 50px;
	}
	.m-title--portada h2{
		font-size: 35px;
	}
	.m-title--portada p{
		font-size: 16px;
	}
	.m-title h2{
		font-size: 30px;
	}
	.m-title--portada .btn{
		margin-top: 16px;
	}
} 

/*
* Responsive general
*/
@media only screen and (max-width: 640px) {
	.container {
		padding: 0 20px;
	}
	.col--1,
	.col--2,
	.col--3,
	.col--4,
	.col--5,
	.col--6,
	.col--7,
	.col--8,
	.col--9,
	.col--10,
	.col--11,
	.col--12 {
		width: 100%;
	}
	.m-container{
		padding: 40px 20px;
	}
	.m-title{
		margin-bottom: 20px;
	}
	.m-title--portada h2,
	.m-title h2{
		font-size: 25px;
	}
	.m-title--portada p{
		font-size: 14px;
	}
}


