/* Header */
header {
  padding: 28px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
header.m-active{
  background-color: #000000;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2);
}
.header-evento {
  top: 0;
}
header .container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.burguer {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  position: relative;
}
.burguer span {
  display: block;
  background-color: #000;
  height: 4px;
  width: 30px;
}
.header-evento .burguer span {
  background-color: #FFF;
}
.logo {
  display: block;
  width: 217px;
}
.logo img {
  display: block;
  width: 100%;
}
.menu-list {
  display: flex;
  list-style-type: none;
  flex: 1;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  max-width: 50%;
}
.menu-list a {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 20px;
}
.m-sombra {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}
.menu {
  align-items: center;
  display: block;
  gap: 100px;
  justify-content: space-between;
  list-style-type: none;
  position: absolute;
}
.menu a {
  text-decoration: none;
  color: black
}
.menu-item {
  display: flex;
  gap: 30px;
}
.menu-item a {
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
header.scrolled:not(.header-evento) .menu-item a {
  color: #000;
}
.btn-line {
  border-radius: 5px;
  border: 1px solid #F4C1F0;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-line.active {
  background-color: #F4C1F0;
  color: #000;
}
.botton-dropdown{
  background: black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
}
.cajita{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.cajita img{
  cursor: pointer;
}
.menu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 330px;
  cursor: pointer;
  color: black;
  background: white;
  overflow: hidden;
  padding: 55px 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform .2s cubic-bezier(.4,0,.2,1);
  -moz-transition: transform .2s cubic-bezier(.4,0,.2,1);
  -ms-transition: transform .2s cubic-bezier(.4,0,.2,1);
  -o-transition: transform .2s cubic-bezier(.4,0,.2,1);
  transition: transform .2s cubic-bezier(.4,0,.2,1);
}
.menu .menu-close{
  position: absolute;
  right: 12px;
  top: 12px;
}
.menu a {
  border-bottom: 0.5px solid #C4C4C4;
  color: #000;
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 18px 40px;
  text-align: left;
  text-decoration: none;
  font-weight: 600;
}
.menu a:hover{
  background: pink;
  transition: 0.5s;
}
.menu.m-active{
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#toggle{
  display: none;
}
.menu a.menu-m{
  display:none;
}
/*
* Responsive general
*/
@media only screen and (max-width: 920px) {
  header {
    padding: 32px 0;
  }
  .logo {
    width: 162px;
  }
  .menu-list {
    display: none;
  }
  .menu a.menu-m{
    display: block;
  }
}


/*
* Responsive general
*/
@media only screen and (max-width: 640px) {

  /* Header */
  header {
    padding: 20px 0;
  }
  header .container {
    align-items: center;
  }
  .burguer {
    display: flex;
  }
  header .logo {
    justify-content: center;
  }
  .logo {
    max-width: 120px;
    margin: 0 auto 0 0;
  }
  .menu-item--btn {
    justify-content: center;
  }
  .btn-line {
    border: 2px solid #F4C1F0;
  }
  .menu{
    max-width: 250px;
  }
  .menu a{
    padding: 18px 28px;
  }
  .botton-dropdown{
    height: 40px;
    width: 85px;
  }
  .cajita{
    margin: 0 7px;
  }
}




