html, body {
  scroll-behavior: smooth;
}
[class^="portada"] {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0;
}

.swiper-wrapper{
  align-items: center;
}

.bg-opacity {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-head {
  color: #FFF;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  position: relative;
  text-align: center;
}

/* Portada */
.portada-evento {
  background-color: #000;
  height: 100vh !important;
}

.swiper.swp-evento {
  padding-bottom: 50px;
}

.swp-evento .swiper-pagination {
  bottom: 0;
}

.swp-evento .swiper-pagination-bullet {
  background-color: #FFF;
  border-radius: 0;
  height: 9px;
  opacity: 1;
  width: 50px;
}

.swp-evento .swiper-pagination-bullet-active {
  background-color: #EDBED9;
}

.slider-item {
  max-width: 892px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  display: block;
}
.slider-item:BEFORE{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
.slider-image-m {
  display: none;
}

/* Contenido Slider */
.slider-content {
  color: #FFF;
  position: absolute;
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.time {
  font-size: 96px;
  font-weight: 500;
}
.time span {
  font-size: 24px;
}

.time .two-point {
  font-size: 90px;
  margin: 0 30px 0 10px;
}

.date {
  font-size: 29px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}
.address {
  font-size: 16px;
  font-weight: 500;
}
.address p{
  color: #EDBED9;
  font-size: 16px;
  font-weight: 500;
}
.address p.white{
  color: #FFFFFF;
}
.slider-title {
  color: #FFF;
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  line-height: 1;
  width: 100%;
  z-index: 5;
}

.list-date {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
  margin-top: 23px;
  z-index: 5;
}

.list-date-item {
  color: #FFF;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.list-date-item.active {
  color: #EDBED9;
}

.list-date-item.past::before {
  content: url("../img/icono-lanzado.svg");
  background-size: cover;
  position: absolute;
  z-index: 1;
  display: block;
  right: -20px;
  top: 20px;
  transform: rotate(-20deg);
}

/*
* Responsive general
*/
@media only screen and (max-width: 1024px) {
  [class^="portada"] {
    height: 345px;
    padding: 0;
  }
  .title-head {
    font-size: 35px;
    line-height: 1;
  }
  .copy p{
    font-size: 14px;
  }
  .logo img{
    max-width: 162px;
  }
}


@media only screen and (max-width: 640px) {
 
  .portada {
    padding: 20px 0;
  }
  .portada .carousel-indicators li {
      width: 30px;
      height: 6px;
      border: 0;
  }
  

  .slider-image {
    display: none;
  }
  
  .slider-image-m {
    display: block;
  }
  
  .time .two-point,
  .time {
      font-size: 40px;
      font-weight: 500;
  }
  .time .two-point{
    margin-right: 16px;
  }
  .time span{
    font-size: 15px;
  }
  .date {
      font-size: 20px;
  }
  .address {
      font-size: 14px;
  }
  .slider-title {
      font-size: 25px;
  }
  .list-date{
    gap: 20px;
  }
  .copy-image{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  }
  .copy-image img{
    width: 100%;
    max-width: 30px;
  }
  .copy p{
    font-size: 9px;
  }
}