.m-loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.m-loading__container{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.m-loading__container img{
    width: 100%;
    max-width: 150px;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    transform-origin: 45px 15px;
    margin: auto;
    margin-right: 10px;
}
.lds-heart div {
    top: 28px;
    left: 28px;
    position: absolute;
    width: 28px;
    height: 28px;
    background: #EDBED9;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    background: #EDBED9;
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}