.portada-login {
  background-image: url('../img/bg-portada-login.png');
  background-position: top center;
  height: 100vh;
}
.text-white {
  color: white!important;
}
.portada-login .title-head {
  font-weight: 800;
  font-size: 35px;
  line-height: 1;
}
.parrafo-head {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
.portada-login form {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}
.form-login .form-field select,
.form-login .form-field input,
.form-login .form-field input::placeholder,
.form-login .form-field textarea {
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.portada-login input::placeholder {
  color: #FFF;
}
.portada-login .btn {
  margin: 20px auto;
  margin-bottom: 8px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.text-link,
.text-link a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}
.form-login .form-field {
  width: unset;
  max-width: 436px;
}
.form-login h2{
  margin-bottom: 10px !important;
  font-weight: 800;
}
.form-login .btn-login{
  margin-top: 20px;
}
.form-login .text-link-black a,
.form-login .text-link-black{
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 20px;
}
.form-login .message-error{
  font-size: 14px;
  text-align: left;
  width: 100%;
  max-width: 436px;
  margin: auto;
  color: red
}
/*
* Responsive general
*/
@media only screen and (max-width: 800px){
  .portada-login  {
    background-position:70%;
    transition: 0.6s;
  }
  .form-login .btn{
    font-size: 14px;
    padding: 5px 10px;
    height: 35px!important;
    min-width: 150px !important;
    transition:0.6s;
  }
  .form-login .form-field {
    padding: 8px;
  }
}