/* MODAL */
.modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	align-items: center;
	justify-content: center;
}
.modal.open {
	display: flex;
	display: -webkit-flex;
}
.modal-content {
	background-color: #FFF;
	border-radius: 10px;
	border: 1px solid #000;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.modal-content.modal-content-registro{
	flex-direction: column;
}
.modal-head {
	background-color: #EDBED9;
	padding: 10px 0;
}
.modal-content.modal-content-registro .modal-head{
	width: 100%;
}
.modal-image {
	margin: 0 auto;
	width: 215px;
}
.modal-image img {
	display: block;
	width: 100%;
}
.modal-body {
	margin: 0 auto;
	padding: 40px 0;
	width: 90%;
	max-width: 600px;
}
.modal-body p {
	color: #000;
	font-size: 22px;
	line-height: 1.2;
}
.modal-body .form-field-error{
	color: red;
    font-weight: 500;
    font-size: 14px;
	text-align: left;
	width: 100%;
	margin-top: -25px;
	margin-left: 5px;
}
.modal-body .btn {
	height: 44px !important;
	width: fit-content;
	min-width: 140px !important;
	margin-top: 30px;
}
.modal-custom{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	background-color: #000000da;
	z-index: 999;
}
.modal-custom .modal-content{
	width: 100%;
	background-color: transparent;
	border: none;
	border-radius: 0;
	height: 100%;
}
.modal-custom .modal-content .modal-container{
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.modal-custom .modal-content .modal-container .modal-head{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	position: relative;
}
.modal-custom .modal-content.modal-content-sm{
	max-width: 425px;
	height: 100%;
}
.modal-custom .modal-content.modal-content-md{
	max-width: 625px;
}
.modal-custom .modal-content.modal-content-lg{
	max-width: 845px;
	height: 100%;
}
.modal-custom .modal-content .modal-container .modal-close{
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	width: 100%;
	max-width: 17px;
}
.modal-custom .modal-content .modal-container .modal-close{
	width: 100%;
	max-width: 24px;
}
.modal-custom .modal-content .modal-container .modal-close img{
	width: 100%;
}
.modal-custom .modal-content .modal-container .modal-head .modal-close{
	position: absolute;
	top: 6px;
	right: 8px;
	cursor: pointer;
}
.modal-custom .modal-content .modal-container .modal-body{
	width: 100%;
	max-width: 100%;
	background-color: #FFFFFF;
	padding: 30px 50px;
}
.modal-custom .modal-content .modal-container .modal-body h2{
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 30px;
}
.modal-custom .modal-content .modal-container .modal-body .modal-grid-image{
	display: grid;
    grid-template-columns: repeat(auto-fill,minmax(165px,1fr));
    grid-gap: 60px;
	width: 100%;
	max-width: 660px;
	margin: auto;
}
.modal-custom .modal-content .modal-container .modal-body .modal-grid-image .m-item__image{
	width: 169px;
	height: 169px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	cursor: pointer;
	position: relative;
}
.modal-custom .modal-content .modal-container .modal-body .modal-grid-image .m-item__image img{
	width: 100%;
}
.modal-custom .modal-content .modal-container .modal-body .m-input{
	margin-bottom: 40px;
	border-radius: 10px;
	width: 100%;
}
.modal-custom .modal-content .modal-container .modal-body .m-input.color-danger input{
	color: #FF0808;
}
@media only screen and (max-width: 1024px) {
	.modal-content {
		max-width: 430px;
	}
	.modal-body .btn {
		min-width: 146px !important;
	}
	.modal-body {
		padding: 20px 0;
	}
	.modal-body p {
		font-size: 16px;
	}
	.modal-custom .modal-content.modal-content-lg{
		max-width: 558px;
	}
	.modal-custom .modal-content .modal-container .modal-body h2{
		font-size: 25px;
	}
	.modal-custom .modal-content .modal-container .modal-body .modal-grid-image{
		grid-template-columns: repeat(auto-fill,minmax(112px,1fr));
		grid-gap: 40px;
		max-width: 435px;
	}
	.modal-custom .modal-content .modal-container .modal-body .modal-grid-image .m-item__image{
		width: 111.5px;
    	height: 111.5px;
	}
	.modal-custom .modal-content .modal-container .modal-body .m-input{
		padding: 12px 20px;
	}
}
@media only screen and (max-width: 640px) {
	.modal-custom .modal-content.modal-content-lg{
		max-width: 315px;
	}
	.modal-custom .modal-content .modal-container .modal-body h2{
		font-size: 20px;
	}
	.modal-custom .modal-content .modal-container .modal-body .modal-grid-image{
		grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
		grid-gap: 25px;
		max-width: 130px;
	}
	.modal-body p {
		font-size: 14px;
	}
	.modal-custom .modal-content .modal-container .modal-body{
		padding: 40px 25px;
	}
	.modal-text-lead,
	.modal-text-xs{
		font-size: 14px;
	}
}