.portada-nosotros {
	background-image: url('../img/woman-portada.png');
	background-position: top center;
	height: 650px;
	padding-top: 40px;
}
.portada-nosotros .title-head{
	font-size: 45px;
	width: 100%;
	max-width: 850px;
	margin: auto;
}
.title-about {
	margin: auto;
	max-width: 800px;
	text-align: center;
	width: 100%;
}

.title-about h4 {
	color: #000;
	font-size: 40px;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	line-height: normal;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	margin: 0 auto 20px;
	width: 100%;
}

.title-about h4::after {
	content: '';
	width: 100%;
	max-width: 220px;
	height: 2px;
	background-color: #EDBED9;
}

.title-about hr {
	border: none;
	border-top: 2px solid #EDBED9;
	margin: 20px auto;
	width: 220px;
}

.title-about p {
	color: #000;
	font-size: 20px;
	line-height: 1.2;
}

.title-about .btn {
	margin-top: 40px;
}

/* SLIDE */

.swp-nosotros {
	margin-top: 40px;
}

.swp-nosotros .swiper-slide {
	opacity: 0.4;
	transition: 1s;
}
.swp-nosotros .swiper-wrapper{
	align-items: flex-start;
}

.swp-nosotros .swiper-slide.swiper-slide-next {
	opacity: 1;
}

.slide {
	display: block;
	max-width: 400px;
	width: 100%;
}

.slide-image img {
	display: block;
	width: 100%;
}

/* Slide text */
.slide-text {
	color: #000000;
	opacity: 0;
	text-align: center;
	transition: 0.5s;
}

.swiper-slide.swiper-slide-next .slide-text {
	opacity: 1;
}

.slide-text h4 {
	margin-top: 25px;
	font-size: 25px;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	line-height: 1;
}

.slide-text p {
	font-size: 16px;
	font-weight: 500;
	margin-top: 12px;
}

/* seccion item*/
.section-black {
	background-color: #000000;
}

.section-black .title-about h4,
.section-black .title-about p {
	color: #FFF;
}

/* Valores */
.group-values {
	display: grid;
	flex-wrap: wrap;
	justify-content: space-evenly;
	grid-template-columns: 240px 240px 240px;
	row-gap: 100px;
	margin: 50px auto 0;
	width: 100%;
}

.value {
	text-align: center;
}

.value-image {
	display: block;
	margin: 0 auto;
}

.value-image img {
	display: block;
	height: 100px;
	object-fit: contain;
	object-position: center;
	margin: 0 auto;
	width: 100px;
}

.value-text {
	text-align: center;
	color: #FFF;
	font-size: 20px;
	margin-top: 20px;
}

.value-text b {
	color: #EDBED9;
	display: block;
}

/* Mision Vision */
.section-mission {
	padding: 0;
}

.block-mission {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
}

.block-mission .title-about {
	max-width: 400px;
	line-height: 23px;
	font-weight: 600;
}

.block-mission-image img {
	display: block;
	width: 100%;
}

/* Suscribete */
.group-points {
	display: grid;
	grid-template-columns: 110px 110px 110px 110px;
	justify-content: space-evenly;
	margin-top: 60px;
	gap: 20px;
	width: 100%;
}

.point {
	text-align: center;
}

.point-text {
	color: #FFF;
	font-size: 16px;
}

.point-text b {
	font-weight: 500;
	font-size: 40px;
}

.point-image img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	object-fit: contain;
	object-position: center;
}

@media only screen and (max-width: 1024px) {
	.portada-nosotros{
		height: 345px;
	}
	.portada-nosotros .title-head {
		font-size: 30px;
		line-height: 1.3;
		max-width: 575px;
	}
	.history {
		margin: 0 auto;
	}
	.history .container {
		width: 84%;
	}
	.title-about h4 {
		font-size: 25px;
		gap: 5px;
	}
	.title-about p {
		margin: 0 auto;
		font-size: 14px;
		font-weight: 500;
		max-width: 400px;
	}
	.title-about p i {
		margin-top: 5px;
		display: block;
	}
	.title-about h4::after{
		max-width: 117px;
	}
	.section-black .title-about p {
		width: 100%;
	}

	.section-black .title-about .btn {
		margin-top: 22px;
	}

	.section-black .title-about hr {
		margin-bottom: 0px;
	}

	.swp-nosotros {
		margin-top: 20px;
	}

	.swiper-slide .slide-text h4 {
		margin-top: 12px;
		font-size: 20px;
	}

	.swiper-slide .slide-text p {
		font-size: 14px;
		margin-top: 4px;
	}

	.group-values {
		grid-template-columns: 170px 170px 170px;
		row-gap: 50px;
		margin-top: 30px;
	}

	.point-image img,
	.value-image img {
		height: 54px;
		width: 54px;
	}

	.value-text {
		font-size: 14px;
	}

	.block-mission .title-about {
		max-width: 230px;
	}

	.point-text {
		font-size: 14px;
	}

	.point-text b {
		font-size: 25px;
	}
}

/* Responsive general*/
@media only screen and (max-width: 640px) {
	.portada-nosotros{
		height: 305px;
	}
	.portada-nosotros .title-head {
		font-size: 25px;
		line-height: normal;
		margin-top: 30px;
	}

	.title-about hr {
		margin: 10px auto;
		width: 58%;
	}

	.title-about h4 {
		font-size: 25px;
		gap: 10px;
	}

	.title-about h4::after {
		width: 220px;
	}

	.history .container {
		width: 87%;
	}

	.history .title-about p {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2;
		width: 88%;
		margin: 0 auto;
		padding-bottom: 0px;
	}

	.history .title-about i {
		display: block;
		margin-top: 16px;
	}

	.swp-nosotros {
		margin-top: 20px;
	}

	.swp-nosotros .swiper-slide.swiper-slide-active {
		opacity: 1;
	}

	.swiper-slide.swiper-slide-active .slide-text {
		opacity: 1;
	}

	.swiper-slide .slide-text h4 {
		margin-top: 20px;
	}

	.section-black {
		padding: 80px 0;
	}

	.group-values {
		grid-template-columns: 170px 170px;
		row-gap: 60px;
		margin-top: 40px;
	}

	.point-image img,
	.value-image img {
		height: 70px;
		width: 70px;
	}

	.value-text {
		font-size: 14px;
	}

	.block-mission {
		display: flex;
		flex-direction: column;
	}

	.block-mission-image {
		order: -1;
	}

	.block-mission-text {
		padding: 50px 0;
	}

	.block-mission .title-about hr {
		width: 220px;
		margin: 0 auto 20px;
	}

	.parrafo.parrafo-xs {
		max-width: 220px;
		line-height: 1.2;

	}

	.title-about .sumate {
		width: 200px;
		margin: 0 auto;
	}

	.section-black .title-about .btn {
		font-size: 14px;
		border-radius: 5px;
		margin-top: 30px;
		line-height: 1;
		height: unset !important;
		padding: 7px 35px;
	}

	.group-points {
		grid-template-columns: 90px 90px;
		gap: unset;
		row-gap: 50px;
		margin-top: 30px;
	}

	.point {
		max-width: 100%;
	}
	.title-about h4::after{
		max-width: 220px;
	}

	.title-about p i.m-mobile{
		max-width: 165px;
		margin: auto;
		margin-top: 16px;
	}
}