/* Encabezado de perfil */
.portada-perfil {
	background: #000;
}
.portada-perfil .petcard-head {
	margin: 0 auto;
	line-height: 1.5;
}
.portada-perfil .petcard-head span {
	line-height: unset;
}
.profile-title .petcard-image {
	max-width: 506px;
}
.petcard-code{
	position: absolute;
	left: 40px;
	top: 75px;
}
.profile-head {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px auto 0;
	min-height: 150px;
	position: relative;
	width: 90%;
}
.profile-image {
	max-width: 150px;
	position: absolute;
	width: 100%;
	left: 0;
}
.profile-image.relative{
	position: relative;
	margin: auto;
}
.profile-image .image-circle{
	width: 100%;
	max-width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}
.profile-image img {
	display: block;
	width: 100%;
}
.profile-image-edit {
	display: block;
	width: 100%;
	max-width: 30px;
	position: absolute;
	right: 5px;
	top: 0;
	cursor: pointer;
	background-color: #FFFFFF;
}
.profile-image-edit img{
	cursor: pointer;
	width: 100%;
}
.m-item__image .input-file{
	opacity: 0;
	position: absolute;
	cursor: pointer;
	height: 100%;
	width: 100%;
}
.profile-title {
	margin: 0 auto;
	width: calc(100% - 300px);
}
.profile-title-head {
	font-size: 50px;
	margin-bottom: 8px;
	text-align: center;
}
.profile-coins {
	align-items: center;
	color: #000;
	display: flex;
	font-size: 22px;
	font-weight: 600;
	gap: 5px;
	justify-content: center;
	text-align: center;
}
.profile-coins .profile-icono-rockocoin{
	position: relative;
}
.profile-coins img {
	display: block;
	width: 33px;
	margin-right: 5px;
	cursor: pointer;
}
.profile-coins .profile-icono-rockocoin .profile-popup{
	position: absolute;
	background: url("../img/profile-popup.png") no-repeat center center;
	background-size: contain;
	width: 217px;
	height: 106px;
	padding: 10px 18px;
	top: -100px;
	left: -50px;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.profile-coins .profile-icono-rockocoin:hover .profile-popup{
	opacity: 1;
	pointer-events: all;
}
.profile-coins .profile-popup h2{
	font-size: 16px;
}
.profile-coins .profile-popup p{
	font-size: 12px;
	margin: 0;
}
/* Formulario de perfil */
.form-perfil .form {
	max-width: unset;
	margin: 60px auto 0;
	padding: 40px 0;
	width: 100%;
	position: relative;
}
.form-title.other-title{
	margin-top: 50px;
}
.form-perfil.other-form .form{
	margin-top: 0;
}
.form-content {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	margin: 0 auto;
	width: calc(100% - 18%);
}
.form-content .form-title-icono {
	flex: 100%;
	text-align: left;
	margin-bottom: 0px;
}
.form-content .form-title-icono.form-title-flex h2{
	font-size: 30px;
}
.form-content .form-title-icono img {
	margin-right: 10px;
}

.form-content.form-content-out {
	width: 90%;
}
.form-perfil .form-field {
	flex: 40%;
	margin: 0;
	min-width: 220px;
}
.form-perfil .form-field .w-80 {
	flex: 80% !important;
}
.form-perfil .btn {
	margin-top: 30px;
}
.form-perfil .btn.btn-guardar{
	margin: 30px auto 15px auto;
}
.form-block {
	display: flex;
	gap: 25px;
	flex-direction: column;
	flex: 1;
}
.form-block .form-title {
	margin-bottom: 0;
	margin-left: 0;
}
.form-block .form-field {
	width: unset;
}
.link-addmore {
	color: #000;
	display: flex;
	gap: 5px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	margin: 20px 0;
	cursor: pointer;
}
.link-addmore img {
	width: 26px;
}
/* Step */
.step {
	width: 90%;
	display: block;
	margin: 40px auto 0;
	font-size: 16px;
	font-weight: 600;
	list-style-type: none;
}
.progreso {
	counter-reset: step;
	list-style-type: none;
}
.progreso li {
	float: left;
	width: 33%;
	position: relative;
	text-align: center;
}
.progreso li:first-child {
	text-align: left;
}
.progreso li:last-child {
	text-align: right;
}
.progreso li::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background-color: #EDBED9;
	top: 20px;
	left: 0;
	z-index: 0;
}
.progreso li span {
	border: 1px dashed black;
	border-radius: 100%;
	background-color: #FFF;
	border: 2px solid #EDBED9;
	display: block;
	height: 40px;
	width: 40px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.progreso li:first-child span {
	margin: 0 auto 0 0;
}

.progreso li:last-child span {
	margin: 0 0 0 auto;
}

.progreso li.active span {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #EDBED9;
	background-size: 24px;
}

.progreso li.active span {
	background-image: url('../img/icono-huella-negra.svg');
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: none !important;
}
.close-mascota{
	position: absolute;
	right: 15px;
	top: 18px;
	cursor: pointer;
}
@media only screen and (max-width: 1024px) {
	.petcard-code{
		position: absolute;
		left: 25px;
		top: 40px;
	  }
	.petcard-code img{
		width: 100%;
		max-width: 25px;
	}
	.petcard-title{
		font-size: 10px;
	}
	.portada-perfil {
		padding-top: 80px;
		height: 345px;
  	}
	.step {
		width: 100%;
	}
	.profile-head {
		margin-top: 0px;
		min-height: 85px;
	}
	.profile-image {
		max-width: 90px;
	}
	.profile-image .image-circle{
		height: 90px;
	}
	.profile-image-edit{
		max-width: 17px;
	}
	.profile-title {
		width: calc(calc(100% - 170px));
	}
	.profile-title-head {
		font-size: 30px;
	}
	.profile-coins {
		font-size: 14px;
	}
	.form-perfil .form {
		width: 100%;
		margin-top: 20px;
		padding: 24px 0 33px;
	}
	.form-perfil .form-content {
		gap: 13px 20px;
	}
	.form-perfil .form-title {
		font-size: 20px;
		margin: 0 0 20px;
	}
	.profile-image.relative {
		margin-bottom: 20px;
	}
	.form-title.other-title,
	.form-content .form-title-icono.form-title-flex h2{
		font-size: 20px;
		text-align: center;
	}
	.form-title.other-title{
		margin: 30px auto 20px auto;
	}
}

@media only screen and (max-width: 640px) {
	.portada-perfil {
		padding-top: 50px;
		height: 305px;
  	}
	.portada-perfil  .petcard-item{
		height: 155px;
		max-width: 240px;
		margin: 0;
	}
	.portada-perfil .group-petcard{
		justify-content: center;
	}
  	.petcard-item-text {
		display: none;
	}
	.step {
		margin-top: 0;
	}
	.section-profile .container {
		width: 83.5%;
	}
	.section-profile .petcard-head {
		color: #000;
		line-height: 1.3;
		font-size: 20px;
		margin: 60px auto 10px;
		text-align: center;
	}
	.progreso li {
		font-size: 10px;
	}
	.progreso li::before {
		top: 9px;
	}
	.progreso li span {
		height: 20px;
		width: 20px;
	}
	.progreso li.active span {
		background-size: 12px;
	}
	.profile-head {
		flex-direction: column;
	}
	.profile-image {
		position: relative;
		margin: 20px 0 15px 0;
	}
	.profile-title {
		width: 100%;
	}
	.form-perfil .form-content {
		gap: 13px;
	}
	.form-perfil .form-field {
		padding: 5px 7px;
	}
	.form-perfil .input-apodo {
		width: calc(100% - 25px);
		font-size: 20px;
		text-align: left;
	}
	.form-content .form-title-icono img {
		width: 15px;
	}
	.form-title.form-title-icono{
		max-width: 200px;
		margin: auto;
	}
	.close-mascota{
		max-width: 20px;
		right: 10px;
		top: 10px;
	}
	.close-mascota img{
		width: 100%;
	}
	.petcard-code{
		left: 20px;
		top: 35px;
	}
	.petcard-code img{
		max-width: 20px;
	}
}