.petcard {
  background-image: url('../img/rockocard.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #EDBED9;
  padding: 35px 35px 20px;
}

.petcard-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.petcard-number {
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  max-width: 355px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
}

.petcard-number span {
  line-height: 1;
}

.petcard-value {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.petcard-name {
  width: 60%;
}

.petcard-name1 {
  color: #fff;
  font-size: 7px;
}

.petcard-name1 b {
  font-size: 12px;
  margin-left: 5px;
}

.petcard-name2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px 0 10px;
}

.petcard-name3 {
  color: #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  font-size: 7px;
  text-transform: uppercase;
  padding: 0 10px;
  width: fit-content;
}

.petcard-coordinates {
  color: #EDBED9;
  font-size: 5.5px;
  width: 35%;
}

@media only screen and (max-width: 1024px) {
  .petcard {
    padding: 15px 20px;
  }
  .petcard-title {
    font-size: 10px;
  }
  .petcard-number {
    margin-top: 10px;
    font-size: 14px;
    max-width: 230px;
  }
  .petcard-name2 {
    font-size: 10px;
    margin: 0 0 5px;
  }
}

@media only screen and (max-width: 640px) {
  .petcard-number {
    font-size: 12px;
    max-width: 170px;
  }
}
