.portada-alquila-propiedad{
    background-image: url('../img/fondo-alquila-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-edita-propiedad{
    background-image: url('../img/fondo-edita-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-propiedad{
    background-image: url('../img/fondo-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-contacto-persona{
    background-image: url('../img/fondo-contacto-persona-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-informacion-propiedad{
    background-image: url('../img/fondo-informacion-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-ambientes-propiedad{
    background-image: url('../img/fondo-ambientes-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-videos-propiedad{
    background-image: url('../img/fondo-videos-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-disponibilidad-propiedad{
    background-image: url('../img/fondo-disponibilidad-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.portada-paquetes-propiedad{
    background-image: url('../img/fondo-paquetes-propiedad-desktop.jpg');
    background-position: top center;
    padding-top: 20px;
}
.m-hogar{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}
.m-hogar .m-hogar__content{
    width: 100%;
    max-width: max-content;
    text-align: center;
    height: 625px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.m-hogar .m-hogar__content .m-hogar__item{
    padding: 0 10px;
}
.m-hogar .m-hogar__content .m-hogar__item p{
    color: #FFFFFF;
    font-size: 35px;
    width: 100%;
    max-width: 300px;
}
.m-hogar .m-hogar__image{
    width: 100%;
    max-width: 400px;
}
.m-hogar .m-hogar__image img{
    width: 100%;
}
.m-edit__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
}
.m-edit__grid.contact{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 50px;
    max-width: 720px;
}
.m-edit__grid .m-edit__item{
    border: 3px solid #EDBED9;
    border-radius: 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.m-edit__grid .m-edit__item.m-disabled{
    border: 3px solid #C4C4C4;
    background-color: #C4C4C4;
}
.m-edit__grid .m-edit__item.m-disabled .m-icon img{
    filter: brightness(0) invert(0);
}
.m-edit__grid.contact .m-edit__item{
    max-width: 320px;
    padding: 60px 40px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.m-edit__grid .m-edit__item .m-icon{
    width: 100%;
    max-width: 105px;
}
.m-edit__grid .m-edit__item .m-check{
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0;
}
.m-edit__grid .m-edit__item .m-check img{
    width: 100%;
    max-width: 30px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.m-edit__grid .m-edit__item .m-icon img{
    width: 100%;
}
.m-edit__grid .m-edit__item p{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.m-edit__grid.contact .m-edit__item:HOVER,
.m-edit__grid .m-edit__item.m-active{
    background-color: #EDBED9;
}
.m-edit__grid .m-edit__item.m-active .m-check{
    opacity: 1;
}
.m-edit__grid.contact .m-edit__item:HOVER .m-icon img,
.m-edit__grid .m-edit__item.m-active .m-icon img{
    filter: brightness(0) invert(0);
}
.my-properties{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-gap: 35px;
}
.my-property__item{
    border: 2px solid #EDBED9;
    border-radius: 10px;
    padding: 27px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: 465px;
    position: relative;
}
.my-property__item .m-item__video{
    width: 100%;
    max-width: 265px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EDBED9;
    border-radius: 10px;
    height: 100%;
}
.my-property__item .m-item__video .m-image img{
    width: 100%;
    max-width: max-content;
}
.my-property__item .m-item__content{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.my-property__item .m-item__content .m-content h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 8px;
}
.my-property__item .m-item__content .m-content .btn{
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    padding: 9px 20px;
    font-size: 18px;
}
.my-property__item  .m-item__menu{
    position: absolute;
    top: 27px;
    right: 27px;
}
.my-property__item  .m-item__menu:HOVER .m-menu__container{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.my-property__item  .m-item__menu .m-menu__burger{
    width: 100%;
    max-width: 29px;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 10px;
}
.my-property__item  .m-item__menu .m-menu__burger span{
    display: block;
    width: 100%;
    content: '';
    background-color: #000000;
    height: 3px;
    border-radius: 50px;
    margin: 5px 0;
}
.my-property__item  .m-item__menu .m-menu__container{
    width: 100%;
    max-width: max-content;
    border: 2px solid #EDBED9;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    visibility: hidden;
    background-color: #FFFFFF;
}
.my-property__item  .m-item__menu .m-menu__container .m-menu__item{
    padding: 10px 20px;
    border-bottom: 2px solid #EDBED9;
    text-align: left;
}
.my-property__item  .m-item__menu .m-menu__container .m-menu__item:last-child{
    border: none;
}
.my-property__item  .m-item__menu .m-menu__container .m-menu__item p{
    cursor: pointer;
    font-weight: 700;
}
@media only screen and (max-width: 1024px) {
    .m-hogar .m-hogar__content{
        height: 100%;
        justify-content: flex-start;
    }
    .m-hogar .m-hogar__content .m-hogar__item{
        margin: 50px 0;
    }
    .m-hogar .m-hogar__content .m-hogar__item p{
        font-size: 18px;
        max-width: 230px;
    }
    .m-hogar .m-hogar__image{
        max-width: 275px;
    }
    .m-edit__grid{
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        grid-gap: 30px;
        max-width: 600px;
    }
    .m-edit__grid.contact{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        grid-gap: 40px;
        max-width: 450px;
    }
    .m-edit__grid .m-edit__item{
        border: 2px solid #EDBED9;
        max-width: 150px;
        padding: 20px;
    }
    .m-edit__grid.contact .m-edit__item{
        max-width: 195px;
        padding: 30px 25px;
    }
    .m-edit__grid .m-edit__item .m-icon{
        max-width: 75px;
    }
    .m-edit__grid .m-edit__item p{
        font-size: 18px;
    }
    .m-edit__grid .m-edit__item .m-check img{
        max-width: 21px;
    }
}
@media only screen and (max-width: 640px) {
    .m-hogar{
        margin: 20px auto;
    }
    .m-hogar .m-hogar__content .m-hogar__item{
        margin: 20px 0;
    }
    .m-hogar .m-hogar__content .m-hogar__item p{
        font-size: 12px;
        max-width: 125px;
    }
    .m-hogar .m-hogar__image{
        max-width: 140px;
    }
    .m-edit__grid{
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
        grid-gap: 20px;
        max-width: 300px;
    }
    .m-edit__grid.contact{
        grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
        grid-gap: 20px;
        max-width: 290px;
    }
    .m-edit__grid .m-edit__item{
        max-width: 130px;
    }
    .m-edit__grid.contact .m-edit__item{
        max-width: 130px;
        padding: 10px 5px;
    }
    .m-edit__grid .m-edit__item .m-icon{
        max-width: 60px;
    }
    .m-edit__grid .m-edit__item p{
        font-size: 14px;
    }
    .m-edit__grid .m-edit__item .m-check img{
        max-width: 18px;
    }
}