/* Register */
.portada-register {
  background-image: url('../img/bg-portada-register.png');
  background-position: top center;
}
.portada-register .title-head{
  width: 100%;
  max-width: 850px;
  margin: auto;
}
.section-register .profile-head {
  min-height: unset;
  margin-bottom: 30px;
}

.section-register .profile-title-head {
  font-size: 35px;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-register .text-link,
.form-register .text-link a {
  color: #000;
}

.form-register .btn {
  margin: 25px auto 12px;
}

/* Secci[on Negra */
.section-petcard {
  background-color: #000;
}
.section-petcard.white{
  background-color: #FFFFFF;
}
.section-petcard.white .petcard-image p,
.section-petcard.white .petcard-list,
.section-petcard.white .petcard-subtitle,
.section-petcard.white .petcard-head span,
.section-petcard.white .petcard-head{
  color: #000000;
}
.petcard-actions{
  margin-top: 25px;
  width: 100%;
  max-width: 240px;
}
.petcard-actions .btn{
  width: 100%;
}
.group-petcard {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.petcard-item.column{
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
  margin: 0;
  height: 100%;
  position: initial;
}
.petcard-item.column .petcard-head{
  font-size: 50px;
}

.petcard-item {
  width: 100%;
  max-width: 502px;
  height: 324px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-left: 50px;
  position: relative;
}
.petcard-item .petcard{
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.petcard-image {
  max-width: 506px;
  margin: 0 auto;
  width: 100%;
}

.petcard-head {
  text-align: left;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  width: fit-content;
}


.petcard-head span {
  color: #EDBED9;
  display: block;
}

.petcard-subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
.petcard-subtitle img{
  width: 100%;
  max-width: 22px;
  margin-bottom: -4px;
  margin-right: 3px;
}
.petcard-list {
  color: #fff;
  display: block;
  padding-inline-start: 20px;
  padding-top: 10px;
}

.petcard-list li {
  font-size: 20px;
  line-height: 1.5;
}

.petcard-image p {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}

.petcard-image img {
  display: block;
  width: 100%;
}

/* Confirmado */
.confirmado {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  font-size: 22px;
}

.confirmado p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.confirmado p b {

  font-weight: 700;
  color: #000;
}
.section-register .profile-coins{
  width: 100%;
  max-width: 565px;
  margin: auto;
}
/* Responsive card*/
@media only screen and (min-width: 1450px){
  .portada-register .title-head{
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .petcard-item.column .petcard-head{
    font-size: 25px;
  }
  .petcard-item{
    max-width: 285px;
    height: 185px;
  }
  /* Register */
  .portada-register {
    padding: 20px;
  }
  .portada-register .title-head{
    font-size: 25px;
    max-width: 425px;
    line-height: normal;
    margin-top: 30px;
  }
  .section-petcard {
    padding: 70px 0;
  }

  .petcard-head {
    font-size: 34px;
  }

  .petcard-subtitle {
    font-size: 14px;
    margin: 10px 0;
  }

  .petcard-list li {
    font-size: 14px;
    line-height: 1.2;
  }

  .petcard-image p {
    font-size: 14px;
  }
  
  /* Confirmado */
  .section-respuesta {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-self: center;
    min-height: 50vh;
  }
}

@media only screen and (max-width: 640px) {
  .portada-register{
    height: 305px;
  }
  .portada-register .title-head{
    max-width: 305px;
    margin-top: 90px;
  }
  .section-petcard .group-petcard {
    flex-direction: column-reverse;
    padding-top: 80px;
    position: relative;
    gap: 10px;
  }
  .section-petcard .petcard-head {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
  }
  .section-petcard .petcard-subtitle {
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
  }
  .form-register .form-field {
    width: calc(100% - 60px);
    padding: 4px 8px;
  }
  .confirmado {
    width: 70%;
    margin: 0 auto;
  }
  .confirmado p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height:1.2 ;
  }
  .petcard-image{
    max-width: 270px;
  }
  .section-respuesta {
    min-height: unset;
  }
  .section-petcard .petcard-item{
    margin: 15px auto;
  }
  .petcard-actions{
    margin: auto;
    margin-top: 25px;
  }
}