.portada-terminos{
   background-image: url('../img/cat-face.png');
   background-position: top center;
 }
.terminos-condiciones p span,
.terminos-condiciones p{
  margin-bottom: 12px;
  font-size: 16px;
}
.terminos-condiciones p span{
  text-decoration: underline;
  display: inline-block;
}
.terminos-condiciones ul{
  padding-left: 24px;
  margin-bottom: 12px;
}
.terminos-condiciones ul.lista-letras{
  list-style-type: lower-latin;
}
.terminos-condiciones ul.lista-letras li{
  margin-bottom: 12px;
}
 .title-terminos {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0px;
 }

 .terminos-text {
  padding-top: 20px;
  font-size: 16px;
  color: #000000;
  line-height: 18px;
  text-align: justify;
 }

 .terminos-text span{
  font-size: 25px;
 }