<template>
    <body>
        <Menu />
        <section id="section" class="portada-ambientes-propiedad">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>¿Qué incluye cada ambiente?</h2>
                    <p>Selecciona cada ambiente de tu propiedad.</p>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
                
            </div>
        </section>
        <Footer />
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {

    };
  },
  methods: {

  },
};
</script>