<template>

  <body>
    <Menu />

    <section class="portada-blog">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Para que más historias Pet sean contadas</div>
      </div>
    </section>

    <section class="section-blog">
      <div class="container">
        <div class="filter">
          <div class="field field-text">
            <a href="/blog">Últimos RockoBlogs </a>
          </div>

          <div class="field">
            <select name="Categorías" v-model="idCategoria" id="">
              <option value="">Categorías </option>
              <option :value="categoria.id" v-for="categoria in categorias" :key="categoria.id">
                {{ categoria.categoria }}
              </option>
            </select>
          </div>
          <div class="field">
            <v-date-picker v-model="fecha" :masks="masks" :model-config="modelConfig">
              <template v-slot="{ inputValue, inputEvents }">
                <input
                  :value="inputValue"
                  v-on="inputEvents"
                  placeholder="Elegir Mes / Año"
                />
              </template>
            </v-date-picker>
          </div>
          <div class="field field-btn">
            <input type="text" placeholder="Buscar" v-model="q" />
            <button type="button" v-on:click="getBusqueda()"></button>
          </div>
        </div>

        <div class="blog">
          <div class="list-blog">
            <div class="card-blog" v-for="post in posts" :key="post.id">
              <div href="" class="card-image">
                <img :src="post.imagen" alt="" />
                <div class="card-tag">{{ post.categoria.categoria }}</div>
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">{{ post.titulo }}</div>
                  <div class="card-description">
                    <p>{{ post.resumen.substring(0, 180) }}...</p>
                  </div>
                </div>
                <div class="card-link">
                  <RouterLink :to="{ name: 'post', params: { slug: post.slug } }" class="card-link-more">Ver más
                  </RouterLink>
                  <div class="card-link__actions column">
                    <div class="card-link__detalle">
                      <div class="blog-detalle__likes">
                        <div class="blog-like" :class="post.like_cliente ? 'active' : ''" @click="likePost(post)">
                          <img class="transparent" src="@/assets/img/icon-heart.svg" alt="" />
                          <img class="black" src="@/assets/img/icon-heart-black.svg" alt="" />
                        </div>
                        <p>{{ post.likes_count }}</p>
                      </div>
                      <div class="card-link__views">
                        <img class="black" src="@/assets/img/icono-ojo.png" alt="" />
                        <p>{{ post.views }}</p>
                      </div>
                    </div>
                    <span class="card-link-git">
                      <img src="@/assets/img/icon-cat.svg" alt="" />
                      <span>RockoBot</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="line-vertical">
          <div class="list-recommended">
            <div class="card-blog-xs" v-for="post in posts" :key="post.id">
              <div class="card-blog-header">
                <div class="card-blog-title">
                  <div class="card-tag">{{ post.categoria.categoria }}</div>
                  <div class="card-title">{{ post.titulo }}</div>
                </div>
                <div class="card-blog-image">
                  <div class="card-image">
                    <img :src="post.imagen" alt="" />
                    </div>
                </div>
              </div>
              <div class="card-description">
                <p>{{ post.resumen.substring(0, 120) }}...</p>
              </div>
              <div class="card-link">
                <RouterLink :to="{ name: 'post', params: { slug: post.slug } }" class="card-link-more">Ver más
                </RouterLink>
                <div class="card-link__actions column">
                  <div class="card-link__detalle">
                    <div class="blog-detalle__likes">
                      <div class="blog-like" :class="post.like_cliente ? 'active' : ''" @click="likePost(post)">
                        <img class="transparent" src="@/assets/img/icon-heart.svg" alt="" />
                        <img class="black" src="@/assets/img/icon-heart-black.svg" alt="" />
                      </div>
                      <p>{{ post.likes_count }}</p>
                    </div>
                    <div class="card-link__views">
                      <img class="black" src="@/assets/img/icono-ojo.png" alt="" />
                      <p>{{ post.views }}</p>
                    </div>
                  </div>
                  <span href="" class="card-link-git">
                    <img src="@/assets/img/icon-cat.svg" alt="" />
                    <span>RockoBot</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="paginado">
          <!-- <div class="prev">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div> -->
          <button class="paginado-number" v-on:click="getPage(i)" v-for="i in pages" :key="i"
            v-bind:class="{ active: pageActive == i }">
            {{ i }}
          </button>
          <!-- <div class="next">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div> -->
        </div>
      </div>
    </section>
    <div class="col--12 modal-overlay modal-custom" v-show="this.showModalLogin">
        <div class="modal-content modal-content-md">
            <div class="modal-container">
                <div class="modal-head">
                <div class="modal-image">
                    <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                </div>
                <div class="modal-close">
                    <img @click="hideModalLogin()" src="@/assets/img/icon-close-modal.svg" alt="El depa de Rocko" />
                </div>
                </div>
                <div class="modal-body">
                    <form action="" class="form-login">
                        <h2>Inicia sesión</h2>
                        <div class="form-field">
                            <img src="@/assets/img/msg.png" alt="">
                            <input type="text" name="" v-model="correo" placeholder="Correo" id="">
                        </div>
                        <div class="form-field">
                            <img src="@/assets/img/icono-candado.svg" alt="">
                            <input :type="tipo_clave" name="" v-model="clave" placeholder="Contraseña" id="">
                            <img class="icon-eye" src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="">
                        </div>
                        <p v-if="errorSesion" class="message-error">Error al iniciar sesion</p>
                        <p v-if="verificarCuenta" class="message-error">No has verificado tu cuenta, revisa tu correo y validalo.</p>
                        <p class="text-link-black">
                            <a href="/reset-account">Olvidé mi contraseña</a>
                        </p>
                        <input type="button" class="btn btn-login" value="Iniciar sesión" @click="iniciarSesion()" >
                        <p class="text-link-black">¿No tienes una cuenta?<a href="/registro"> Regístrate.</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <Footer />
    <Loading v-if="isLoading" />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import Loading from "@/components/LoadingComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
    Loading,
  },
  data() {
    return {
      isLoading: true,
      posts: [],
      categorias: [],
      usuarios: [],
      pages: 0,
      next_page: "",
      prev_page: "",
      pageActive: "",
      idCategoria: "",
      fecha: "",
      q: "",
      inputDisabled: false,
      serviceLikePost: "",
      showModalLogin: false,
      tipo_clave: 'password',
      correo: '',
      clave: '',
      errorSesion: false,
      verificarCuenta: false,
      masks: {
        input: 'YYYY-MM',
      },
      modelConfig: {
        type: 'string',
        mask: 'YYYY-MM',
      },
    };
  },
  mounted() {
    this.getPosts();
    this.pageActive = 1;
    this.getCategorias();
    this.getUsuarios();
  },
  methods: {
    getBusqueda() {
      const params = {
        seacrh: this.q,
        fecha: this.fecha,
        idCategoria: this.idCategoria,
        uuid: localStorage.uuid,
      };
      axios
        .post(this.back_url + "/api/searchPosts", params)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = 1;
        });
    },
    getPosts() {
      const params = {
        uuid: localStorage.uuid,
      };
      axios
        .post(this.back_url + "/api/posts", params)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url; 
          this.isLoading = false;
        });
    },
    getPage(idPage) {
      const params = {
        uuid: localStorage.uuid,
      };
      axios
        .post(this.back_url + "/api/posts?page=" + idPage, params)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = idPage;
        });
    },
    likePost(arrayPost){
      const params = {
        uuid: localStorage.uuid,
        idPost: arrayPost.id,
      };
      if(!localStorage.uuid){
        this.showModalLogin = true;
        return;
      }
      if (arrayPost.like_cliente === 1) {
        this.serviceLikePost = "unlikePost";
        arrayPost.like_cliente = 0;
        arrayPost.likes_count--;
      } else {
        this.serviceLikePost = "likePost";
        arrayPost.like_cliente = 1;
        arrayPost.likes_count++;
      }
      axios
        .post(this.back_url + "/api/"+this.serviceLikePost, params)
        .then((response) => {

        });
    },
    getActive(idPage) {
      if (idPage == this.pageActive) {
        return {
          active: "active",
        };
      }
    },
    getCategorias() {
      axios
        .get(this.back_url + "/api/categorias")
        .then((response) => {
          this.categorias = response.data.data;
        });
    },
    getUsuarios() {
      axios
        .get(this.back_url + "/api/admins")
        .then((response) => {
          this.usuarios = response.data.data;
        });
    },
    hideModalLogin() {
        this.showModalLogin = false;
    },
    cambiarcampo() {
      if (this.tipo_clave == "password") {
          this.tipo_clave = "text";
      } else {
          this.tipo_clave = "password";
      }
    },
    iniciarSesion() {
      const params = {
          correo: this.correo,
          clave: this.clave
      }
      axios
      .post(this.back_url + '/api/login', params)
      .then((response) => {
          if (response.data == 100) {
              this.errorSesion = true;
          }
          else if (response.data == 101){
              this.verificarCuenta = true;
              this.errorSesion = false;
          } else {
              localStorage.uuid = response.data;
              this.showModalLogin = false;
          }
      })
    }
  },
};
</script>
