<template>
    <body>
        <Menu />
        <section id="section" class="portada-edita-propiedad">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>Edita tu propiedad</h2>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
                <div class="m-edit__grid">
                    <div class="m-edit__item m-active">
                        <div class="m-check">
                          <img src="@/assets/img/icon-edit-check.svg" alt="El depa de Rocko" />
                        </div>
                        <div class="m-icon">
                            <img src="@/assets/img/icon-edit-home.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Contacto</p>
                    </div>
                    <div class="m-edit__item">
                        <div class="m-check">
                          <img src="@/assets/img/icon-edit-check.svg" alt="El depa de Rocko" />
                        </div>
                        <div class="m-icon">
                            <img src="@/assets/img/icon-edit-informacion.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Información</p>
                    </div>
                    <div class="m-edit__item">
                        <div class="m-check">
                          <img src="@/assets/img/icon-edit-check.svg" alt="El depa de Rocko" />
                        </div>
                        <div class="m-icon">
                            <img src="@/assets/img/icon-edit-ambientes.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Ambientes</p>
                    </div>
                    <div class="m-edit__item">
                        <div class="m-check">
                          <img src="@/assets/img/icon-edit-check.svg" alt="El depa de Rocko" />
                        </div>
                        <div class="m-icon">
                            <img src="@/assets/img/icon-edit-disponibilidad.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Disponibilidad</p>
                    </div>
                    <div class="m-edit__item">
                        <div class="m-check">
                          <img src="@/assets/img/icon-edit-check.svg" alt="El depa de Rocko" />
                        </div>
                        <div class="m-icon">
                            <img src="@/assets/img/icon-edit-videos.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Vídeos</p>
                    </div>
                    <div class="m-edit__item m-disabled">
                        <div class="m-check">
                          <img src="@/assets/img/icon-edit-check.svg" alt="El depa de Rocko" />
                        </div>
                        <div class="m-icon">
                            <img src="@/assets/img/icon-edit-paquetes.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Paquetes</p>
                    </div>
                </div>
                <div class="m-actions">
                    <button type="button" class="btn" @click="openModalConfirm()">Publicar propiedad</button>
                </div>
            </div>
        </section>
        <Footer />
        <div class="col--12 modal-overlay modal-custom" v-show="showModalConfirm">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p><b>¡Guau!</b>, En 48 horas máximo estaremos confirmando la publicación</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="hideModalConfirm()"
                                class="btn">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      showModalConfirm: false,
    };
  },
  methods: {
    openModalConfirm() {
        this.showModalConfirm = true;
    },
    hideModalConfirm() {
        this.showModalConfirm = false;
    }
  },
};
</script>