<template>
  <body>
    <Menu />

    <section class="portada-blog">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Para que más historias Pet sean contadas</div>
      </div>
    </section>

    <section v-if="detalle" class="section-blog">
      <div class="container">
        <div class="filter">
          <div class="field field-text">
            <a href="/blog">Últimos RockoBlogs</a>
          </div>
          <div class="field">
            <select name="Categorías" v-model="idCategoria" id="">
              <option value="0">Categorías</option>
              <option
                :value="categoria.id"
                v-for="categoria in categorias"
                :key="categoria.id"
              >
                {{ categoria.categoria }}
              </option>
            </select>
          </div>
          <div class="field">
            <input
              type="text"
              name="fecha"
              v-model="fecha"
              id="fecha"
              class="form-control"
              placeholder="Elegir mes / año"
              onclick="ocultarError();"
              onfocus="(this.type='month')"
            />
          </div>
          <div class="field">
            <input type="text" placeholder="Buscar" v-model="q" />
            <button type="button" v-on:click="getBusqueda()"></button>
          </div>
        </div>
        <hr />
        <div class="blog-detalle" >
          <div class="blog-detalle-head">
            <div class="card-tag">
              {{ categoria }}
            </div>
          </div>
          <div class="list-blog entrada">
            <h2 class="blog-detalle-title">
              {{ post.titulo }}
            </h2>
            <div class="blog-detalle-date">
              <p>{{ post.fecha }}</p>
              <div class="blog-detalle__likes">
                <div class="blog-like" :class="this.like ? 'active' : ''" @click="likePost(post)">
                  <img class="transparent" src="@/assets/img/icon-heart.svg" alt="" />
                  <img class="black" src="@/assets/img/icon-heart-black.svg" alt="" />
                </div>
                <p>{{ post.likes_count }}</p>
              </div>
              <div class="blog-detalle__views">
                <img class="black" src="@/assets/img/icono-ojo.png" alt="" />
                <p>{{ post.views }}</p>
              </div>
            </div>
            <div class="blog-detalle-description resumen">{{ post.resumen }}</div>
            <div class="blog-detalle-image">
              <img :src="post.imagen" alt="" />
            </div>

            <hr />
            <div class="blog-detalle-description" v-html="post.contenido"></div>
          </div>
          <hr class="line-vertical">
          <div class="list-recommended">
            <div class="card-blog-xs detalle" v-for="recomendado in recomendados" :key="recomendado.id">
              <div class="card-blog-header">
                <div class="card-blog-title">
                  <div class="card-tag">{{ recomendado.categoria.categoria }}</div>
                  <div class="card-title">{{ recomendado.titulo }}</div>
                </div>
                <div class="card-blog-image">
                  <div class="card-image">
                    <img :src="recomendado.imagen" alt="" />
                  </div>
                </div>
              </div>
              <div class="card-description">
                <p>
                  {{ recomendado.resumen }}
                </p>
              </div>
              <div class="card-link">
                <RouterLink
                  :to="{ name: 'post', params: { slug: recomendado.slug } }"
                  class="card-link-more"
                  >Ver más</RouterLink
                >
                <div class="card-link__actions column">
                  <div class="card-link__detalle">
                    <div class="blog-detalle__likes">
                      <div class="blog-like" :class="recomendado.like_cliente ? 'active' : ''" @click="likePost(recomendado,'minipost')">
                        <img class="transparent" src="@/assets/img/icon-heart.svg" alt="" />
                        <img class="black" src="@/assets/img/icon-heart-black.svg" alt="" />
                      </div>
                      <p>{{ recomendado.likes_count }}</p>
                    </div>
                    <div class="card-link__views">
                      <img class="black" src="@/assets/img/icono-ojo.png" alt="" />
                      <p>{{ recomendado.views }}</p>
                    </div>
                  </div>
                  <span href="" class="card-link-git">
                    <img src="@/assets/img/icon-cat.svg" alt="" />
                    <span>RockoBot</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" >
        <div class="autor">
          <div class="autor-image">
            <img src="@/assets/img/icon-cat.svg" alt="" />
          </div>
          <div class="autor-name">RockoBot</div>
          <div class="autor-redes">
            <ShareNetwork
              network="facebook"
              :url="this.url"
              :title="post.titulo"
              :description="post.resumen"
              :media="post.imagen"
              hashtags="eldepaderocko,rockoblog"
            >
              <img src="@/assets/img/icono-fb-blanco.svg" alt="" />
            </ShareNetwork>
            <ShareNetwork
              network="linkedin"
              :url="this.url"
              :title="post.titulo"
              :description="post.resumen"
              :media="post.imagen"
              hashtags="eldepaderocko,rockoblog"
            >
              <img src="@/assets/img/icono-linkedin-blanco.svg" alt="" />
            </ShareNetwork>
            <ShareNetwork
              network="twitter"
              :url="this.url"
              :title="post.titulo"
              :description="post.resumen"
              :media="post.imagen"
              hashtags="eldepaderocko,rockoblog"
              style="margin-top: 1px"
            >
              <img src="@/assets/img/icono-twt-blanco.svg" alt="" />
            </ShareNetwork>
            <!-- <a href="#" v-clipboard:copy="message"> </a> -->

            <span @click="doCopy">
              <img src="@/assets/img/icono-link-blanco.svg" style="" alt="" />
            </span>
            <!-- <a href="">
              <img src="@/assets/img/icono-tag-blanco.svg" alt="" />
            </a> -->
          </div>
        </div>
      </div>

    </section>


    <section v-if="busqueda">
      <div class="container">
        <div class="filter">
          <div class="field field-text">
            <a href="/blog">Últimos RockoBlogs</a>
          </div>
          <div class="field">
            <select name="Categorías" v-model="idCategoria" id="">
              <option value="">Categorías</option>
              <option
                :value="categoria.id"
                v-for="categoria in categorias"
                :key="categoria.id"
              >
                {{ categoria.categoria }}
              </option>
            </select>
          </div>
          <div class="field">
            <input
              type="text"
              name="fecha"
              v-model="fecha"
              id="fecha"
              class="form-control"
              placeholder="Elegir mes / año"
              onclick="ocultarError();"
              onfocus="(this.type='month')"
            />
          </div>
          <div class="field">
            <input type="text" placeholder="Buscar" v-model="q" />
            <button type="button" v-on:click="getBusqueda()"></button>
          </div>
        </div>

        <div class="blog">
          <div class="list-blog">
            <hr>
            <div class="card-blog" v-for="post in posts" :key="post.id">
              <div href="" class="card-image">
                <img :src="post.imagen" alt="" />
                <div class="card-tag">{{ post.categoria.categoria }}</div>
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">{{ post.titulo }}</div>
                  <div class="card-description">
                    <p>{{ post.resumen.substring(0, 180) }}...</p>
                  </div>
                </div>
                <div class="card-link">
                  <RouterLink
                    :to="{ name: 'post', params: { slug: post.slug } }"
                    class="card-link-more"
                    >Ver más</RouterLink
                  >
                  <div class="card-link__actions column">
                    <span href="" class="card-link-git">
                      <img src="@/assets/img/icon-cat.svg" alt="" />
                      <span>RockoBot</span>
                    </span>
                    <div class="card-link__views">
                      <img class="black" src="@/assets/img/icono-ojo.png" alt="" />
                      <p>{{ post.views }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="line-vertical">
          <div class="list-recommended">
            <hr/>
            <div class="card-blog-xs" v-for="post in posts" :key="post.id">
              <div class="card-image">
                <img :src="post.imagen" alt="" />
              </div>
              <div class="card-tag">{{ post.categoria.categoria }}</div>
              <div class="card-title">{{ post.titulo }}</div>
              <div class="card-description">
                <p>{{ post.resumen.substring(0, 120) }}...</p>
              </div>
              <div class="card-link">
                <RouterLink
                  :to="{ name: 'post', params: { slug: post.slug } }"
                  class="card-link-more"
                  >Ver más</RouterLink
                >
                <div class="card-link__actions row">
                  <div class="card-link__views">
                    <img class="black" src="@/assets/img/icono-ojo.png" alt="" />
                    <p>{{ post.views }}</p>
                  </div>
                  <span href="" class="card-link-git">
                    <img src="@/assets/img/icon-cat.svg" alt="" />
                    <span>RockoBot</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="paginado">
          <div class="prev">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div>
          <button
            class="paginado-number"
            v-on:click="getPage(i)"
            v-for="i in pages"
            :key="i"
            v-bind:class="{ active: pageActive == i }"
          >
            {{ i }}
          </button>
          <div class="next">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="bottom" v-if="relacion">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <h2 class="blog-detalle-title">Noticias relacionadas</h2>

            <swiper
              :spaceBetween="30"
              :centeredSlides="true"
              :slides-per-view="3"
              :autoplay="{
                delay: 5000,
                disableOnInteraction: false,
              }"
              :loop="true"
              :pagination="{
                clickable: true,
              }"
              :modules="modules"
              class="group-card"
            >
              <swiper-slide
                class="swiper-wrapper"
                v-for="noticia in relacionadas"
                :key="noticia.id"
              >
                <div class="card-related">
                  <div class="card-image">
                    <img :src="noticia.imagen" alt="" />
                  </div>
                  <div class="card-content">
                    <h4 class="card-title">{{ noticia.titulo }}</h4>
                    <div class="card-description">
                      <p></p>
                      <p>{{ noticia.resumen.substring(0, 35) }}...</p>
                    </div>
                    <span href="" class="card-link-git">
                      <img src="@/assets/img/icon-cat.svg" alt="" />
                      <span>RockoBot</span>
                    </span>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <div class="col--12 modal-overlay modal-custom" v-show="this.showModalLogin">
        <div class="modal-content modal-content-md">
            <div class="modal-container">
                <div class="modal-head">
                <div class="modal-image">
                    <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                </div>
                <div class="modal-close">
                    <img @click="hideModalLogin()" src="@/assets/img/icon-close-modal.svg" alt="El depa de Rocko" />
                </div>
                </div>
                <div class="modal-body">
                    <form action="" class="form-login">
                        <h2>Inicia sesión</h2>
                        <div class="form-field">
                            <img src="@/assets/img/msg.png" alt="">
                            <input type="text" name="" v-model="correo" placeholder="Correo" id="">
                        </div>
                        <div class="form-field">
                            <img src="@/assets/img/icono-candado.svg" alt="">
                            <input :type="tipo_clave" name="" v-model="clave" placeholder="Contraseña" id="">
                            <img class="icon-eye" src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="">
                        </div>
                        <p v-if="errorSesion" class="message-error">Error al iniciar sesion</p>
                        <p v-if="verificarCuenta" class="message-error">No has verificado tu cuenta, revisa tu correo y validalo.</p>
                        <p class="text-link-black">
                            <a href="/reset-account">Olvidé mi contraseña</a>
                        </p>
                        <input type="button" class="btn btn-login" value="Iniciar sesión" @click="iniciarSesion()" >
                        <p class="text-link-black">¿No tienes una cuenta?<a href="/registro"> Regístrate.</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <Footer />
    <Loading v-if="isLoading" />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import Loading from "@/components/LoadingComponent.vue";
import axios from "axios";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";

import "swiper/css/pagination";
import "swiper/css/navigation";

// import required modules
import { Autoplay, Pagination, Navigation, EffectFlip } from "swiper";

export default {
  components: {
    Menu,
    Footer,
    Loading,
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [Autoplay, Pagination, Navigation],
    };
  },
  data() {
    return {
      isLoading: true,
      post: "",
      categoria: "",
      posts: [],
      relacion: false,
      relacionadas: [],
      idCategoria: 0,
      categorias: [],
      url: "",
      detalle: true,
      busqueda: false,
      recomendados: [],
      serviceLikePost: "",
      like: false,
      showModalLogin: false,
      tipo_clave: 'password',
      correo: '',
      clave: '',
      errorSesion: false,
      verificarCuenta: false,
    };
  },
  computed: {
    ruta() {
      let self = this;
      return self.$route;
    },
    cat() {
      let self = this;
      return self.ruta.params.slug;
    },
  },
  mounted() {
    this.getPost();
    this.getCategorias();
    this.getPosts()
  },
  watch: {
    $route(to, from) {
      this.getPost();
    },
  },
  methods: {
    getBusqueda() {
      this.detalle = false
      this.busqueda = true
      const params = {
        seacrh: this.q,
        fecha: this.fecha,
        idCategoria: this.idCategoria,
        uuid: localStorage.uuid,
      };

      axios
        .post(this.back_url + "/api/searchPosts", params)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = 1;
        });
    },
    getPost() {
      this.detalle = true
      this.busqueda = false
      axios
        .get(
          this.back_url + "/api/post/" +
            this.$route.params.slug
        )
        .then((response) => {
          this.post = response.data.data;
          this.url = this.front_url + "/post/" + response.data.data.slug;
          this.categoria = response.data.data.categoria.categoria;
          this.isLoading = false;
          this.checkLike(this.post);
          console.log(this.post );
          if (response.data.relacion > 3) {
            this.relacion = true;
            this.relacionadas = response.data.relacionados;
          }
        });
    },
    checkLike(arrayPost){
      const params = {
        uuid: localStorage.uuid,
        idPost: arrayPost.id,
      };
      axios
        .post(this.back_url + "/api/checkLike", params)
        .then((response) => {
          this.like = response.data.like;
        });
    },
    getCategorias() {
      axios
        .get(this.back_url + "/api/categorias")
        .then((response) => {
          this.categorias = response.data.data;
        });
    },
    getPosts() {
      const params = {
        uuid: localStorage.uuid,
      };
      axios
        .post(this.back_url + "/api/posts", params)
        .then((response) => {
          this.recomendados = response.data.data.data;
          console.log(this.recomendados);
        });
    },
    likePost(arrayPost,typePost){
      const params = {
        uuid: localStorage.uuid,
        idPost: arrayPost.id,
      };
      if(!localStorage.uuid){
        this.showModalLogin = true;
        return;
      }
      if(typePost === 'minipost'){
        if(arrayPost.like_cliente){
          arrayPost.like_cliente = 0;
          this.serviceLikePost = "unlikePost";
          arrayPost.likes_count--;
        } else {
          arrayPost.like_cliente = 1;
          this.serviceLikePost = "likePost";
          arrayPost.likes_count++;
        }
      } else {
        if(this.like){
          this.like = false;
          this.serviceLikePost = "unlikePost";
          arrayPost.likes_count--;
        } else {
          this.like = true;
          this.serviceLikePost = "likePost";
          arrayPost.likes_count++;
        }
      }
      axios
        .post(this.back_url + "/api/"+this.serviceLikePost, params)
        .then((response) => {
          
        });
    },
    doCopy: function () {
      this.$copyText(this.url).then();
    },
    hideModalLogin() {
        this.showModalLogin = false;
    },
    cambiarcampo() {
      if (this.tipo_clave == "password") {
          this.tipo_clave = "text";
      } else {
          this.tipo_clave = "password";
      }
    },
    iniciarSesion() {
      const params = {
          correo: this.correo,
          clave: this.clave
      }
      axios
      .post(this.back_url + '/api/login', params)
      .then((response) => {
          if (response.data == 100) {
              this.errorSesion = true;
          }
          else if (response.data == 101){
              this.verificarCuenta = true;
              this.errorSesion = false;
          } else {
              localStorage.uuid = response.data;
              this.showModalLogin = false;
          }
      })
    }
  },
};
</script>
