<template>
  <body>
    <Menu />
    <section class="portada-evento">
      <div class="container">
        <swiper
          :spaceBetween="30"
          :centeredSlides="true"
          :effect="'flip'"
          :autoplay="{
            disableOnInteraction: false,
            delay: 10000,
          }"
          :pagination="{
            clickable: true,
          }"
          :modules="modules"
          class="swiper-container swp-evento"
        >
          <swiper-slide class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-item">
                <img src="@/assets/img/Vector-mapa.svg" class="slider-image"/>
                <img src="@/assets/img/bg-mapa-mobile.png" class="slider-image-m"/>
                <div class="slider-content">
                  <div class="time" v-html="timeCalculated"> </div>
                  <div class="list-date-item active">
                    <div class="date">18.Septiembre.2022</div>
                    <div class="address">
                      <p>Fase 3: RockoPoints 8PM</p>
                      <p class="white">Primer Portal Inmobiliario Pet Friendly
                      <br />
                      en Latinoam&eacute;rica</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-item">
                <h3 class="slider-title">Pr&oacute;ximos Lanzamientos</h3>
                <ul class="list-date">
                  <li class="list-date-item past">
                    <div class="date">08.Junio.2022</div>
                    <div class="address">Fase 1: RockoBlog - 8PM</div>
                  </li>
                  <li class="list-date-item past">
                    <div class="date">14.Agosto.2022</div>
                    <div class="address">Fase 2: RockoCard - 8PM</div>
                  </li>
                  <li class="list-date-item active">
                    <div class="date">18.Septiembre.2022</div>
                    <div class="address">Fase 3: RockoPoints</div>
                  </li>
                  <li class="list-date-item">
                    <div class="date">PR&Oacute;XIMAMENTE</div>
                    <div class="address">
                      Fase 4: Primer Portal Inmobiliario
                      <br />
                      Pet Friendly
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </swiper-slide>
        </swiper>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="section-petcard white">
      <div class="container">
        <div class="group-petcard">
          <div class="petcard-item column">
            <h3 class="petcard-head">
              La tarjeta Pet Friendly
              <span>como la imaginabas</span>
            </h3>
            <div class="petcard-subtitle">
              <img src="@/assets/img/icon-bad-black.svg" alt="" />
              Sabemos lo difícil que es encontrar hogares y
              lugares Pet Friendly. Por eso:
            </div>

            <ul class="petcard-list">
              <li>Encontrarás hogares y lugares Pet Friendly a un clic.</li>
              <li>Serás parte de la comunidad RockoFriends.</li>
            </ul>
            <div class="petcard-actions">
              <a href="/registro" class="btn">Regístrate</a>
            </div>
          </div>
          <div class="petcard-item">
            <div class="petcard-image">
              <img src="@/assets/img/bg-tarjeta-digital.png" alt="" />
              <p>Primera tarjeta Pet Friendly en Perú y Latinoamérica.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Footer from "@/components/FooterComponent.vue";
import Menu from "@/components/MenuComponent.vue";
import { DateTime } from 'luxon'
import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";

import "swiper/css/pagination";
import "swiper/css/navigation";

// import required modules
import { Autoplay, Pagination, Navigation, EffectFlip } from "swiper";

import $ from 'jquery'

export default {
  components: {
    Menu,
    Swiper,
    SwiperSlide,
    Footer,
  },
  setup() {
    return {
      modules: [Autoplay, Pagination, Navigation],
    };
  },
  data () {
      return {
      endDate: '2022-09-18T08:00:00',
      now: DateTime.now(),
      timer: null
    }
  },

  computed: {
    timeCalculated () {
      const endDateDateTimeObj = DateTime.fromISO(this.endDate)
      const theDiff = endDateDateTimeObj.diff(this.now, ['days','hours', 'minutes', 'seconds'])

      return `${theDiff.days}<span>d</span><span class="two-point">:</span>${theDiff.hours}<span>h</span><span class="two-point">:</span>${theDiff.minutes}<span>m</span><span class="two-point">:</span>${Math.round(theDiff.seconds)}<span>s</span>`
    }
  },

  watch: {
    endDate: {
      immediate: true,

      handler (endDateTimeStr) {
        const endDateTimeObj = DateTime.fromISO(endDateTimeStr)

        if (this.timer) {
          clearInterval(this.timer)
        }

        this.timer = setInterval(() => {
          this.now = DateTime.local()

          if (this.now > endDateTimeObj) {
            this.now = endDateTimeObj
            clearInterval(this.timer)
          }
        }, 1000)
      }
    }
  },

  beforeDestroy () {
    clearInterval(this.timer)
  },

  methods: {
    menu() {
      $("nav .menu").toggleClass("active");

      if ($("nav .menu").hasClass("active")) {
        $("body").addClass("block");
      } else {
        $("body").removeClass("block");
      }
    },
  }
}
</script>