<template>
    <body>
        <Menu />
        <section id="section" class="portada-informacion-propiedad">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>¿Cuál es la información?</h2>
                    <p>Gracias a esta información podrán encontrar más rápido tu propiedad.</p>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
                <div class="m-form__tabs">
                    <div class="m-tabs__item active" :class="{ active: isActive }" @click="selectTab(1)">
                        <img src="@/assets/img/icon-tab-information.svg" alt="El depa de Rocko" />
                        <p>Información</p>
                    </div>
                    <div class="m-tabs__item" :class="{ active: isActive }" @click="selectTab(2)">
                        <img src="@/assets/img/icon-tab-services.svg" alt="El depa de Rocko" />
                        <p>Servicios</p>
                    </div>
                </div>
                <div v-if="containerTab" class="m-container__tab">
                    <div class="m-form__grid">
                        <div class="m-form__title">
                            <h2>Información</h2>
                        </div>
                        <div class="m-form__inputs">
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-property.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="tipo_propiedad">
                                    <option value="0" selected hidden>Tipo de propiedad*</option>
                                    <option value="1">Depa</option>
                                    <option value="2">Casa</option>
                                    <option value="3">Oficina</option>
                                    <option value="4">Terreno</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Tipo de propiedad es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-department.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="tipo_depa">
                                    <option value="0" selected hidden>Tipo de depa*</option>
                                    <option value="1">Flat</option>
                                    <option value="2">Duplex</option>
                                    <option value="3">Triplex</option>
                                    <option value="4">Loft</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Tipo de depa es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-show.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="vista_calle">
                                    <option value="0" selected hidden>Vista a la calle*</option>
                                    <option value="1">Si</option>
                                    <option value="2">no</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Vista a la calle es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-old.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="antiguedad">
                                    <option value="0" selected hidden>Antiguedad*</option>
                                    <option value="1">+ 2 años</option>
                                    <option value="2">+ 5 años</option>
                                    <option value="3">+ 10 años</option>
                                    <option value="4">+ 20 años</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Antiguedad es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-floor.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="numero_piso">
                                    <option value="0" selected hidden>Número de piso*</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Número de piso es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-area.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="area_total"
                                placeholder="Área total*"
                                />
                                <p class="form-field-error" v-if="direccion_validar">*Área total es requerida.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-elevator.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="ascensor">
                                    <option value="0" selected hidden>Ascensor*</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Ascensor es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-elevator.svg" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="directo_propiedad">
                                    <option value="0" selected hidden>Directo a la propiedad*</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*Ascensor es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-mundo.png" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="pais" @change="verificarPais()">
                                <option value="0" selected hidden>País*</option>
                                <option :value="pais.id" v-for="pais in paises" :key="pais.id">
                                    {{ pais.name }}
                                </option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*El pais es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <select name="select" v-model="departamento" @change="getProvincia(1)" :disabled="peru"
                                class="select">
                                <option value="0" selected>Departamento</option>
                                <option :value="depart.id" v-for="depart in departamentos" :key="depart.id">
                                    {{ depart.name }}
                                </option>
                                </select>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <select name="select" v-model="provincia" @change="getDistrito(1)" :disabled="peru" class="select">
                                <option value="0" selected>Provincia</option>
                                <option :value="provin.id" :key="provin.id" v-for="provin in provincias">
                                    {{ provin.name }}
                                </option>
                                </select>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <select name="select" v-model="distrito" :disabled="peru" class="select">
                                <option value="0" selected>Distrito</option>
                                <option :value="district.id" :key="district.id" v-for="district in distritos">
                                    {{ district.name }}
                                </option>
                                </select>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="area_total"
                                placeholder="Ubica tu propiedad*"
                                />
                                <p class="form-field-error" v-if="direccion_validar">*Ubicación de propiedad es requerida.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="area_total"
                                placeholder="Referencia"
                                />
                            </div>
                        </div>
                        <router-link to="/edita-tu-propiedad" class="m-form__menu">
                            <img src="@/assets/img/icon-back-home.svg" alt="El depa de Rocko" />
                        </router-link>
                    </div>
                    <div class="m-form__actions">
                        <button type="button"  class="btn" v-on:click="ejecutar()" :disabled="isDisabled">Guardar</button>
                    </div>
                </div>
                <div v-else class="m-container__tab">
                    <div class="m-form__grid">
                        <div class="m-form__title">
                            <h2>Servicios</h2>
                        </div>
                        <div class="m-form__inputs">
                            
                        </div>
                        <router-link to="/edita-tu-propiedad" class="m-form__menu">
                            <img src="@/assets/img/icon-back-home.svg" alt="El depa de Rocko" />
                        </router-link>
                    </div>
                    <div class="m-form__actions">
                        <button type="button" class="btn" v-on:click="ejecutarContacto()" :disabled="isDisabledContacto">Guardar</button>
                    </div>
                </div>
            </div>
        </section>
        <Footer />
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      paises: [],
      departamentos: [],
      provincias: [],
      distritos: [],
      containerTab: true,
      isActive: false,
      tipo_propiedad: 0,
      tipo_depa: 0,
      vista_calle: 0,
      antiguedad: 0,
      numero_piso: 0,
      area_total: "",
      ascensor: 0,
      directo_propiedad: 0,
      pais: 0,
      departamento: 0,
      provincia: 0,
      distrito: 0,

    };
  },
  created() {
    this.getPaises();
  },
  methods: {
    selectTab(tab){
        (tab == 1) ? this.containerTab = true : this.containerTab = false;
    },
    getPaises() {
      axios
        .get(this.back_url + "/api/getPaises")
        .then((response) => {
          this.paises = response.data;
        });
    },
    verificarPais() {
      if (this.pais == 174) {
        this.peru = false;
        this.getDepartamentos();
      } else {
        this.departamento = "0";
        this.provincia = "0";
        this.distrito = "0";
        this.departamentos = [];
        this.provincias = [];
        this.distritos = [];
        this.peru = true;
      }
    },
    getDepartamentos() {
      axios
        .get(this.back_url + "/api/getDepartamentos")
        .then((response) => {
          this.departamentos = response.data;
        });
    },
    getProvincia(status) {
      axios
        .get(
          this.back_url + "/api/getProvincias/" +
          this.departamento
        )
        .then((response) => {
          this.provincias = response.data;
          if(status == 1){
            this.provincia = "0";
            this.distrito = "0";
            this.distritos = [];
          }
        });
    },
    getDistrito(status) {
      axios
        .get(
          this.back_url + "/api/getDistritos/" + this.provincia
        )
        .then((response) => {
          this.distritos = response.data;
          if(status == 1){
            this.distrito = "0";
          }
        });
    },
  },
};
</script>