<template>
    <body>
        <Menu />
        <section id="section" class="portada-contacto-persona">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>¿Cuál es la información de tu empresa?</h2>
                    <p>Esta información será publicada para dar más confianza al RockoFriend.</p>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
                <div class="m-form__tabs">
                    <div class="m-tabs__item active" :class="{ active: isActive }" @click="selectTab(1)">
                        <img src="@/assets/img/icon-tab-user.svg" alt="El depa de Rocko" />
                        <p>Empresa</p>
                    </div>
                    <div class="m-tabs__item" :class="{ active: isActive }" @click="selectTab(2)">
                        <img src="@/assets/img/icon-tab-contact.svg" alt="El depa de Rocko" />
                        <p>Contacto</p>
                    </div> 
                </div>
                <div v-if="containerTab" class="m-container__tab">
                    <div class="m-form__grid">
                        <div class="m-form__title">
                            <h2>Empresa</h2>
                        </div>
                        <div class="m-form__inputs">
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-user.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="razon_social"
                                placeholder="Razón social*"
                                />
                                <p class="form-field-error" v-if="razon_social_validar">*La razon social es requerida.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-document.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="ruc"
                                placeholder="RUC*"
                                />
                                <p class="form-field-error" v-if="ruc_validar">*La ruc es requerida.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-company.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="giro_empresa"
                                placeholder="Giro de tu empresa*"
                                />
                                <p class="form-field-error" v-if="giro_empresa_validar">*El giro de la empresa es requerida.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-mundo.png" alt="El depa de Rocko" />
                                <select name="select" class="select" v-model="pais" @change="verificarPais()">
                                <option value="0" selected hidden>País*</option>
                                <option :value="pais.id" v-for="pais in paises" :key="pais.id">
                                    {{ pais.name }}
                                </option>
                                </select>
                                <p class="form-field-error" v-if="pais_validar">*El pais es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <select name="select" v-model="departamento" @change="getProvincia(1)" :disabled="peru"
                                class="select">
                                <option value="0" selected>Departamento</option>
                                <option :value="depart.id" v-for="depart in departamentos" :key="depart.id">
                                    {{ depart.name }}
                                </option>
                                </select>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <select name="select" v-model="provincia" @change="getDistrito(1)" :disabled="peru" class="select">
                                <option value="0" selected>Provincia</option>
                                <option :value="provin.id" :key="provin.id" v-for="provin in provincias">
                                    {{ provin.name }}
                                </option>
                                </select>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <select name="select" v-model="distrito" :disabled="peru" class="select">
                                <option value="0" selected>Distrito</option>
                                <option :value="district.id" :key="district.id" v-for="district in distritos">
                                    {{ district.name }}
                                </option>
                                </select>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="direccion"
                                placeholder="Dirección*"
                                />
                                <p class="form-field-error" v-if="direccion_validar">*La dirección es requerida.</p>
                            </div>
                        </div>
                        <a href="/mis-propiedades/contacto" class="m-form__menu">
                            <img src="@/assets/img/icon-back-home.svg" alt="El depa de Rocko" />
                        </a>
                    </div>
                    <div class="m-form__actions">
                        <label for="tyc" class="m-checkbox">
                            Acepto los <a href="/terminos-condiciones" target="_blank"><b>Términos y condiciones</b></a> y <a href="/politica-privacidad" target="_blank"><b>Política de privacidad</b> </a> de El Depa de Rocko.
                            <input type="checkbox" v-model="terminos_condiciones" name="" id="tyc" @change="selectTerminos()">
                            <span class="checkmark"></span>
                        </label>
                        <button type="button"  class="btn" v-on:click="ejecutar()" :disabled="isDisabled">Guardar</button>
                    </div>
                </div>
                <div v-else class="m-container__tab">
                    <div class="m-form__grid">
                        <div class="m-form__title">
                            <h2>Contacto</h2>
                        </div>
                        <div class="m-form__inputs">
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-email.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="correo"
                                placeholder="Correo*"
                                @keydown="validarCorreo()" @keyup="validarCorreo()"
                                />
                                <p class="form-field-error" v-if="correo_validar">*El correo es requerido.</p>
                                <p class="form-field-error" v-if="correo_formato">* El correo ingresado es incorrecto.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-phone.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="phone"
                                placeholder="Número de celular*"
                                />
                                <p class="form-field-error" v-if="phone_validar">* Celular es requerido.</p>
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-web.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="web"
                                placeholder="Página Web"
                                />
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-linkedin.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="linkedin"
                                placeholder="Linkedin"
                                />
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-instagram.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="instagram"
                                placeholder="Instagram"
                                />
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-tiktok.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="tiktok"
                                placeholder="Tik Tok"
                                />
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-facebook.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="facebook"
                                placeholder="Facebook"
                                />
                            </div>
                            <div class="m-input m-input--icon form-field">
                                <img src="@/assets/img/icon-whatsapp.svg" alt="El depa de Rocko" />
                                <input
                                type="text"
                                name=""
                                v-model="whatsapp"
                                placeholder="Whatsapp"
                                />
                            </div>
                        </div>
                        <a href="/mis-propiedades/contacto" class="m-form__menu">
                            <img src="@/assets/img/icon-back-home.svg" alt="El depa de Rocko" />
                        </a>
                    </div>
                    <div class="m-form__actions">
                        <label for="tyc" class="m-checkbox">
                            Acepto los <a href="/terminos-condiciones" target="_blank"><b>Términos y condiciones</b></a> y <a href="/politica-privacidad" target="_blank"><b>Política de privacidad</b> </a> de El Depa de Rocko.
                            <input type="checkbox" v-model="terminos_condiciones_contacto" name="" id="tyc" @change="selectTerminosContacto()">
                            <span class="checkmark"></span>
                        </label>
                        <label for="tratamiento" class="m-checkbox">
                            Acepto el tratamiento de mis datos para noticias y promociones exclusivas.
                            <input type="checkbox" name="" v-model="tratamiento" id="tratamiento">
                            <span class="checkmark"></span>
                        </label> 
                        <button type="button" class="btn" v-on:click="ejecutarContacto()" :disabled="isDisabledContacto">Guardar</button>
                    </div>
                </div>
            </div>
        </section>
        <Footer />
        <div class="col--12 modal-overlay modal-custom" v-show="showModalLegalPerson">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p><b>¡Guau!</b>, ¿Estás seguro que quieres cambiar a persona juridica?</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="saveLegalPerson()"
                                class="btn">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
        showModalLegalPerson: false,
        paises: [],
        departamentos: [],
        provincias: [],
        distritos: [],
        pais: 0,
        departamento: 0,
        provincia: 0,
        distrito: 0,
        containerTab: true,
        isActive: false,
        razon_social: "",
        ruc: "",
        giro_empresa: "",
        direccion: "",
        id_contacto: localStorage.getItem('id_usuario'),
        terminos_condiciones: false,
        check_terminos_contacto: false,
        tratamiento: false,
        correo: "",
        phone: "",
        web: "",
        linkedin: "",
        instagram: "",
        tiktok: "",
        facebook: "",
        whatsapp: "",
        correo_validar: false,
        phone_validar: false,
        correo_formato: false,
        razon_social_validar: false,
        ruc_validar: false,
        giro_empresa_validar: false,
        pais_validar: false,
        direccion_validar: false,
        isDisabled: true,
        isDisabledContacto: true,
    };
  },
  created() {
    this.getPaises();
  },
  methods: {
    saveLegalPerson() {
        this.showModalLegalPerson = false;
    },
    selectTab(tab){
        (tab == 1) ? this.containerTab = true : this.containerTab = false;
    },
    getPaises() {
      axios
        .get(this.back_url + "/api/getPaises")
        .then((response) => {
          this.paises = response.data;
        });
    },
    verificarPais() {
      if (this.pais == 174) {
        this.peru = false;
        this.getDepartamentos();
      } else {
        this.departamento = "0";
        this.provincia = "0";
        this.distrito = "0";
        this.departamentos = [];
        this.provincias = [];
        this.distritos = [];
        this.peru = true;
      }
    },
    getDepartamentos() {
      axios
        .get(this.back_url + "/api/getDepartamentos")
        .then((response) => {
          this.departamentos = response.data;
        });
    },
    getProvincia(status) {
      axios
        .get(
          this.back_url + "/api/getProvincias/" +
          this.departamento
        )
        .then((response) => {
          this.provincias = response.data;
          if(status == 1){
            this.provincia = "0";
            this.distrito = "0";
            this.distritos = [];
          }
        });
    },
    getDistrito(status) {
      axios
        .get(
          this.back_url + "/api/getDistritos/" + this.provincia
        )
        .then((response) => {
          this.distritos = response.data;
          if(status == 1){
            this.distrito = "0";
          }
        });
    },
    validEmail: function (email) {
      var re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validarCorreo() {
      if (this.validEmail(this.correo)) {
        this.correo_formato = false;
      } else {
        this.correo_formato = true;
      }
    },
    selectTerminos(){
      if(this.terminos_condiciones){
        this.isDisabled = false;
      } else {
        this.isDisabled = true;
      }
    },
    selectTerminosContacto(){
      if(this.terminos_condiciones_contacto){
        this.isDisabledContacto = false;
      } else {
        this.isDisabledContacto = true;
      }
    },
    ejecutar(){
        if (this.razon_social) {
            this.razon_social_validar = false;
        } else {
            this.razon_social_validar = true;
            return;
        }
        if (this.ruc) {
            this.ruc_validar = false;
        } else {
            this.ruc_validar = true;
            return;
        }
        if (this.giro_empresa) {
            this.giro_empresa_validar = false;
        } else {
            this.giro_empresa_validar = true;
            return;
        }
        if (this.pais) {
            this.pais_validar = false;
        } else {
            this.pais_validar = true;
            return;
        }
        if (this.direccion) {
            this.direccion_validar = false;
        } else {
            this.direccion_validar = true;
            return;
        }
        const params = {
          razon_social: this.razon_social,
          ruc: this.ruc,
          giro: this.giro_empresa,
          id_pais: this.pais,
          direccion: this.direccion,
          id_contacto: this.id_contacto,
          check_terminos: this.terminos_condiciones,
          id_departamento: this.departamentos,
          id_provincia: this.provincia,
          id_distrito: this.distrito,
          tipo_persona: 1
        };
        axios.post(
            this.back_url + "/api/guardarEmpresa",
            params
          )
          .then((response) => {
            if (response.data == 200) {
              console.log("listo");
            }else {
                console.log("error");
            }
          });
    },
    ejecutarContacto() {
        if (this.correo) {
            this.correo_validar = false;
        } else {
            this.correo_validar = true;
            return;
        }
        if (this.phone) {
            this.phone_validar = false;
        } else {
            this.phone_validar = true;
            return;
        }
        const params = {
          correo: this.correo,
          phone: this.phone,
          web: this.web,
          linkedin: this.linkedin,
          instagram: this.instagram,
          tiktok: this.tiktok,
          facebook: this.facebook,
          whatsapp: this.whatsapp,
          id_contacto: this.id_contacto,
          check_terminos_contacto: this.terminos_condiciones,
          check_datos: this.tratamiento,
          tipo_persona: 1
        };
        axios.post(
            this.back_url + "/api/guardarContacto",
            params
          )
          .then((response) => {
            if (response.data == 200) {
              console.log("listo");
            }else {
                console.log("error");
            }
          });
    }
  },
};
</script>