<template>
  <body>
    <Menu />
    <section class="portada-login">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Inicia sesión</div>
        <form action="" class="form-login">
          <div class="form-field">
            <img src="@/assets/img/msg.png" alt="">
            <input type="text" name="" v-model="correo" class="text-white" placeholder="Correo" id="">
          </div>
          <div class="form-field">
            <img src="@/assets/img/icono-candado.svg" alt="">
            <input :type="tipo_clave" name="" v-model="clave" class="text-white" placeholder="Contraseña" id="">
            <img class="icon-eye" src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="">
          </div>
         <p v-if="errorSesion" style="color: white; margin-bottom: 20px">Error al iniciar sesion</p>
          <p v-if="verificar" style="color: white; margin-bottom: 20px">No has verificado tu cuenta, revisa tu correo y validalo.</p>
          <p class="text-link">
            <a href="/reset-account">
              Olvidé mi contraseña
            </a>
          </p>
          <input type="button" class="btn" value="Iniciar sesión" @click="iniciarSesion()" >
          <p class="text-link">
            ¿No tienes una cuenta?
            <a href="/registro">Regístrate.</a>
          </p>
        </form>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      tipo_clave: 'password',
      correo: '',
      clave: '',
      errorSesion: false,
      verificar: false
    };
  },
  mounted() {
    if (localStorage.uuid) {
      console.log("sesion iniciada")
      this.$router.push('perfil') 
    }
  },
  methods: {
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
    iniciarSesion() {
      const params = {
        correo: this.correo,
        clave: this.clave
      }

      axios.post(this.back_url + '/api/login', params).then((response) => {
        if (response.data == 100) {
          this.errorSesion = true;
        }
        else if (response.data == 101)
        {
          this.verificar = true;
          this.errorSesion = false;
        }
        else {
          localStorage.uuid = response.data.uuid;
          localStorage.access_token = response.data.access_token;
          console.log("access_token: " + response.data.access_token);
          window.location.href = this.front_url + "/perfil";
        }
      })
    }
  },
};
</script>
