<template>

  <body>
    <Menu />
    <!-- Aqui van las secciones -->
    <section id="section" class="portada-perfil 1">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="group-petcard">
          <div class="petcard-item">
            <div class="petcard">
              <div class="petcard-code">
                <img src="@/assets/img/icon-qr.svg" alt="El depa de Rocko" />
              </div>
              <div class="petcard-title">
                RockoCard
              </div>
              <div class="petcard-number">
                <span>{{ rockocard1 }}</span>
                <span>{{ rockocard2 }}</span>
                <span>{{ rockocard3 }}</span>
                <span>{{ rockocard4 }}</span>
              </div>
              <div class="petcard-value">
                <div class="petcard-name">
                  <div class="petcard-name1">
                    AFILIADO DESDE
                    <b>{{ membershipYear }}</b>
                  </div>
                  <div class="petcard-name2">
                    {{ nombre_explode }} {{ apellido_explode }}
                  </div>
                  <div class="petcard-name3">
                    RockoFriend
                  </div>
                </div>
                <div class="petcard-coordinates">
                  12°20’01.2”S76°49’38.8”W
                </div>
              </div>
            </div>
          </div>
          <div class="petcard-item petcard-item-text">
            <h4 class="petcard-head">
              ¡Bienvenid{{ genero_l }} a
              <br />
              la comunidad
              <br />
              <span>RockoFriends!</span>
            </h4>
          </div>
        </div>
      </div>
    </section>

    <!--Codigo registro-->
    <section class="section-profile">
      <div class="container" v-if="etapa1">
        <div class="row">
          <div class="col--12">
            <div class="step">
              <ul class="progreso">
                <li>
                  <span></span>
                  Paso 1
                </li>
                <li class="active">
                  <span></span>
                  Paso 2
                </li>
                <li>
                  <span></span>
                  Paso 3
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-image">
                <div class="profile-image-edit">
                  <img src="@/assets/img/icono-camara.svg" @click="openModalImage()" alt="" />
                </div>
                <img class="image-circle" :src="imageData" alt="" />
              </div>
              <div class="profile-title">
                <h4 class="profile-title-head" style="text-transform: capitalize !important">
                  ¡Hola {{ nombre_explode }}!
                </h4>
                <div class="profile-coins">
                  <span>
                    Al completar esta información adicional: <br>
                    ¡Tendrá <b>30 Rockocoins</b> adicionales!
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">Información Adicional</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-profesion.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="profesion" @change="verificarProfesion()">
                      <option value="0" selected>Profesión u Oficio</option>
                      <option
                        :value="profesion.id"
                        v-for="profesion in profesiones"
                        :key="profesion.id"
                      >
                        {{ profesion.name }}
                      </option>
                      <option value="1" selected>Otra Profesión u Oficio</option>
                    </select>
                  </div>
                  <div class="form-field" :disabled="isDisabledProfesion">
                    <img src="@/assets/img/icono-profesion.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      placeholder="Otra Profesión u oficio"
                      v-model="otra_profesion"
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-centro-laboral.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      placeholder="Centro laboral"
                      v-model="centro_laboral"
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/aros.png" alt="" />

                    <select name="select" class="select" v-model="estado_civil">
                      <option value="0" hidden>Estado civil</option>
                      <option value="1">Soltero</option>
                      <option value="2">Casado</option>
                      <option value="3">Divorciado</option>
                      <option value="4">Viudo</option>
                      <option value="5">Prefiero no decirlo</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="El depa de Rocko" />
                    <v-date-picker v-model="cumpleanos" :max-date="this.fechaMaxDate" :masks="masks" :model-config="modelConfig">
                      <template v-slot="{ inputValue, inputEvents }">
                        <input
                          :value="inputValue"
                          v-on="inputEvents"
                          placeholder="Fecha de nacimiento"
                        />
                      </template>
                    </v-date-picker>
                  </div>
                  <p class="form-field-error" v-if="cumpleanos_mayor">Debes ser mayor de edad para registrarte.</p>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="" />

                    <select name="select" class="select" v-model="nacimiento">
                      <option value="0" selected hidden>País de nacimiento</option>
                      <option :value="pais.id" v-for="pais in paises" :key="pais.id">
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="" />

                    <select name="select" class="select" v-model="pais" @change="verificarPais()">
                      <option value="0" selected hidden>País de residencia</option>
                      <option :value="pais.id" v-for="pais in paises" :key="pais.id">
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select name="select" v-model="departamento" @change="getProvincia(1)" :disabled="peru"
                      class="select">
                      <option value="0" selected>Departamento</option>
                      <option :value="depart.id" v-for="depart in departamentos" :key="depart.id">
                        {{ depart.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select name="select" v-model="provincia" @change="getDistrito(1)" :disabled="peru" class="select">
                      <option value="0" selected>Provincia</option>
                      <option :value="provin.id" :key="provin.id" v-for="provin in provincias">
                        {{ provin.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select name="select" v-model="distrito" :disabled="peru" class="select">
                      <option value="0" selected>Distrito</option>
                      <option :value="district.id" :key="district.id" v-for="district in distritos">
                        {{ district.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field w-80">
                    <img src="@/assets/img/ubicacion-2.png" alt="" />
                    <input type="text" name="" v-model="domicilio" placeholder="Domicilio" maxlength="50" id="" />
                  </div>
                </div>
              </div>
              <div class="form-field-btn">
                <p v-if="error" style="color: red; margin-left: 10rem; margin-top: 1rem">
                  Tu cumpleaños, País de Nacimiento y País de Residencia son
                  obligatorios!
                </p>
                <input type="button" class="btn" value="Continuar" v-on:click="storeAdicionales()" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container" v-if="etapa2">
        <div class="row" style="margin-bottom: 2rem">
          <div class="col--12">
            <div class="step">
              <ul class="progreso">
                <li>
                  <span></span>
                  Paso 1
                </li>
                <li>
                  <span></span>
                  Paso 2
                </li>
                <li class="active">
                  <span></span>
                  Paso 3
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-title">
                <h4 class="profile-title-head">¡No olvides a tu engreído!</h4>
                <div class="profile-coins">
                  <span>Rocko le regala 40 Rockocoins más a tu engreído. <br> ¡Tendrá hasta <b>100 Rockocoins!</b></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col--12" v-for="(mascota, index) in mascotas" :key="mascota.id">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="form-content">
                  <div class="form-title form-title-icono form-title-flex">
                    <h2>{{ mascota.nombre || 'Nuevo engreído' }}</h2>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="mascota.tipo">
                      <option value="0">Tipo</option>
                      <option value="1">Gato</option>
                      <option value="2">Perro</option>
                      <option value="3">Hámster</option>
                      <option value="4">Conejo</option>
                      <option value="5">Ave</option>
                      <option value="6">Pez</option>
                      <option value="7">Puercoespín</option>
                      <option value="8">Otro</option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.nombre"
                      placeholder="Nombre del engreído"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/genero-1.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="mascota.sexo">
                      <option value="0">Sexo</option>
                      <option value="1">Macho</option>
                      <option value="2">Hembra</option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.raza"
                      placeholder="Raza"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="El depa de Rocko" />
                    <v-date-picker v-model="mascota.cumpleanos" :masks="masks" :model-config="modelConfig">
                      <template v-slot="{ inputValue, inputEvents }">
                        <input
                          :value="inputValue"
                          v-on="inputEvents"
                          placeholder="Cumpleaños"
                        />
                      </template>
                    </v-date-picker>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/hobbie.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.hobbie"
                      placeholder="Hobbie"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/comida.svg" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.comida"
                      placeholder="Comida favorita"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/juguete.svg" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.juguete"
                      placeholder="Juguete favorito"
                      id=""
                    />
                  </div>
                  <div style="width: 100%">
                    <p v-if="validationMascota && validationIndex == index" style="color: red">
                      Para registrar una mascota es obligatorio el nombre y su
                      tipo!
                    </p>
                  </div>
                  <div class="close-mascota">
                    <img 
                      src="@/assets/img/icon-close.png" 
                      @click="validarEliminarMascota(mascota, index)" 
                      alt="Depa de Rocko" />
                  </div>
                </div>
              </div>
              <div class="form-field-btn">
                <p v-if="datos_adicionales">
                  Sus datos han sido actualizados correctamente.
                </p>
                <input
                  type="button"
                  class="btn"
                  value="Guardar"
                  :disabled="isDisabled && validationDisabled == index"
                  @click="validarMascota(mascota, index)"
                />
              </div>
            </form>
          </div>
          <div class="form-content">
            <span @click="agregarMascota()" class="link-addmore">
              <img src="@/assets/img/icono-plus-circle.svg" alt="El depa de Rocko" />
              Agregar engreído
            </span>
          </div>
          <div class="form-field-btn">
            <input type="button" class="btn" value="Finalizar" v-on:click="finalizar()" />
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalEliminar">
    <div class="modal-content modal-content-sm">
      <div class="modal-container">
        <div class="modal-head">
          <div class="modal-image">
            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
          </div>
          <div class="modal-close">
            <img @click="hideModalEliminar()" src="@/assets/img/icon-close-modal.png" alt="El depa de Rocko" />
          </div>
        </div>
        <div class="modal-body">
          <p><b>¡{{textMascotaEliminar}}!,</b> ¿Estás seguro que quieres eliminar la info de tu mascota?</p>
          <button type="button" @click="eliminarMascota()" class="btn">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col--12 modal-overlay modal-custom" v-show="showModalGuardar">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-head">
          <div class="modal-image">
            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
          </div>
        </div>
        <div class="modal-body">
          <p><b>¡{{textMascota}}!,</b> Hemos guardado la información. <br> ¡Gracias por actualizar tus datos!</p>
          <button type="button" @click="this.showModalGuardar=false;" class="btn">Okey</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalImage">
    <div class="modal-content modal-content-lg">
      <div class="modal-container">
        <div class="modal-body">
          <h2>¿Qu&eacute; imagen te representa?</h2>
          <div class="modal-grid-image">
            <div class="m-item__image">
              <img @click="selectImageProfile(1)" src="@/assets/img/icon-cat.svg" alt="El depa de Rocko" />
            </div>
            <div class="m-item__image">
              <img @click="selectImageProfile(2)" src="@/assets/img/icon-dog.svg" alt="El depa de Rocko" />
            </div>
            <div class="m-item__image">
              <input type="file" name="uploadFieldName" @change="uploadImage" accept="image/*" class="input-file" id="profile_img">
              <img src="@/assets/img/icon-upload.svg" alt="El depa de Rocko" />
            </div>
          </div>
        </div>
        <div class="modal-close">
          <img @click="hideModalImage()" src="@/assets/img/icon-close-modal.png" alt="El depa de Rocko" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
import $ from 'jquery';

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      isDisabled: false,
      isDisabledProfesion: true,
      cumpleanos_mayor: false,
      peru: true,
      uuid: this.$route.params.uuid,
      usuario: "",
      paises: [],
      departamentos: [],
      pais: 0,
      nacimiento: 0,
      departamento: 0,
      distrito: 0,
      provincia: 0,
      provincias: [],
      distritos: [],
      profesiones: [],
      profesion: 0,
      otra_profesion: "",
      centro_laboral: "",
      cumpleanos: "",
      domicilio: "",
      etapa1: true,
      etapa2: false,
      estado_civil: 0,
      nacimiento: 0,
      tipo_mascota: 0,
      nombre: "",
      cumple: "",
      edad: "",
      id_usuario: "",
      genero_l: "",
      nombre_explode: "",
      apellido_explode: "",
      error: false,
      error2: false,
      sexo: 0,
      raza: "",
      hobbie: "",
      mascotas: [{
        "sexo"  : 0,
        "tipo"  : 0,
        "nombre": "",
      }],
      id_mascota: null,
      index_mascota: 0,
      showModalEliminar: false,
      showModalGuardar: false,
      showModalImage: false,
      validationMascota: false,
      rockocard: 0,
      rockocard1: "0000",
      rockocard2: "0000",
      rockocard3: "0000",
      rockocard4: "0000",
      membershipYear: "",
      imageData: this.back_url+"/assets/img/icono-user.png",
      imageOption: "",
      textMascota: "",
      textMascotaEliminar: "",
      validationIndex: null,
      validationDisabled: null,
      fechaMaxDate: this.chooseMaxDate(),
      masks: {
        input: 'YYYY-MM-DD',
      },
      modelConfig: {
        type: 'string',
        mask: 'YYYY-MM-DD',
      },
    };
  },
  created() {
    this.activateAccount();
    this.getPaises();
    this.getProfesiones();
    localStorage.uuid = this.uuid;
  },
  mounted() { 
    $('html, body').animate({
      scrollTop: $("#section").offset().top
    }, 100);
  },
  methods: {
    chooseMaxDate(){
      const fechaHoy = new Date();
      const year = fechaHoy.getFullYear() - 18 ;
      const month = fechaHoy.getMonth() + 1;
      const day = fechaHoy.getDate();
      const maxDate = `${year}-${month}-${day}`;
      return maxDate;
    },
    activateAccount() {
      axios
        .get(this.back_url + "/api/getUsuario/" + this.uuid,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          this.usuario = response.data;
          this.mascotas = response.data.mascotasdata.length > 0 ? response.data.mascotasdata : this.mascotas ;
          const nombre = this.usuario.nombre;
          const nombre_exp = nombre.split(" ");
          this.nombre_explode = nombre_exp[0];
          const apellido = this.usuario.apellido;
          const apellido_exp = apellido.split(" ");
          this.apellido_explode = apellido_exp[0];
          this.rockocard = String(this.usuario.rockocard).padStart(16,0);
          this.rockocard1 = this.rockocard.substr(0,4);
          this.rockocard2 = this.rockocard.substr(4,4);
          this.rockocard3 = this.rockocard.substr(8,4);
          this.rockocard4 = this.rockocard.substr(12,4);
          this.membershipYear = new Date(this.usuario.created_at).getFullYear();
          if (this.usuario.id < 10) {
            this.id_usuario = "000" + this.usuario.id;
          }
          if (this.usuario.id >= 10 && this.usuario.id <= 99) {
            this.id_usuario = "00" + this.usuario.id;
          }
          if (this.usuario.id >= 100 && this.usuario.id <= 999) {
            this.id_usuario = "0" + this.usuario.id;
          }
          if (this.usuario.id >= 1000 && this.usuario.id <= 9999) {
            this.id_usuario = this.usuario.id;
          }
          if (this.usuario.genero == 1) {
            this.genero_l = "o";
          }
          if (this.usuario.genero == 2) {
            this.genero_l = "a";
          }
          if (this.usuario.genero == 3) {
            this.genero_l = "e";
          }
          if (response.data.adicionalesdata != null) {
            this.profesion = response.data.adicionalesdata.id_profesion || 0;
            this.otra_profesion = response.data.adicionalesdata.profesion;
            this.centro_laboral = response.data.adicionalesdata.centro_laboral;
            this.estado_civil = response.data.adicionalesdata.estado_civil || 0;
            this.cumpleanos = response.data.adicionalesdata.cumpleanos;
            this.nacimiento = response.data.adicionalesdata.pais_nacimiento || 0;
            this.pais = response.data.adicionalesdata.pais_residencia || 0;
            this.verificarPais()
            this.departamento = response.data.adicionalesdata.id_departamento || 0;
            this.getProvincia()
            this.provincia = response.data.adicionalesdata.id_provincia || 0;
            this.getDistrito()
            this.distrito = response.data.adicionalesdata.id_distrito || 0;
            this.imageOption = response.data.adicionalesdata.profile_option || "";
            this.domicilio = response.data.adicionalesdata.domicilio || "";
            if(response.data.adicionalesdata.profile_option === 1){
              this.imageData = this.back_url+"/assets/img/icon-cat.svg";
            } else if(response.data.adicionalesdata.profile_option === 2){
              this.imageData = this.back_url+"/assets/img/icon-dog.svg";
            } else if(response.data.adicionalesdata.profile_option === 3){
              this.imageData = this.img_url+"/images/clientes/"+response.data.adicionalesdata.profile_img
            } else {
              this.imageData = this.back_url+"/assets/img/icono-user.png";
            }
          }
        });
    },
    openModalImage() {
      this.showModalImage = true;
    },
    selectImageProfile(option) {
      if(option === 1) {
        this.imageData = this.back_url+"/assets/img/icon-cat.svg";
      } else if (option === 2) {
        this.imageData = this.back_url+"/assets/img/icon-dog.svg";
      }
      this.imageOption = option;
      this.showModalImage = false;
    },
    uploadImage(event) {
      const input = event.target;
			if (input.files && input.files[0]) {
				const reader = new FileReader();
				reader.onload = (e) => {
					this.imageData = e.target.result;
          this.showModalImage = false;
          this.imageOption = 3;
				};
				reader.readAsDataURL(input.files[0]);
			}
    },
    getProfesiones() {
      axios
        .get(this.back_url + "/api/getProfesiones",{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          this.profesiones = response.data;
        });
    },
    getPaises() {
      axios
        .get(this.back_url + "/api/getPaises")
        .then((response) => {
          this.paises = response.data;
        });
    },
    verificarProfesion(){
      console.log(this.profesion);
      if(this.profesion == 1){
        this.isDisabledProfesion = false;
      } else {
        this.isDisabledProfesion = true;
        this.otra_profesion = "";
      }
    },
    verificarPais() {
      if (this.pais == 174) {
        this.peru = false;
        this.getDepartamentos();
      } else {
        this.departamento = "0";
        this.provincia = "0";
        this.distrito = "0";
        this.departamentos = [];
        this.provincias = [];
        this.distritos = [];
        this.peru = true;
      }
    },
    getDepartamentos() {
      axios
        .get(this.back_url + "/api/getDepartamentos")
        .then((response) => {
          this.departamentos = response.data;
        });
    },
    getProvincia(status) {
      axios
        .get(
          this.back_url + "/api/getProvincias/" +
          this.departamento
        )
        .then((response) => {
          this.provincias = response.data;
          if(status == 1){
            this.provincia = "0";
            this.distrito = "0";
            this.distritos = [];
          }
        });
    },
    getDistrito(status) {
      axios
        .get(
          this.back_url + "/api/getDistritos/" + this.provincia
        )
        .then((response) => {
          this.distritos = response.data;
          if(status == 1){
            this.distrito = "0";
          }
        });
    },
    calcularEdad(fecha_nacimiento){
      let hoy = new Date();
      let cumpleanos = new Date(fecha_nacimiento);
      let edad = hoy.getFullYear() - cumpleanos.getFullYear();
      let m = hoy.getMonth() - cumpleanos.getMonth();
      if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
        edad--;
      }
      return edad;
    },
    storeAdicionales() {
      const formData = new FormData();
      const imagefile = document.querySelector('#profile_img');
      let profile_img = "";
      if(this.imageOption === 3){
        profile_img = imagefile.files[0];
      }
      if (this.calcularEdad(this.cumpleanos) >= 18) {
        this.cumpleanos_mayor = false;
      } else {
        this.cumpleanos_mayor = true;
        return;
      }
      formData.append("id_profesion", this.profesion == 0 ? '' : this.profesion);
      this.otra_profesion != null && formData.append("profesion", this.otra_profesion);
      this.centro_laboral != null && formData.append("centro_laboral", this.centro_laboral);
      formData.append("cumpleanos", this.cumpleanos);
      formData.append("pais", this.pais == 0 ? '' : this.pais);
      formData.append("departamento", this.departamento == 0 ? '' : this.departamento);
      formData.append("provincia", this.provincia == 0 ? '' : this.provincia);
      formData.append("domicilio", this.domicilio);
      formData.append("distrito", this.distrito == 0 ? '' : this.distrito);
      formData.append("uuid", this.uuid);
      formData.append("estado_civil", this.estado_civil == 0 ? '' : this.estado_civil);
      formData.append("nacimiento", this.nacimiento == 0 ? '' : this.nacimiento);
      formData.append("profile_img", profile_img);
      formData.append("profile_option", this.imageOption);
      if (this.cumpleanos && this.pais && this.nacimiento) {
        axios
          .post(this.back_url + "/api/storeAdicionales", formData,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
          .then((response) => {
            if (response.data == 200) {
              this.etapa1 = false;
              this.etapa2 = true;
            }
          });
      } else {
        this.error = true;
      }
    },
    validarMascota(mascota,index) {
      this.index_mascota = index;
      if(mascota.tipo == 0 || mascota.nombre === ''){
        this.validationMascota = true;
        this.validationIndex = index;
        return;
      }
      this.storeMascota(mascota);
    },
    validarEliminarMascota(mascota, index){
      if(mascota.tipo == 1){
        this.textMascotaEliminar = "Miau";
      } else {
        this.textMascotaEliminar = "Guau";
      }
      if(mascota.id){
        this.showModalEliminar = true;
        this.id_mascota = mascota.id;
        this.index_mascota = index;
      } else {
        this.mascotas.splice(index, 1);
      }
      if(this.mascotas.length === 0){
        this.mascotas.push({
          sexo: 0,
          tipo: 0,
          nombre: '',
        });
      }
    },
    eliminarMascota(){
      const params = {
        id_mascota: this.id_mascota,
      }
      axios
      .post(this.back_url + "/api/eliminarMascota", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
      .then((response) => {
          if (response.data == 100) {
            return;
          }
          this.showModalEliminar = false;
          this.mascotas.splice(this.index_mascota, 1);
          if(this.mascotas.length === 0){
            this.mascotas.push({
              sexo: 0,
              tipo: 0,
              nombre: '',
            });
          }
      });
    },
    agregarMascota(){
      this.mascotas.push({
        sexo: 0,
        tipo: 0,
        nombre: '',
      });
    },
    storeMascota(mascota) {
      this.isDisabled = true;
      this.validationDisabled = this.index_mascota;
      const params = {
        tipo_mascota: mascota.tipo,
        nombre: mascota.nombre,
        cumple: mascota.cumpleanos,
        sexo: mascota.sexo,
        raza: mascota.raza,
        hobbie: mascota.hobbie,
        uuid: this.uuid,
        id_mascota: mascota ? mascota.id : null,
      };
      axios
        .post(this.back_url + "/api/storeMascota", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          if(mascota.tipo == 1){
            this.textMascota = "Miau";
          } else {
            this.textMascota = "Guau";
          }
          if (response.data.status) {
            this.mascotas.splice(this.index_mascota, 1, response.data.mascota);
            this.showModalGuardar = true;
            this.validationMascota = false;
            this.isDisabled = false;
          } else{
            this.isDisabled = false;
            return;
          }
          
        });
    },
    hideModalEliminar() {
      this.showModalEliminar = false;
    },
    hideModalImage() {
      this.showModalImage = false;
    },
    finalizar() {
      window.location.href = this.front_url + "/perfil";
    },
  },
};
</script>

<style scoped>
.modal-content {
  margin-top: 10%;
  height: 350px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}
h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}
p {
  font-size: 16px;
  margin: 20px 0;
}
</style>
