<template>
    <body>
        <Menu />
        <section id="section" class="portada-propiedad">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>Mis propiedades</h2>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
              <div class="my-properties">
                <div class="my-property__item">
                  <div class="m-item__video">
                    <div class="m-image">
                      <img src="@/assets/img/icon-rocko-propiedad.svg" alt="El depa de Rocko" />
                    </div>
                  </div>
                  <div class="m-item__content">
                    <div class="m-content">
                      <h2>Depa 1</h2>
                      <button type="button" class="btn">Edita tu propiedad</button>
                    </div>
                  </div>
                  <div class="m-item__menu">
                    <div class="m-menu__burger">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="m-menu__container">
                      <div class="m-menu__item">
                        <p @click="openModalEditProperty()">Editar nombre</p>
                      </div>
                      <div class="m-menu__item">
                        <p @click="openModalDuplicateProperty()">Duplicar</p>
                      </div>
                      <div class="m-menu__item">
                        <p @click="openModalDeleteProperty()">Eliminar</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-property__item">
                  <div class="m-item__content">
                    <div class="m-content" style="cursor: pointer;">
                      <img src="@/assets/img/icon-add-property.svg" alt="El depa de Rocko" @click="openModalProperty()" />
                      <h2>Agregar propiedad</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <Footer />
        <div class="col--12 modal-overlay modal-custom" v-show="showModalEditProperty">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>¿Cuál es el nombre de la propiedad <br> que aparecerá en la plataforma web? </p>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-home.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="name"
                            placeholder="Nombre de la propiedad"
                            />
                        </div>
                        <p class="form-field-error"> {{ this.name_error }}</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="validateNameProperty()"
                                class="btn">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="modal-close">
                        <img @click="hideModalEditProperty()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col--12 modal-overlay modal-custom" v-show="showModalDeleteProperty">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p><b>¡Guau!</b>, ¿Estás seguro que quieres eliminar esta propiedad?</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="deleteProperty()"
                                class="btn">
                                Eliminar
                            </button>
                        </div>
                    </div>
                    <div class="modal-close">
                        <img @click="hideModalDeleteProperty()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col--12 modal-overlay modal-custom" v-show="showModalDeleteProperty">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p><b>¡Guau!</b>, ¿Estás seguro que quieres eliminar esta propiedad?</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="deleteProperty()"
                                class="btn">
                                Eliminar
                            </button>
                        </div>
                    </div>
                    <div class="modal-close">
                        <img @click="hideModalDeleteProperty()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col--12 modal-overlay modal-custom" v-show="showModalProperty">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>¿Cuál es el nombre de la propiedad <br> que aparecerá en la plataforma web? </p>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-home.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="name"
                            placeholder="Nombre de la propiedad"
                            />
                        </div>
                        <p class="form-field-error"> {{ this.name_error }}</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="validateNameProperty()"
                                class="btn">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="modal-close">
                        <img @click="hideModalProperty()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      showModalEditProperty: false,
      showModalDuplicateProperty: false,
      showModalDeleteProperty: false,
      showModalProperty: false,
      nombre_explode: "",
      uuid: localStorage.getItem('uuid'),
      usuario: "",
      name: "",
      id_usuario: 0
    };
  },
  methods: {
    openModalEditProperty() {
        this.showModalEditProperty = true;
    },
    openModalDuplicateProperty(){
        this.showModalDuplicateProperty = true;
    },
    openModalDeleteProperty(){
        this.showModalDeleteProperty = true;
    },
    hideModalEditProperty() {
        this.showModalEditProperty = false;
    },
    hideModalDuplicateProperty() {
        this.showModalDuplicateProperty = false;
    },
    hideModalDeleteProperty() {
        this.showModalDeleteProperty = false;
    },
    openModalProperty() {
        this.showModalProperty = true;
    },
    hideModalProperty() {
        this.showModalProperty = false;
    },
    validateNameProperty() {
        const params = {
          id_cliente: this.id_usuario,
          nombre: this.name
        };
        axios
          .post(
            "http://127.0.0.1:8000" + "/api/createPropiedad",
            params,
            {
                headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                }
            }
          )
          .then((response) => {
            if (response.data == 200) {
              this.showModalProperty = false;
            }
          });
    },
  },
};
</script>