<template>
    <body>
        <Menu />
        <section id="section" class="portada-contacto-persona">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>¿Cómo quieres que te contacten?</h2>
                    <p>Esta información será enviada al RockoFriend una vez te reserven.</p>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
                <div class="m-form__grid">
                    <div class="m-form__title">
                        <h2>Contacto</h2>
                    </div>
                    <div class="m-form__inputs">
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-email.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="correo"
                            placeholder="Correo*"
                            @keydown="validarCorreo()" @keyup="validarCorreo()"
                            />
                            <p class="form-field-error" v-if="correo_validar">*El correo es requerido.</p>
                            <p class="form-field-error" v-if="correo_formato">* El correo ingresado es incorrecto.</p>
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-phone.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="phone"
                            placeholder="Número de celular*"
                            />
                            <p class="form-field-error" v-if="phone_validar">* Celular es requerido.</p>
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-web.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="web"
                            placeholder="Página Web"
                            />
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-linkedin.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="linkedin"
                            placeholder="Linkedin"
                            />
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-instagram.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="instagram"
                            placeholder="Instagram"
                            />
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-tiktok.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="tiktok"
                            placeholder="Tik Tok"
                            />
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-facebook.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="facebook"
                            placeholder="Facebook"
                            />
                        </div>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-whatsapp.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="whatsapp"
                            placeholder="Whatsapp"
                            />
                        </div>
                    </div>
                    <a href="/mis-propiedades/contacto" class="m-form__menu">
                        <img src="@/assets/img/icon-back-home.svg" alt="El depa de Rocko" />
                    </a>
                </div>
                <div class="m-form__actions">
                    <label for="tyc" class="m-checkbox">
                        Acepto los <a href="/terminos-condiciones" target="_blank"><b>Términos y condiciones</b></a> y <a href="/politica-privacidad" target="_blank"><b>Política de privacidad</b> </a> de El Depa de Rocko.
                        <input type="checkbox" v-model="terminos_condiciones" name="" id="tyc"  @change="selectTerminos()">
                        <span class="checkmark"></span>
                    </label>
                    <label for="tratamiento" class="m-checkbox">
                        Acepto el tratamiento de mis datos para noticias y promociones exclusivas.
                        <input type="checkbox" name="" v-model="tratamiento" id="tratamiento">
                        <span class="checkmark"></span>
                    </label> 
                    <button type="button" class="btn" v-on:click="ejecutar()" :disabled="isDisabled" >Guardar</button>
                </div>
            </div>
        </section>
        <Footer />
        <div class="col--12 modal-overlay modal-custom" v-show="showModalNaturalPerson">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p><b>¡Guau!</b>, ¿Estás seguro que quieres cambiar a persona natural?</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="saveNaturalPerson()"
                                class="btn">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
        showModalNaturalPerson: false,
        correo: "",
        phone: "",
        web: "",
        linkedin: "",
        instagram: "",
        tiktok: "",
        facebook: "",
        whatsapp: "",
        correo_validar: false,
        phone_validar: false,
        id_contacto: localStorage.getItem('id_usuario'),
        terminos_condiciones: false,
        tratamiento: false,
        isDisabled: true,
        correo_formato: false,
    };
  },
  methods: {
    saveNaturalPerson() {
        this.showModalNaturalPerson = false;
    },
    selectTerminos(){
      if(this.terminos_condiciones){
        this.isDisabled = false;
      } else {
        this.isDisabled = true;
      }
    },
    validEmail: function (email) {
      var re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validarCorreo() {
      if (this.validEmail(this.correo)) {
        this.correo_formato = false;
      } else {
        this.correo_formato = true;
      }
    },
    ejecutar() {
        if (this.correo) {
            this.correo_validar = false;
        } else {
            this.correo_validar = true;
            return;
        }
        if (this.phone) {
            this.phone_validar = false;
        } else {
            this.phone_validar = true;
            return;
        }
        const params = {
          correo: this.correo,
          phone: this.phone,
          web: this.web,
          linkedin: this.linkedin,
          instagram: this.instagram,
          tiktok: this.tiktok,
          facebook: this.facebook,
          whatsapp: this.whatsapp,
          id_contacto: this.id_contacto,
          check_terminos: this.terminos_condiciones,
          check_datos: this.tratamiento,
          tipo_persona: 1
        };
        axios.post(
            this.back_url + "/api/guardarContacto",
            params
          )
          .then((response) => {
            if (response.data == 200) {
              console.log("listo");
              window.location.href = "http://localhost:3000/mis-propiedades/contacto";
            }else {
                console.log("error");
            }
          });
    }
  },
};
</script>