<template>
  <body>
    <Menu />
    <section class="portada-login reset-account">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">¡Recupera tu contraseña!</div>
        <p class="parrafo-head">Te enviaremos un correo para que puedas recuperar tu contraseña</p>
        <form action="" class="form-login">
          <div class="form-field">
            <img src="@/assets/img/icono-candado.svg" alt="">
            <input :type="tipo_clave" style="color: white" v-model="clave" @keydown="validarClave()"
                    @keyup="validarClave()" name="" placeholder="Clave" id="">
            <img src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="">
          </div>
          <div class="form-field">
            <img src="@/assets/img/icono-candado.svg" alt="">
            <input :type="tipo_clave2" style="color: white" v-model="repetir" name="" placeholder="Repetir Clave" id="">
            <img src="@/assets/img/icono-ojo.png" @click="cambiarcampo2()" alt="">
          </div>
          <p v-if="seguridad != 0 && seguridad != ''" style="color:white; margin-left: 1rem">{{ seguridad }}</p>
          <input type="button" @click="enviarclave()" value="Cambiar Clave" class="btn">
          <p class="text-link">
            ¿Ya recuerdas tu contraseña?
            <a href="/login">Inicia sesión.</a>
          </p>
        </form>
      </div>
    </section>

    
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
        clave: '',
        repetir: '',
        seguridad: '',
        tipo_clave: 'password',
        tipo_clave2: 'password',
        uuid: this.$route.params.uuid,
    };
  },
  mounted() {},
  methods: {
    validarClave() {
      const regex = /^(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ]/;
      if (regex.test(this.clave)) {
        this.seguridad = 0;
      } else {
        this.seguridad = "La clave debe contener al menos una letra mayúscula, una letra minúscula, y números";
      }
    },
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
    cambiarcampo2() {
      if (this.tipo_clave2 == "password") {
        this.tipo_clave2 = "text";
      } else {
        this.tipo_clave2 = "password";
      }
    },

      enviarclave() {
          if (this.clave == this.repetir && this.seguridad == 0) {
              const params = {
                  uuid: this.uuid,
                clave: this.clave
            }

              axios.post(this.back_url + '/api/asignarClave', params).then((response) => {
                  if (response.data == 200)
                  {
                    window.location.href = this.front_url + "/login";
                }
            })
        }
    }
  },
};
</script>
