<template>

	<body>
		<Menu />
		<!-- Aqui van las secciones -->
		<section class="portada-nosotros">
			<div class="bg-opacity"></div>
			<div class="container">
				<div class="title-head">Somos más de 25 000 RockoFriends en
					Perú y Latinoamérica
				</div>
			</div>
		</section>

		<section class="history">
			<div class="container">
				<div class="row">
					<div class="col--12">
						<div class="title-about">
							<h4>Nuestra Historia</h4>
							<!-- <hr> -->
							<p>
								Mi hogar nunca volvió a ser el mismo después de que llegaron mis engreídos.
								<br>
								<i class="m-mobile">- Angel, Founder & CEO El Depa de Rocko -</i>
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col--12">
						<swiper
							:slidesPerView="1"
							:spaceBetween="30"
							:grabCursor="true"
							:loop="true"
							:breakpoints="{
								'640': {
									slidesPerView: 1,
									spaceBetween: 20,
								},
								'768': {
									slidesPerView: 3,
									spaceBetween: 17,
									init: true,
									initialSlide: -1,
								},
								'1024': {
									slidesPerView: 3,
									spaceBetween: 50,
									init: true,
									initialSlide: -1,
								},
							}"
							:modules="modules"
							class="swiper-container swp-nosotros">
							
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-11.png" alt="">
									</div>
									<div class="slide-text">
										<h4>31.DICIEMBRE.2019</h4>
										<p>
											Rocko funda El Depa de Rocko a finales del 2019, tenía. Él siempre fue el verdadero dueño del Depa.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-12.png" alt="">
									</div>
									<div class="slide-text">
										<h4>01.ENERO.2020</h4>
										<p>
											Rocko sabía lo difícil que era encontrar habitaciones Pet para vacacionar. 
											Por eso, funda su empresa inmobiliaria: Rockorent.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-13.png" alt="">
									</div>
									<div class="slide-text">
										<h4>06.DICIEMBRE.2020</h4>
										<p>
											Debido a la pandemia Rocko cambia el modelo de negocio de alquilar habitaciones Pet a Depas Pet.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-14.png" alt="">
									</div>
									<div class="slide-text">
										<h4>31.DICIEMBRE.2020</h4>
										<p>
											Rocko anuncia el lanzamiento del Depa 1 y Depa 2: Depas Pet Friendly.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-15.png" alt="">
									</div>
									<div class="slide-text">
										<h4>02.JUNIO.2021</h4>
										<p>
											Gracias al feedback de su comunidad, Rocko empieza a trabajar en la “Experiencia Rocko”: Los detalles importan.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-16.png" alt="">
									</div>
									<div class="slide-text">
										<h4>10.ENERO.2022</h4>
										<p>
											Rocko anuncia el lanzamiento del Depa 3: Un concepto de Depa Pet moderno.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-17.png" alt="">
									</div>
									<div class="slide-text">
										<h4>08.JUNIO.2022</h4>
										<p>
											Rocko lanza El RockoBlog: Para que más historias Pet sean contadas, fase 1 de su startup: El Depa de Rocko.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-18.png" alt="">
									</div>
									<div class="slide-text">
										<h4>14.AGOSTO.2022</h4>
										<p>
											Rocko lanza la RockoCard, La tarjeta Pet Friendly como lo imaginabas, fase 2 de su startup: El Depa de Rocko.
										</p>
									</div>
								</div>
							</swiper-slide>
	
							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-19.png" alt="">
									</div>
									<div class="slide-text">
										<h4>PR&Oacute;XIMAMENTE</h4>
										<p>
											Rocko lanzará los RockoPoints: Por más lugares Pet Friendly, fase 3 de su startup: El Depa de Rocko.
										</p>
									</div>
								</div>
							</swiper-slide>

							<swiper-slide>
								<div class="slide">
									<div class="slide-image">
										<img src="@/assets/img/cuadro-19.png" alt="">
									</div>
									<div class="slide-text">
										<h4>PR&Oacute;XIMAMENTE</h4>
										<p>
											Rocko lanzará El Primer Portal Inmobiliario Pet Friendly: Por más hogares Pet, fase 4 de su startup: El Depa de Rocko.
										</p>
									</div>
								</div>
							</swiper-slide>

						</swiper>
					</div>
				</div>
			</div>
		</section>

		<section class="section-black">
			<div class="container">
				<div class="row">
					<div class="col--12">
						<div class="title-about">
							<h4>Nuestros Valores</h4>
							<!-- <hr> -->
						</div>
					</div>
				</div>

				<div class="row">
					<div class="group-values">
						<div class="value">
							<div class="value-image">
								<img src="@/assets/img/bg-valor-1.svg" alt="">
							</div>
							<div class="value-text">
								<b>
									Amor y Respeto:
								</b>
								por los engreídos
							</div>
						</div>
						<div class="value">
							<div class="value-image">
								<img src="@/assets/img/bg-valor-2.png" alt="">
							</div>
							<div class="value-text">
								<b>
									Equipo: 
								</b>
								El mejor Rocko Team
							</div>
						</div>
						<div class="value">
							<div class="value-image">
								<img src="@/assets/img/bg-valor-3.png" alt="">
							</div>
							<div class="value-text">
								<b>
									Innovación:
								</b>
								Todo el tiempo
							</div>
						</div>
						<div class="value">
							<div class="value-image">
								<img src="@/assets/img/bg-valor-4.png" alt="">
							</div>
							<div class="value-text">
								<b>RockoFriends:</b>
								Comunidad
							</div>
						</div>
						<div class="value">
							<div class="value-image">
								<img src="@/assets/img/bg-valor-5.png" alt="">
							</div>
							<div class="value-text">
								<b>RockoMundi:</b>
								Expansión
							</div>
						</div>
						<div class="value">
							<div class="value-image">
								<img src="@/assets/img/bg-valor-6.png" alt="">
							</div>
							<div class="value-text">
								<b>Experiencia Rocko:</b>
								Los detalles importan
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-mission">
			<div class="block-mission">
				<div class="block-mission-text">
					<div class="title-about">
						<h4>Misión</h4>
						<!-- <hr> -->
						<p>Que todos los lugares posibles en el mundo sean Pet Friendly.</p>
					</div>
				</div>
				<div class="block-mission-image">
					<img src="@/assets/img/bg-mision.png" alt="">
				</div>
			</div>
			<div class="block-mission">
				<div class="block-mission-image">
					<img src="@/assets/img/bg-vision.png" alt="">
				</div>
				<div class="block-mission-text">
					<div class="title-about sumate">
						<h4>Visión</h4>
						<!-- <hr> -->
						<p>Ser el portal inmobiliario favorito para Pet Lovers.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section-black">
			<div class="container">
				<div class="row">
					<div class="col--12">
						<div class="title-about">
							<h4 class="sumate">¡Súmate RockoFriend!</h4>
							<!-- <hr> -->
							<br>
							<p class="parrafo parrafo-xs">
								Para que todos los lugares  posibles en el mundo sean Pet Friendly:
							</p>
							<a href="/registro" class="btn">Regístrate</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col--12">
						<div class="group-points">
							<div class="point">
								<div class="point-image">
									<img src="@/assets/img/personas.svg" alt="">
								</div>
								<div class="point-text">
									<b>25k +</b>
									<br>
									RockoFriends
								</div>
							</div>
							<div class="point">
								<div class="point-image">
									<img src="@/assets/img/icono-casa.svg" alt="">
								</div>
								<div class="point-text">
									<b>3</b>
									<br>
									Propiedades
								</div>
							</div>
							<div class="point">
								<div class="point-image">
									<img src="@/assets/img/icono-ubicacion.svg" alt="">
								</div>
								<div class="point-text">
									<b>10</b>
									<br>
										RockoPoints
								</div>
							</div>
							<div class="point">
								<div class="point-image">
									<img src="@/assets/img/icono-reserva.svg" alt="">
								</div>
								<div class="point-text">
									<b>350</b>
									<br>
							      Reservas
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<Footer />
	</body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";

export default {
	components: {
		Menu,
		Footer,
		Swiper,
		SwiperSlide
	},
	setup() {
		return {
			modules: [],
		};
	},
	data() {
		return {};
	},
	mounted() { },
	methods: {},
};
</script>