<template>
  <body>
    <Menu @rockoCoins="rockoCoins=$event" />
    <section class="portada-perfil 0">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="group-petcard">
          <div class="petcard-item">
            <div class="petcard">
              <div class="petcard-code">
                <img src="@/assets/img/icon-qr.svg" alt="El depa de Rocko" />
              </div>
              <div class="petcard-title">
                RockoCard
              </div>
              <div class="petcard-number">
                <span>{{ rockocard1 }}</span>
                <span>{{ rockocard2 }}</span>
                <span>{{ rockocard3 }}</span>
                <span>{{ rockocard4 }}</span>
              </div>
              <div class="petcard-value">
                <div class="petcard-name">
                  <div class="petcard-name1">
                    AFILIADO DESDE
                    <b>{{ membershipYear }}</b>
                  </div>
                  <div class="petcard-name2">
                    {{ nombre_explode }} {{ apellido_explode }}
                  </div>
                  <div class="petcard-name3">
                    RockoFriend
                  </div>
                </div>
                <div class="petcard-coordinates">
                  12°20’01.2”S76°49’38.8”W
                </div>
              </div>
            </div>
          </div>
          <div class="petcard-item petcard-item-text">
            <h4 class="petcard-head">
              ¡Bienvenid{{ genero_l }} a
              <br />
              la comunidad
              <br />
              <span>RockoFriends!</span>
            </h4>
          </div>
        </div>
      </div>
    </section>

    <!--Codigo registro-->
    <section class="section-profile">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-title">
                <h4 class="profile-title-head">¡Hola {{ nombre_explode }}!</h4>
                <div class="profile-coins">
                  <div class="profile-icono-rockocoin">
                    <img src="@/assets/img/icono-rockocoin-pig.svg" alt="El depa de Rocko" />
                    <div class="profile-popup">
                      <h2>1 RockoCoin = 1 Sol</h2>
                      <p>Tienen validez como descuento  para sus próximas reservas.</p>
                    </div>
                  </div>
                  <span> Rockocoins acumulados: <b>{{ rockoCoins }}</b> </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="profile-image relative">
                  <div href="" class="profile-image-edit">
                    <img src="@/assets/img/icono-camara.svg" @click="openModalImage()" alt="" />
                  </div>
                  <img class="image-circle" :src="imageData" alt="El depa de Rocko" />
                </div>
                <h3 class="form-title">Datos Personales</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-usuario.svg" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="nombre"
                      placeholder="Nombre"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-usuario.svg" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="apellido"
                      placeholder="Apellido"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="documento"
                      placeholder="DNI"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-genero.png" alt="El depa de Rocko" />

                    <select name="select" v-model="genero" class="select">
                      <option value="0">Género</option>
                      <option value="1">Hombre</option>
                      <option value="2">Mujer</option>
                      <option value="3">Prefiero no decirlo</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/msg.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="correo"
                      placeholder="Correo"
                      @blur="verificarCorreo()"
                    />
                    <br />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/phone.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="celular"
                      placeholder="Número de celular"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/candado.png" alt="El depa de Rocko" />
                    <input
                      :type="tipo_clave"
                      name=""
                      v-model="clave"
                      placeholder="Contraseña"
                    />
                    <img
                      src="@/assets/img/icono-ojo.png"
                      @click="cambiarcampo()"
                      alt="El depa de Rocko"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/candado.png" alt="El depa de Rocko" />
                    <input
                      :type="tipo_clave2"
                      name=""
                      v-model="repetir"
                      placeholder="Confirmar contraseña"
                    />
                    <img
                      src="@/assets/img/icono-ojo.png"
                      @click="cambiarcampo2()"
                      alt="El depa de Rocko"
                    />
                  </div>
                  <p v-if="datos_basicos">
                    Sus datos han sido actualizados correctamente.
                  </p>
                  <p v-if="correo_existe" style="color: red; font-weight: 700">
                    Este correo ya existe en nuestra base de datos.
                  </p>
                </div>
              </div>
              <input
                type="button"
                value="Guardar"
                @click="guardarDatosBasicos()"
                class="btn"
              />
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">Información Adicional</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-profesion.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="profesion" @change="verificarProfesion()">
                      <option value="0" selected>Profesión u Oficio</option>
                      <option
                        :value="profesion.id"
                        v-for="profesion in profesiones"
                        :key="profesion.id"
                      >
                        {{ profesion.name }}
                      </option>
                      <option value="1" selected>Otra Profesión u Oficio</option>
                    </select>
                  </div>
                  <div class="form-field" :disabled="isDisabledProfesion">
                    <img src="@/assets/img/icono-profesion.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      placeholder="Otra Profesión u oficio"
                      v-model="otra_profesion"
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-centro-laboral.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      placeholder="Centro laboral"
                      v-model="centro_laboral"
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-estado-civil.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="estado_civil">
                      <option value="0">Estado civil</option>
                      <option value="1">Soltero</option>
                      <option value="2">Casado</option>
                      <option value="3">Divorciado</option>
                      <option value="4">Viudo</option>
                      <option value="5">Prefiero no decirlo</option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="El depa de Rocko" />
                    <v-date-picker v-model="cumpleanos" :max-date="this.fechaMaxDate" :masks="masks" :model-config="modelConfig">
                      <template v-slot="{ inputValue, inputEvents }">
                        <input
                          :value="inputValue"
                          v-on="inputEvents"
                          placeholder="Fecha de Nacimiento"
                        />
                      </template>
                    </v-date-picker>
                  </div>
                  <p class="form-field-error" v-if="cumpleanos_mayor">Debes ser mayor de edad para registrarte.</p>
                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="nacimiento">
                      <option value="0" selected>País de nacimiento</option>
                      <option
                        :value="pais.id"
                        v-for="pais in paises"
                        :key="pais.id"
                      >
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="El depa de Rocko" />
                    <select
                      name="select"
                      class="select"
                      v-model="pais"
                      @change="verificarPais"
                    >
                      <option value="0" selected>País de residencia</option>
                      <option
                        :value="pais.id"
                        v-for="pais in paises"
                        :key="pais.id"
                      >
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                    <select
                      name="select"
                      v-model="departamento"
                      @change="getProvincia(1)"
                      :disabled="peru"
                      class="select"
                    >
                      <option value="0" selected>Departamento</option>
                      <option
                        :value="depart.id"
                        v-for="depart in departamentos"
                        :key="depart.id"
                      >
                        {{ depart.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />

                    <select
                      name="select"
                      v-model="provincia"
                      @change="getDistrito(1)"
                      :disabled="peru"
                      class="select"
                    >
                      <option value="0" selected>Provincia</option>
                      <option
                        :value="provin.id"
                        :key="provin.id"
                        v-for="provin in provincias"
                      >
                        {{ provin.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                    <select
                      name="select"
                      v-model="distrito"
                      :disabled="peru"
                      class="select"
                    >
                      <option value="0" selected>Distrito</option>
                      <option
                        :value="district.id"
                        :key="district.id"
                        v-for="district in distritos"
                      >
                        {{ district.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="domicilio"
                      placeholder="Domicilio"
                    />
                  </div>
                </div>
              </div>
              <div class="form-field-btn">
                <p v-if="datos_adicionales">
                  Sus datos han sido actualizados correctamente.
                </p>
                <input
                  type="button"
                  class="btn"
                  value="Guardar"
                  @click="storeAdicionales()"
                />
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <h3 class="form-title other-title">Mis engreídos</h3>
          <div class="col--12" v-for="(mascota, index) in mascotas" :key="mascota.id">
            <form action="" class="form-perfil other-form">
              <div class="form">
                <div class="form-content">
                  <div class="form-title form-title-icono form-title-flex">
                    <h2>{{ mascota.nombre || 'Nuevo engreído' }}</h2>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="mascota.tipo">
                      <option value="0">Tipo</option>
                      <option value="1">Gato</option>
                      <option value="2">Perro</option>
                      <option value="3">Hámster</option>
                      <option value="4">Conejo</option>
                      <option value="5">Ave</option>
                      <option value="6">Pez</option>
                      <option value="7">Puercoespín</option>
                      <option value="8">Otro</option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.nombre"
                      placeholder="Nombre del engreído"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/genero-1.png" alt="El depa de Rocko" />
                    <select name="select" class="select" v-model="mascota.sexo">
                      <option value="0">Sexo</option>
                      <option value="1">Macho</option>
                      <option value="2">Hembra</option>
                    </select>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.raza"
                      placeholder="Raza"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="El depa de Rocko" />
                    <v-date-picker v-model="mascota.cumpleanos" :masks="masks" :model-config="modelConfig">
                      <template v-slot="{ inputValue, inputEvents }">
                        <input
                          :value="inputValue"
                          v-on="inputEvents"
                          placeholder="Cumpleaños"
                        />
                      </template>
                    </v-date-picker>
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/hobbie.png" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.hobbie"
                      placeholder="Hobbie"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/comida.svg" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.comida"
                      placeholder="Comida favorita"
                      id=""
                    />
                  </div>
                  <div class="form-field">
                    <img src="@/assets/img/juguete.svg" alt="El depa de Rocko" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.juguete"
                      placeholder="Juguete favorito"
                      id=""
                    />
                  </div>
                  <div style="width: 100%">
                    <p v-if="validationMascota && validationIndex == index" style="color: red">
                      Para registrar una mascota es obligatorio el nombre y su
                      tipo!
                    </p>
                  </div>
                  <div class="close-mascota">
                    <img 
                      src="@/assets/img/icon-close.png" 
                      @click="validarEliminarMascota(mascota, index)" 
                      alt="Depa de Rocko" />
                  </div>
                </div>
              </div>
              <div class="form-field-btn">
                <p v-if="datos_adicionales">
                  Sus datos han sido actualizados correctamente.
                </p>
                <input
                  type="button"
                  class="btn btn-guardar"
                  value="Guardar"
                  :disabled="isDisabled && validationDisabled == index"
                  @click="validarMascota(mascota, index)"
                />
              </div>
            </form>
          </div>
          <div class="form-content">
            <span @click="agregarMascota()" class="link-addmore">
              <img src="@/assets/img/icono-plus-circle.svg" alt="El depa de Rocko" />
              Agregar engreído
            </span>
          </div>
        </div>
      </div>
    </section>
    <Footer />
    <Loading v-if="isLoading" />
  </body>

  <!-- <Modal v-show="showModal" /> -->

  <div class="col--12 modal-overlay modal-custom" v-show="showModal">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-head">
          <div class="modal-image">
            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
          </div>
        </div>
        <div class="modal-body">
          <p><b>¡Guau!,</b> hemos registrado tu solicitud correctamente. <br> 
          Para terminar, revisa el correo que te enviamos para actualizarlo.</p>
          <span @click="validarCambioEmail()" class="btn">Okey</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col--12 modal-overlay modal-custom" v-show="showModal2">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-head">
          <div class="modal-image">
            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
          </div>
        </div>
        <div class="modal-body">
          <p><b>¡Guau!,</b> hemos guardado la información. <br> ¡Gracias por actualizar tus datos!</p>
          <button type="button" @click="this.showModal2=false;" class="btn">Okey</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalEliminar">
    <div class="modal-content modal-content-sm">
      <div class="modal-container">
        <div class="modal-head">
          <div class="modal-image">
            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
          </div>
          <div class="modal-close">
            <img @click="hideModalEliminar()" src="@/assets/img/icon-close-modal.png" alt="El depa de Rocko" />
          </div>
        </div>
        <div class="modal-body">
          <p><b>¡{{textMascotaEliminar}}!,</b> ¿Estás seguro que quieres eliminar la info de tu mascota?</p>
          <button type="button" @click="eliminarMascota()" class="btn">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalGuardar">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-head">
          <div class="modal-image">
            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
          </div>
        </div>
        <div class="modal-body">
          <p><b>¡{{textMascota}}!,</b> hemos guardado la información. <br> ¡Gracias por actualizar tus datos!</p>
          <button type="button" @click="this.showModalGuardar=false;" class="btn">Okey</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalImage">
    <div class="modal-content modal-content-lg">
      <div class="modal-container">
        <div class="modal-body">
          <h2>¿Qu&eacute; imagen te representa?</h2>
          <div class="modal-grid-image">
            <div class="m-item__image">
              <img @click="selectImageProfile(1)" src="@/assets/img/icon-cat.svg" alt="El depa de Rocko" />
            </div>
            <div class="m-item__image">
              <img @click="selectImageProfile(2)" src="@/assets/img/icon-dog.svg" alt="El depa de Rocko" />
            </div>
            <div class="m-item__image">
              <input type="file" name="uploadFieldName" @change="uploadImage" accept="image/*" class="input-file" id="profile_img">
              <img src="@/assets/img/icon-upload.svg" alt="El depa de Rocko" />
            </div>
          </div>
        </div>
        <div class="modal-close">
          <img @click="hideModalImage()" src="@/assets/img/icon-close-modal.png" alt="El depa de Rocko" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import Loading from "@/components/LoadingComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
    Loading,
  },
  data() {
    return {
      isLoading: true,
      isDisabled: false,
      isDisabledProfesion: true,
      cumpleanos_mayor: false,
      date: new Date(),
      showModal: false,
      perfil: "",
      paises: [],
      departamentos: [],
      provincias: [],
      distritos: [],
      profesiones: [],
      adicionales: "",
      mascotas: [{
        "sexo"  : 0,
        "tipo"  : 0,
        "nombre": "",
      }],
      nombre: "",
      apellido: "",
      documento: "",
      genero: "",
      correo: "",
      celular: "",
      tipo_clave: "password",
      profesion: 0,
      otra_profesion: "",
      centro_laboral: "",
      estado_civil: "",
      cumpleanos: "",
      nacimiento: "",
      pais: "",
      departamento: 0,
      provincia: 0,
      distrito: 0,
      domicilio: "",
      peru: true,
      tipo_mascota: 0,
      nombre_mascota: "",
      cumple: "",
      edad: "",
      clave: "",
      repetir: "",
      id_usuario: 0,
      genero_l: "e",
      nombre_explode: "",
      apellido_explode: "",
      seguridad: "",
      tipo_clave: "password",
      tipo_clave2: "password",
      datos_basicos: false,
      datos_adicionales: false,
      tipo_mascota: 0,
      cumple: "",
      edad: "",
      uuid: "",
      correo_existe: false,
      cambioEmail: false,
      correoOriginal: "",
      showModal2: false,
      id_mascota: null,
      index_mascota: 0,
      showModalEliminar: false,
      showModalGuardar: false,
      showModalImage: false,
      validationMascota: false,
      rockocard: 0,
      rockocard1: "0000",
      rockocard2: "0000",
      rockocard3: "0000",
      rockocard4: "0000",
      membershipYear: "",
      imageData: this.back_url+"/assets/img/icono-user.png",
      imageOption: "",
      rockoCoins: 0,
      textMascota: "",
      textMascotaEliminar: "",
      validationIndex: null,
      validationDisabled: null,
      fechaMaxDate: this.chooseMaxDate(),
      masks: {
        input: 'YYYY-MM-DD',
      },
      modelConfig: {
        type: 'string',
        mask: 'YYYY-MM-DD',
      },
    };
  },
  created() {
    if (!localStorage.uuid) {
      this.redirect();
    } else {
      this.cargar();
    }
  },
  mounted() {
    this.uuid = localStorage.uuid;
  },
  methods: {
    chooseMaxDate(){
      const fechaHoy = new Date();
      const year = fechaHoy.getFullYear() - 18 ;
      const month = fechaHoy.getMonth() + 1;
      const day = fechaHoy.getDate();
      const maxDate = `${year}-${month}-${day}`;
      return maxDate;
    },
    validarMascota(mascota,index) {
      this.index_mascota = index;
      if(mascota.tipo == 0 || mascota.nombre === ''){
        this.validationMascota = true;
        this.validationIndex = index;
        return;
      }
      this.storeMascota(mascota);
    },
    openModalImage() {
      this.showModalImage = true;
    },
    selectImageProfile(option) {
      if(option === 1) {
        this.imageData = this.back_url+"/assets/img/icon-cat.svg";
      } else if (option === 2) {
        this.imageData = this.back_url+"/assets/img/icon-dog.svg";
      }
      this.imageOption = option;
      this.showModalImage = false;
    },
    uploadImage(event) {
      const input = event.target;
			if (input.files && input.files[0]) {
				const reader = new FileReader();
				reader.onload = (e) => {
					this.imageData = e.target.result;
          this.showModalImage = false;
          this.imageOption = 3;
				};
				reader.readAsDataURL(input.files[0]);
			}
    },
    validarCambioEmail() {
        localStorage.clear();
        window.location.href = this.front_url + "/login";
    },
    validarEliminarMascota(mascota, index){
      if(mascota.tipo == 1){
        this.textMascotaEliminar = "Miau";
      } else {
        this.textMascotaEliminar = "Guau";
      }
      if(mascota.id){
        this.showModalEliminar = true;
        this.id_mascota = mascota.id;
        this.index_mascota = index;
      } else {
        this.mascotas.splice(index, 1);
      }
      if(this.mascotas.length === 0){
        this.mascotas.push({
          sexo: 0,
          tipo: 0,
          nombre: '',
        });
      }
    },
    eliminarMascota(){
      const params = {
        id_mascota: this.id_mascota,
      }
      axios
      .post(this.back_url + "/api/eliminarMascota", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
      .then((response) => {
          if (response.data == 100) {
            return;
          }
          this.showModalEliminar = false;
          this.mascotas.splice(this.index_mascota, 1);
          if(this.mascotas.length === 0){
            this.mascotas.push({
              sexo: 0,
              tipo: 0,
              nombre: '',
            });
          }
      });
    },
    agregarMascota(){
      this.mascotas.push({
        sexo: 0,
        tipo: 0,
        nombre: '',
      });
    },
    storeMascota(mascota) {
      this.isDisabled = true;
      this.validationDisabled = this.index_mascota;
      const params = {
        tipo_mascota: mascota.tipo,
        nombre: mascota.nombre,
        cumple: mascota.cumpleanos,
        sexo: mascota.sexo,
        raza: mascota.raza,
        hobbie: mascota.hobbie,
        comida: mascota.comida,
        juguete: mascota.juguete,
        uuid: this.uuid,
        id_mascota: mascota ? mascota.id : null,
      };
      axios
        .post(this.back_url + "/api/storeMascota", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          if(mascota.tipo == 1){
            this.textMascota = "Miau";
          } else {
            this.textMascota = "Guau";
          }
          if (response.data.status) {
            this.mascotas.splice(this.index_mascota, 1, response.data.mascota);
            this.showModalGuardar = true;
            this.validationMascota = false;
            this.rockoCoins = response.data.rockocoins;
            this.isDisabled = false;
          } else {
            this.isDisabled = false;
            return;
          }
        });
    },
    hideModalEliminar() {
      this.showModalEliminar = false;
    },
    hideModalImage() {
      this.showModalImage = false;
    },
    verificarCorreo() {
      axios
        .get(this.back_url + "/api/validarCorreo/" + this.correo+"/"+localStorage.uuid)
        .then((response) => {
          if (response.data == 1) {
            this.correo_existe = true;
          } else {
            this.correo_existe = false;
          }
        });
    },
    validarClave() {
      const regex = /^(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ]/;
      if (regex.test(this.clave)) {
        this.seguridad = 0;
      } else {
        this.seguridad =
          "La clave debe contener al menos una letra mayúscula, una letra minúscula, y números";
      }
    },
    guardarDatosBasicos() {
      const formData = new FormData();
      const imagefile = document.querySelector('#profile_img');
      let profile_img = "";
      if(this.imageOption === 3){
        profile_img = imagefile.files[0];
      }
      formData.append("nombre",this.nombre);
      formData.append("apellido",this.apellido);
      formData.append("documento",this.documento);
      formData.append("genero",this.genero);
      formData.append("celular",this.celular);
      formData.append("clave",this.clave);
      formData.append("uuid",localStorage.uuid);
      formData.append("profile_img", profile_img);
      formData.append("profile_option", this.imageOption);
      if(this.correo_existe == false){
      axios
        .post(this.back_url + "/api/update-basicios", formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          if (this.correoOriginal != this.correo && this.correo_existe == false) {
            const params = {
              correoActual: this.correoOriginal,
              correoNuevo: this.correo
            }
            console.log(params)
            axios.post(this.back_url + '/api/updateEmail', params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        }).then((response) => {
              console.log(response)
              if (response.data == 200) {
                this.showModal = true
              }
            })
          }
          else {
            this.showModal2 = true
          }
        });
      }
    },
    calcularEdad(fecha_nacimiento){
      let hoy = new Date();
      let cumpleanos = new Date(fecha_nacimiento);
      let edad = hoy.getFullYear() - cumpleanos.getFullYear();
      let m = hoy.getMonth() - cumpleanos.getMonth();
      if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
        edad--;
      }
      return edad;
    },
    storeAdicionales() {
      if (this.calcularEdad(this.cumpleanos) >= 18) {
        this.cumpleanos_mayor = false;
      } else {
        this.cumpleanos_mayor = true;
        return;
      }
      const params = {
        id_profesion: this.profesion == 0 ? '' : this.profesion,
        profesion: this.otra_profesion,
        centro_laboral: this.centro_laboral,
        estado_civil: this.estado_civil == 0 ? '' : this.estado_civil,
        cumpleanos: this.cumpleanos,
        nacimiento: this.nacimiento == 0 ? '' : this.nacimiento,
        pais: this.pais == 0 ? '' : this.pais,
        departamento: this.departamento == 0 ? '' : this.departamento,
        provincia: this.provincia == 0 ? '' : this.provincia,
        distrito: this.distrito == 0 ? '' : this.distrito,
        domicilio: this.domicilio,
        uuid: localStorage.uuid,
      };
      axios
        .post(this.back_url + "/api/update-adicionales", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          if (response.data.status) {
            this.showModal2 = true
            this.rockoCoins = response.data.rockocoins;
          }
        });
    },
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
    cambiarcampo2() {
      if (this.tipo_clave2 == "password") {
        this.tipo_clave2 = "text";
      } else {
        this.tipo_clave2 = "password";
      }
    },
    redirect() {
      window.location.href = this.front_url + "/login";
    },
    verificarProfesion(){
      console.log(this.profesion);
      if(this.profesion == 1){
        this.isDisabledProfesion = false;
      } else {
        this.isDisabledProfesion = true;
        this.otra_profesion = "";
      }
    },
    verificarPais() {
      if (this.pais == 174) {
        this.peru = false;
        this.getDepartamentos();
      } else {
        this.departamento = "0";
        this.provincia = "0";
        this.distrito = "0";
        this.departamentos = [];
        this.provincias = [];
        this.distritos = [];
        this.peru = true;
      }
    },
    getProfesiones() {
      axios
        .get(this.back_url + "/api/getProfesiones",{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          this.profesiones = response.data;
        });
    },
    getPaises() {
      axios
        .get(this.back_url + "/api/getPaises")
        .then((response) => {
          this.paises = response.data;
          this.pais = this.pais;
        });
    },
    getDepartamentos() {
      axios
        .get(this.back_url + "/api/getDepartamentos")
        .then((response) => {
          this.departamentos = response.data;
        });
    },
    getProvincia(status) {
      axios
        .get(
          this.back_url + "/api/getProvincias/" +
            this.departamento
        )
        .then((response) => {
          this.provincias = response.data;
          if(status == 1){
            this.provincia = "0";
            this.distrito = "0";
            this.distritos = [];
          }
        });
    },
    getDistrito(status) {
      axios
        .get(
          this.back_url + "/api/getDistritos/" + this.provincia
        )
        .then((response) => {
          this.distritos = response.data;
          if(status == 1){
            this.distrito = "0";
          }
        });
    },
    cargar() {
       this.getPerfil();
       this.getPaises();
       this.getProfesiones();
    },
    getPerfil() {
      const params = {
        uuid: localStorage.uuid,
      };
      axios
        .post(this.back_url + "/api/getPerfil", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          this.perfil = response.data;
          this.mascotas = response.data.mascotasdata.length > 0 ? response.data.mascotasdata : this.mascotas ;
          this.adicionales = response.data.adicionalesdata;
          const nombre = this.perfil.nombre;
          const nombre_exp = nombre.split(" ");
          this.nombre_explode = nombre_exp[0];
          const apellido = this.perfil.apellido;
          const apellido_exp = apellido.split(" ");
          this.apellido_explode = apellido_exp[0];
          this.nombre = this.perfil.nombre;
          this.apellido = this.perfil.apellido;
          this.documento = this.perfil.documento;
          this.genero = this.perfil.genero;
          this.rockocard = String(this.perfil.rockocard).padStart(16,0);
          this.rockocard1 = this.rockocard.substr(0,4);
          this.rockocard2 = this.rockocard.substr(4,4);
          this.rockocard3 = this.rockocard.substr(8,4);
          this.rockocard4 = this.rockocard.substr(12,4);
          this.membershipYear = new Date(this.perfil.created_at).getFullYear();
          this.imageOption = this.adicionales.profile_option;
          this.rockoCoins = this.perfil.rockocoins;
          if(this.imageOption === 1){
            this.imageData = this.back_url+"/assets/img/icon-cat.svg";
          } else if(this.imageOption === 2){
            this.imageData = this.back_url+"/assets/img/icon-dog.svg";
          } else if(this.imageOption === 3){
            this.imageData = this.img_url+"/images/clientes/"+this.adicionales.profile_img
          } else {
            this.imageData = this.back_url+"/assets/img/icono-user.png";
          }
          if (this.genero == 1) {
            this.genero_l = "o";
          }
          if (this.genero == 2) {
            this.genero_l = "a";
          }
          if (this.genero == 3) {
            this.genero_l = "e";
          }
          this.correo = this.perfil.correo;
          this.correoOriginal = this.perfil.correo;
          this.celular = this.perfil.celular;
          this.profesion = this.adicionales.id_profesion || 0;
          this.otra_profesion = this.adicionales.profesion;
          this.centro_laboral = this.adicionales.centro_laboral;
          this.estado_civil = this.adicionales.estado_civil || 0;
          this.cumpleanos = this.adicionales.cumpleanos;
          this.nacimiento = this.adicionales.pais_nacimiento|| 0;
          this.pais = this.adicionales.pais_residencia|| 0;
          this.verificarPais()
          this.verificarProfesion()
          this.getDepartamentos()
          this.departamento = response.data.adicionalesdata.id_departamento || 0;
          this.getProvincia()
          this.provincia = response.data.adicionalesdata.id_provincia || 0;
          this.getDistrito()
          this.domicilio = this.adicionales.domicilio || "";
          this.tipo_mascota = response.data.mascotasdata.tipo;
          this.nombre_mascota = response.data.mascotasdata.nombre;
          this.cumple = response.data.mascotasdata.cumpleanos;
          this.edad = response.data.mascotasdata.edad;
          if (this.perfil.id < 10) {
            this.id_usuario = "000" + this.perfil.id;
          }
          if (this.perfil.id >= 10 && this.perfil.id <= 99) {
            this.id_usuario = "00" + this.perfil.id;
          }
          if (this.perfil.id >= 100 && this.perfil.id <= 999) {
            this.id_usuario = "0" + this.perfil.id;
          }
          if (this.perfil.id >= 1000 && this.perfil.id <= 9999) {
            this.id_usuario = this.perfil.id;
          }
          if (this.pais == 174) {
            this.provincia = this.adicionales.id_provincia || 0;
            this.distrito = this.adicionales.id_distrito || 0;
          }
          this.isLoading = false;
        });
    },
  },
};
</script>


<style scoped>
.check {
  width: 150px;
}
h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}
p {
  font-size: 16px;
  margin: 20px 0;
}
</style>