<template>
    <body>
        <Menu />
        <section id="section" class="portada-contacto-persona">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>¡Hola {{ nombre_explode }}!</h2>
                    <p>¿Cómo deseas registrar tu propiedad?</p>
                </div>
            </div>
        </section>
        <section class="m-section">
            <div class="m-container">
                <div class="m-edit__grid contact">
                    <a href="/mis-propiedades/contacto/natural" class="m-edit__item">
                        <div class="m-icon">
                            <img src="@/assets/img/icon-persona-natural.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Persona natural</p>
                    </a>
                    <a href="/mis-propiedades/contacto/juridica" class="m-edit__item">
                        <div class="m-icon">
                            <img src="@/assets/img/icon-persona-juridica.svg" alt="El depa de Rocko" />
                        </div>
                        <p>Persona jurídica</p>
                    </a>
                </div>
            </div>
        </section>
        <Footer />
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
export default {
  components: {
    Menu,
    Footer,
  },
  created() {
    this.viewAccount();
    localStorage.uuid = this.uuid;
  },
  data() {
    return {
        nombre_explode: "",
        uuid: localStorage.getItem('uuid'),
        access_token: localStorage.getItem('access_token'),
        usuario: "",
        name: "",
        id_usuario: 0
    };
  },
  methods: {
    viewAccount() {
        console.log("link:", this.back_url + "/api/getUsuario/" + "b9d266e0-1af9-11ed-ae27-919818133785");
        console.log("access_token:", this.access_token);
        axios.get("http://127.0.0.1:8000" + "/api/getUsuario/" + "b9d266e0-1af9-11ed-ae27-919818133785",{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + this.access_token
          }
        })
        .then((response) => {
          this.usuario = response.data;
          let nombre = this.usuario.nombre;
          let nombre_exp = nombre?.split(" ");
          this.nombre_explode = nombre_exp[0];
          this.id_usuario = this.usuario.id;
          localStorage.id_usuario = this.usuario.id;
        })
    }
  },
};
</script>