<template>
  <body>
    <Menu />

    <section class="portada-tratamiento">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Politicad de privacidad</div>
      </div>
    </section>

    <section class="title-terminos">
      <div class="container">
         <div class="row">
          <div class="col--12">
              <span> <b>
             Politicad de privacidad
              </b>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="terminos-text">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="terminos-container">
              <p>La presente Política de Privacidad y Protección de Datos Personales (la “<strong>Política”</strong>) tiene por finalidad informarle la manera en 
              que EL DEPA DE ROCKO S.A.C. (en adelante, “<strong>EL DEPA DE ROCKO</strong>”), con R.U.C. N° 20609434661, con domicilio en Ca. Manuel Atanasio 
              Fuentes N°. 515 Urb. Santa Cruz, distrito de San Isidro, provincia y departamento de Lima-Perú, trata los datos personales de los 
              usuarios que brindan sus datos personales (en adelante los “Datos Personales” a través de los diferentes formularios disponibles 
              en la página web <a href="https://eldepaderocko.com/" target="_blank">https://eldepaderocko.com/</a> (en adelante, el “<strong>Sitio web</strong>”).</p>
              <p>La Política describe toda la tipología de información que se recaba de los Usuarios en los distintos puntos de captación 
              anteriormente detallados, y todos los tratamientos que se realizan con dichos Datos Personales. El Usuario declara haber leído 
              y aceptado de manera previa y expresa la Política, sujetándose a sus disposiciones.</p>
              <p>Para efectos de esta Política, toda referencia a “nos”, “nosotros” o “nuestra”, se refiere a <strong>EL DEPA DE ROCKO</strong>, y cuando se 
              refiera a “el Usuario” o “los Usuarios”, se entenderá a todos aquellos distintos a <strong>EL DEPA DE ROCKO</strong> que naveguen, ingresen, 
              revisen, interactúen o generen contenido dentro del Sitio web.</p>
              <p>El Usuario puede navegar por el Sitio Web libremente sin necesidad de registrarse. Sin embargo, se requerirá necesariamente del registro del Usuario 
              para acceder a los servicios prestados a través de la plataforma, registro que se manifiesta a través de la obtención de una “Rockocard”. 
              Para tal fin, el Usuario deberá completar un formulario proporcionando los datos personales solicitados. Asimismo, el Sitio web permite al 
              Usuario registrado actualizar sus Datos Personales en cualquier momento. Para el tratamiento de los nuevos Datos Personales que puedan ser 
              agregados, el Usuario también señala expresamente haber leído y estar de acuerdo con la presente Política.</p>
              <p>Por otro lado, existen determinadas secciones dentro del Sitio web en las que el Usuario podrá solicitar su registro como Negocio afiliado o 
              como Tercero propietario. En dichos casos, se solicitará un registro adicional del Usuario a través del llenado de un nuevo formulario, 
              proporcionando los Datos Personales que sean solicitados. El tratamiento de estos Datos también se encuentra regulado por la presente 
              Política, respecto a la cual el Usuario señala expresamente haber leído y estar de acuerdo.</p>
              <p>El tratamiento de los Datos Personales se efectuará de acuerdo a las finalidades y los lineamientos establecidos en la 
              presente Política.</p>
              <p><strong>1. SOBRE LA VERACIDAD DE LOS DATOS PERSONALES </strong></p>
              <p>El Usuario declara que todos los Datos Personales proporcionados son verdaderos, completos y exactos. Cada Usuario es 
              responsable por la veracidad, exactitud, vigencia y autenticidad de la información suministrada, y se compromete a mantenerla 
              debidamente actualizada.</p>
              <p><strong>EL DEPA DE ROCKO</strong> no se hace responsable de la veracidad de la información ingresada por el Usuario, por lo que tampoco asume responsabilidad alguna por 
              posibles daños o perjuicios que pudieran originarse por el uso de dicha información-</p>
              <p><strong>2. INCORPORACIÓN DE LOS DATOS PERSONALES DEL USUARIO EN UN BANCO DE DATOS </strong></p>
              <p>De acuerdo a lo establecido en la Ley N° 29733, Ley de Protección de Datos Personales, y el Decreto Supremo N° 003-2013-JUS, por el que se aprueba su Reglamento, 
              <strong>EL DEPA DE ROCKO</strong> informa a los Usuarios de los Sitios Web que la Información del Usuario será incorporada al banco de datos “Usuarios del 
              Sitio web”, de titularidad de <strong>EL DEPA DE ROCKO</strong>.</p>
              <p>A través de la presente Política de Privacidad, el Usuario da su consentimiento expreso para la inclusión de sus Datos 
              Personales el mencionado banco de datos.</p>
              <p><strong>3.	¿PARA QUÉ UTILIZAMOS LOS DATOS PERSONALES DEL USUARIO? </strong></p>
              <p>Los Datos Personales del Usuario serán utilizados para:</p>
              <ul>
                <li>Atender y procesar las solicitudes de registro de los Usuarios, brindar soporte al Usuario, validar la veracidad de los Datos Personales 
                proporcionados y atender consultas del Usuario. </li>
                <li>Gestionar y administrar las cuentas que los Usuarios mantengan en el Sitio Web, incluyendo aquellas generadas en calidad de Tercero 
                propietario o Negocio afiliado, así como supervisar, monitorear y moderar el comportamiento y la actividad del Usuario en las secciones en 
                las que el Usuario pueda crear o generar contenido como Propietario Anunciante o Negocio Afiliado.</li>
                <li>Compartir los Datos Personales del Usuario a los Terceros propietarios con los que el Usuario haya decidido previa y 
                expresamente realizar una reserva de alquiler de inmueble, con el fin de que la misma pueda materializarse. Asimismo, 
                en caso el Tercero propietario se trate de una persona natural, sus Datos Personales serán compartidos con el Usuario 
                que haya efectuado una reserva de su inmueble ofrecido en alquiler.</li>
                <li>Procesar los pagos de los Usuarios que se realicen a través de la plataforma.</li>
                <li>Procesar los pagos por servicios publicitarios y/o generales que realicen los Terceros propietarios y 
                los Negocios afiliados y gestionar los vínculos comerciales que se generen con los mismos.</li>
                <li>En general, para poder cumplir con los servicios brindados a través del Sitio web</li>
              </ul>
              <p>Por otro lado, los Datos Personales de los Usuarios también podrán ser utilizados para fines adicionales de envío de noticias, 
              publicidad y promociones sobre los servicios ofrecidos por <strong>EL DEPA DE ROCKO</strong>, así como sobre los servicios ofrecidos por Negocios 
              afiliados o Terceros propietarios. Este tratamiento solo será realizado en caso el Usuario haya brindado su consentimiento expreso 
              para ello, de conformidad con las disposiciones de la Ley de Protección de Datos Personales y su Reglamento.</p>
              <p>El Usuario manifiesta expresamente que ha sido debidamente informado de todas las finalidades antes mencionadas.</p>
              <p>El Usuario se encontrará facultado para revocar, en cualquier momento, el consentimiento brindado para el tratamiento de 
              sus Datos Personales para los fines adicionales.</p>
              <p>Los Datos Personales del Usuario no serán usados para finalidades distintas a las antes mencionadas.</p>
              <p><strong>4.	¿CON QUIÉNES SE COMPARTIRÁN LOS DATOS PERSONALES DEL USUARIO?</strong></p>
              <p><strong>EL DEPA DE ROCKO</strong> compartirá los Datos Personales del Usuario con los Terceros propietarios con los que el 
              mismo Usuario haya decidido previa y expresamente realizar una reserva de uso de inmueble, con el fin de que la 
              misma pueda efectivizarse. Asimismo, en caso el Tercero propietario se trate de una persona natural, 
              sus datos serán compartidos con el Usuario que haya efectuado una reserva de su inmueble ofrecido en alquiler.</p>
              <p>Por otro lado, los Datos Personales también podrán ser compartidos con nuestros proveedores de software con 
              fines exclusivos de almacenamiento de información, los cuales se encuentran fuera del Perú, implicando así un flujo 
              transfronterizo de Datos Personales, respecto del cual el Titular de los Datos Personales brinda su conformidad expresa, 
              asegurando <strong>EL DEPA DE ROCKO</strong> el debido cumplimiento de las medidas de seguridad necesarias para su resguardo.</p>
              <p>Por último, <strong>EL DEPA DE ROCKO</strong> podrá compartir los Datos Personales del Usuario con las siguientes empresas vinculadas y/o 
              con las que mantiene relaciones comerciales: </p>
              <p><strong>5.	¿CÓMO RESGUARDAMOS LOS DATOS PERSONALES DEL USUARIO?</strong></p>
              <p><strong>EL DEPA DE ROCKO</strong> adopta las medidas técnicas y organizativas necesarias para garantizar la protección de los Datos Personales 
              del Usuario y evitar su alteración, pérdida, tratamiento y/o acceso no autorizado, habida cuenta del estado de la técnica, 
              la naturaleza de los datos almacenados y los riesgos a que están expuestos, todo ello, conforme a lo establecido por la Ley 
              de Protección de Datos Personales, su Reglamento y la Directiva de Seguridad.</p>
              <p><strong>EL DEPA DE ROCKO</strong> emplea diversas técnicas de seguridad para proteger tales Datos de accesos no autorizados. 
              A pesar de lo anterior, el Usuario reconoce que los medios técnicos existentes que brindan seguridad no son 
              inexpugnables y que aun cuando se adopten todos los recaudos razonables de seguridad es posible sufrir manipulaciones, 
              destrucción y/o pérdida de información. De presentarse estos casos, EL DEPA DE ROCKO procederá según lo dispuesto en 
              las normas aplicables.</p>
              <p>Sin perjuicio de ello, <strong>EL DEPA DE ROCKO</strong> no se hace responsable por interceptaciones ilegales o violación de sus sistemas o 
              bases de Datos por parte de personas no autorizadas, así como la indebida utilización de la información obtenida por esos medios, 
              o de cualquier intromisión ilegítima que escape al control de <strong>EL DEPA DE ROCKO</strong> y que no le sea imputable.</p>
              <p><strong>EL DEPA DE ROCKO</strong> tampoco se hace responsable de posibles daños o perjuicios que se pudieran derivar de interferencias, 
              omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este 
              sistema electrónico, motivadas por causas ajenas a <strong>EL DEPA DE ROCKO</strong>; de retrasos o bloqueos en el uso de la plataforma 
              informática causados por deficiencias o sobrecargas en el Centro de Procesos de Datos, en el sistema de Internet o en 
              otros sistemas electrónicos</p>
              <p><strong>6.	DATOS PERSONALES DEL USUARIO SOLICITADOS POR AUTORIDADES PÚBLICAS</strong></p>
              <p><strong>EL DEPA DE ROCKO</strong> se compromete a no divulgar o compartir los Datos Personales del Usuario sin que se haya prestado el 
              debido consentimiento para ello, con excepción de los siguientes casos:</p>
              <ul>
                <li>Solicitud de información de autoridades públicas en ejercicio de sus funciones y el ámbito de sus competencias.</li>
                <li>Solicitud de información en virtud de órdenes judiciales. </li>
                <li>Solicitud de información en virtud de disposiciones legales. </li>
              </ul>
              <p><strong>7.	PLAZO DE CONSERVACIÓN</strong></p>
              <p>Los Datos Personales que conforman nuestros Bancos de Datos Personales, se encontrarán almacenados mientras que el 
              registro del Usuario se encuentre activo. Para el caso de los Datos Personales adicionales que sean brindados por 
              Usuarios que soliciten su registro como Negocio Afiliado o Tercero propietario, estos se encontrarán almacenados mientras estos mantengan tal condición, en atención a nuestros Términos y Condiciones de uso.</p>
              <p><strong>8.	COOKIES</strong></p>
              <p>El Usuario acuerda recibir las Cookies que le transmita el Sitio web. Una cookie es todo tipo de “Archivo” o “Dispositivo” 
              que se descarga en un “Equipo Terminal” (Ordenador, Teléfono Móvil, Tableta u otro) de cualquier Usuario (tanto Persona Física 
              como Persona Jurídica), con la finalidad de Almacenar Datos (desde pocos Kilobytes a muchos Megabytes) y que podrán ser 
              actualizados y/o recuperados por la Entidad responsable de la instalación. Una Cookie no puede leer los datos o información 
              del disco duro del Titular de los Datos Personales ni leer las Cookies creadas por otros sitios o páginas. 
              La presente Política de Privacidad corresponde únicamente a los servicios de <strong>EL DEPA DE ROCKO</strong>. 
              La empresa no tiene control alguno sobre los sitios web mostrados como resultados de búsquedas o 
              enlaces que se incluyen en nuestro Sitio web Es posible que estos sitios independientes envíen sus 
              propias cookies u otros archivos a su equipo, recopilen Datos Personales o le soliciten que envíe información personal.</p>
              <p>Las cookies que se utilizan en el Sitio web son variadas y pueden ser clasificadas en atención a distintos criterios:</p>
              <p><span>Según el proveedor que las gestione:</span></p>
              <p>Cookies propias: son aquellas que se envían al equipo terminal del Titular de los Datos Personales desde un equipo o 
              dominio gestionado directamente por <strong>EL DEPA DE ROCKO</strong>.</p>
              <p>Cookies de terceros: son aquellas que se envían al equipo terminal del Titular de los Datos Personales desde un equipo o 
              dominio que no es gestionado por <strong>EL DEPA DE ROCKO</strong>.</p>
              <p><strong>EL DEPA DE ROCKO</strong> no es responsable del uso de Cookies de terceros. Tenga en cuenta que, como las Cookies de terceros 
              pueden continuar monitoreando sus actividades online (incluso después de que abandone nuestro Sitio web), se recomienda 
              que borre su historial de navegación regularmente.</p>
              <p><span>Según la duración por la cual permanecen activadas:</span></p>
              <p>Cookies de sesión: son aquellas diseñadas para recabar y almacenar datos mientras el Titular de los Datos Personales 
              navega por la Página Web.</p>
              <p>Cookies persistentes: son aquellas en las que los datos siguen almacenados en el terminal y pueden ser accedidos y 
              tratados durante un periodo determinado.</p>
              <p><span>Según su categoría:</span></p>
              <p>Cookies necesarias: ayudan a proporcionar funciones básicas como la navegación de páginas y el acceso a áreas seguras 
              del sitio web. La Página Web no puede funcionar correctamente sin estas cookies.</p>
              <p>Cookies de preferencias: Permiten a la Página Web recordar información que cambia la forma en que la página se comporta o 
              el aspecto que tiene.</p>
              <p>Cookies de estadística: Las cookies estadísticas ayudan a EL DEPA DE ROCKO a comprender cómo los Titulares de los Datos 
              Personales interactúan con la Página Web. Esto brinda la oportunidad de mejorar continuamente la experiencia del Titular de 
              los Datos Personales y adaptar el contenido de la Página Web a las necesidades de los Titulares de los Datos Personales.</p>
              <p>Cookies de marketing: Estas cookies almacenan información del comportamiento de los Titulares de los Datos Personales obtenida 
              a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar 
              anuncios relevantes y atractivos para el Titular de los Datos Personales.</p>
              <p>Cabe precisar que las cookies pueden borrarse del disco duro de su ordenador si el Titular de los Datos Personales así lo desea. 
              Sin embargo, es importante tener en cuenta que la desactivación completa de las cookies puede significar que el Titular de los Datos 
              Personales no pueda hacer uso de todas las funciones de la Página Web. Dependiendo del tipo de navegador que utilice, 
              podrá configurar el uso de cookies en los siguientes enlaces:</p>
              <p>Google Chrome (en el Menú Herramientas): <br> Configuración> Mostrar opciones avanzadas> Privacidad 
              (Configuración de contenido)> <br> Cookies: <br> https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=es</p>
              <p>Microsoft Internet Explorer (en el Menú Herramientas): <br> Opciones de Internet> Privacidad> Avanzada: <br> https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies</p>
              <p>Firefox: <br> Opciones> Privacidad> Cookies: <br> https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias </p>
              <p>Safari, iPad y iPhone: <br> Preferencias> Privacidad <br> https://support.apple.com/kb/ph21411?locale=es_ES</p>
              <p>Opera: <br>Configuración> Opciones> Avanzada> Cookies <br> http://help.opera.com/Windows/12.00/es-ES/cookies.html</p>
              <p>Estos navegadores están sometidos a cambios o modificaciones, por lo que no podemos garantizar que se ajusten completamente a 
              la versión de su navegador. También puede ser que utilice otro navegador no contemplado en estos enlaces. Para evitar estos 
              desajustes, puede acceder directamente desde las opciones de su navegador, generalmente en el menú de "Opciones" en la sección de 
              "Privacidad". (Por favor, consulte la ayuda de su navegador para más información).</p>
              <p><strong>9.	DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN DE DATOS PERSONALES</strong></p>
              <p>El Titular de los Datos Personales puede ejercer directamente o mediante un representante legal, sus derechos de ACCESO, 
              RECTIFICACIÓN, CANCELACIÓN, OPOSICIÓN y/o REVOCACIÓN DE CONSENTIMIENTO sobre el uso de sus Datos Personales dirigiendo su 
              solicitud con los requisitos solicitados en la Ley y demás normas aplicables a la siguiente dirección de correo 
              electrónico: <a href="mailto:contacto@eldepaderocko.com"> contacto@eldepaderocko.com</a></p>
              <p>En su solicitud, el Usuario deberá consignar y/o adjuntar, de ser el caso, la siguiente información:</p>
              <p>- Nombres y apellidos del titular del derecho y una copia de su documento de identidad (DNI o Carne de Extranjería).</p>
              <p>- De ser el caso, datos de identificación del representante del Titular de los Datos Personales, copia de su documento de 
              identidad (DNI o Carne de Extranjería), y una carta poder (con firmas legalizadas) otorgada por el Titular de los Datos Personales.</p>
              <p>- Petición concreta que da lugar a la solicitud.</p>
              <p>- Correo electrónico y/o domicilio, a efectos de las notificaciones que correspondan.</p>
              <p>- Fecha y firma del solicitante.</p>
              <p>- Documentos que sustenten la petición, de ser el caso.</p>
              <p>Asimismo, la solicitud deberá indicar a través de qué medio <strong>EL DEPA DE ROCKO</strong> deberá facilitarle la información solicitada, 
              pudiendo ser (i) por escrito, copia o fotocopia; (ii) mediante trasmisión electrónica, para lo cual se deberá indicar la 
              dirección de correo electrónico a la que se deberá remitir la información; u (iii) otra forma idónea y razonable. 
              La revocación de la autorización, no requiere de motivación alguna por parte del Usuario.</p>
              <p>Recibida una solicitud, <strong>EL DEPA DE ROCKO</strong> tendrá un plazo de cinco (5) días hábiles para formular observaciones por 
              incumplimiento que no puedan ser salvadas de oficio, otorgando al solicitante un plazo máximo de cinco (5) días hábiles 
              para subsanarlas, de lo contrario, la solicitud se tendrá por no presentada. A partir de la fecha en la que se recibe la solicitud, 
              se computará un plazo de diez (10) días hábiles para dar respuesta al Usuario. Tratándose del ejercicio del derecho de acceso, 
              el plazo será de veinte (20) días hábiles desde el día siguiente de la presentación de la solicitud.</p>
              <p>De considerar el Usuario que no ha sido correctamente atendido en el ejercicio de sus derechos ARCO por parte de 
              <strong>EL DEPA DE ROCKO</strong> podrá presentar una reclamación ante la Autoridad Nacional de Protección de Datos Personales, 
              dirigiéndose a la Mesa de Partes del Ministerio de Justicia y Derechos Humanos: Ca. Scipión Llona 350, Miraflores.</p>
              <p><strong>10. MODIFICACIONES DE LA POLÍTICA DE PRIVACIDAD </strong></p>
              <p>Cualquier modificación total o parcial a las disposiciones enumeradas en la presente Política de Privacidad se dará a 
              conocer a los Usuarios que cuenten con una cuenta creada en el Sitio web a través de un mensaje enviado a su correo electrónico 
              registrado; así como también a través del Sitio web.</p>
              <p>Por favor, verifique esta Política de Privacidad regularmente para consultar los cambios que puedan haber existido.</p>
              <p>Fecha de la última modificación: 13 de agosto del 2022.</p>
              <a href="" target="_blank"></a>
              <strong></strong>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Aqui van las secciones -->
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
