<template>
    <body>
        <Menu />
        <section id="section" class="portada-alquila-propiedad">
            <div class="bg-opacity"></div>
            <div class="m-container">
                <div class="m-title--portada">
                    <h2>¡Hola {{ nombre_explode }}!</h2>
                    <button type="button" class="btn" @click="openModalProperty()">Alquila tu propiedad</button>
                </div>
            </div>
        </section>
        <section class="m-section m-section--black">
            <div class="m-container">
                <div class="m-title">
                    <h2>Cuando visiten mi hogar</h2>
                </div>
                <div class="m-hogar">
                    <div class="m-hogar__content">
                        <div class="m-hogar__item">
                            <p>Es mi casa, <br> no la tuya.</p>
                        </div>
                        <div class="m-hogar__item">
                            <p>Si no te gusta el pelo. mantén tu distancia</p>
                        </div>
                    </div>
                    <div class="m-hogar__image">
                        <img src="@/assets/img/item-cat.svg" alt="El Depa de Rocko" />
                    </div>
                    <div class="m-hogar__content">
                        <div class="m-hogar__item">
                            <p>Para ti soy solo un gato, pero para ellos soy su bebé.</p>
                        </div>
                        <div class="m-hogar__item">
                            <p>Mis dueños me aman, a ti te quieren.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <Footer />
        <div class="col--12 modal-overlay modal-custom" v-show="showModalProperty">
            <div class="modal-content modal-content-md">
                <div class="modal-container">
                    <div class="modal-head">
                        <div class="modal-image">
                            <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>¿Cuál es el nombre de la propiedad <br> que aparecerá en la plataforma web? </p>
                        <div class="m-input m-input--icon form-field">
                            <img src="@/assets/img/icon-home.svg" alt="El depa de Rocko" />
                            <input
                            type="text"
                            name=""
                            v-model="name"
                            placeholder="Nombre de la propiedad"
                            />
                        </div>
                        <p class="form-field-error"> {{ this.name_error }}</p>
                        <div class="m-actions">
                            <button
                                type="button"
                                @click="validateNameProperty()"
                                class="btn">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="modal-close">
                        <img @click="hideModalProperty()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      showModalProperty: false,
      nombre_explode: "",
      uuid: localStorage.getItem('uuid'),
      usuario: "",
      name: "",
      id_usuario: 0
    };
  },
  created() {
    this.viewAccount();
    localStorage.uuid = this.uuid;
  },
  methods: {
    openModalProperty() {
        this.showModalProperty = true;
    },
    hideModalProperty() {
        this.showModalProperty = false;
    },
    validateNameProperty() {
        const params = {
          id_cliente: this.id_usuario,
          nombre: this.name
        };
        axios
          .post(
            "http://127.0.0.1:8000" + "/api/createPropiedad",
            params,
            {
                headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                }
            }
          )
          .then((response) => {
            if (response.data == 200) {
              this.showModalProperty = false;
            }
          });
    },
    viewAccount() {
        axios.get("http://127.0.0.1:8000" + "/api/getUsuario/" + "b9d266e0-1af9-11ed-ae27-919818133785",{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
        .then((response) => {
          this.usuario = response.data;
          let nombre = this.usuario.nombre;
          let nombre_exp = nombre?.split(" ");
          this.nombre_explode = nombre_exp[0];
          this.id_usuario = this.usuario.id;
        })
    }
  },
};
</script>