<template>
  <body>
    <Menu />

    <section id="section" class="portada-terminos">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Términos y condiciones</div>
      </div>
    </section>

    <section class="title-terminos">
      <div class="container">
         <div class="row">
          <div class="col--12">
              <span> <b>
                 Términos y Condiciones de Uso
              </b>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="terminos-text">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="terminos-condiciones">
              <p>Estos Términos y Condiciones de uso del sitio <a href="https://eldepaderocko.com/" target="_blank">https://eldepaderocko.com/</a> (en adelante, el "<strong>Sitio web</strong>"), de titularidad de 
              <b>EL DEPA DE ROCKO</b> S.A.C. (en adelante, “<strong>EL DEPA DE ROCKO</strong>”), con R.U.C. N° 20609434661, con domicilio en Ca. Manuel 
              Atanasio Fuentes N° 515 Urb. Santa Cruz, distrito de San Isidro, provincia y departamento de Lima-Perú, regulan las 
              disposiciones que regulan la visita y uso de los servicios ofrecidos a través del Sitio web, las cuales serán aplicables a 
              todas y cada una las personas que generen un registro de su cuenta (en adelante, los “<strong>Usuarios”</strong>).</p>
              <p>En ese sentido, en su calidad de Usuario, usted <span>declara haber leído y aceptado estos Términos y Condiciones</span> y consiente en 
              someterse a los mismos, por lo que le recomendamos leerlos atenta y detenidamente. En caso se encuentre en desacuerdo con estos 
              Términos y Condiciones, le pedimos abstenerse de registrarse en el Sitio web.</p>
              <p>Usted asume la responsabilidad por el uso que haga del Sitio web. Es su responsabilidad revisar y cumplir estos Términos y 
              Condiciones de Uso periódicamente.</p>
              <p>1.	<span>Registro</span></p>
              <p>Los Usuarios deberán registrarse en el Sitio web con el fin de crearse una cuenta, la cual se manifiesta a través de la 
              obtención de una “Rockocard”. Para ello, el Usuario deberá completar el formulario de registro con su información personal, 
              colocando datos tales como nombres completos, correo electrónico, documento de identidad, entre otros. Asimismo, el Usuario 
              deberá elegir una contraseña.</p>
              <p>Solo se podrá registrar una cuenta por Usuario. El Usuario deberá de proporcionar información certera, completa y actualizada. 
              No hacerlo representa una violación de los presentes Términos y Condiciones y podría significar la cancelación de la cuenta, si en 
              caso <strong>EL DEPA DE ROCKO</strong> lo considere conveniente. Sin perjuicio de ello, el Usuario se hace responsable y deberá asumir cualquier 
              daño y/o perjuicio derivado de una colocación de datos incompletos, falsos o inexactos en su registro de cuenta.</p>
              <p>El registro en el Sitio web es libre y gratuito para Usuarios mayores de edad. Los menores de edad se encuentran prohibidos 
              de generar el registro de una cuenta en el Sitio web, bajo responsabilidad de sus padres y/o tutores.</p>
              <p>El registro en el Sitio web permite acceder al servicio de intermediación (en adelante, el “Servicio”) entre Usuarios 
              interesados en alquilar inmuebles temporalmente y terceros propietarios de inmuebles que desean cederlos en alquiler temporalmente. 
              Asimismo, el Servicio incluye la facilitación un medio digital de pago a favor del Tercero propietario con el cual el Usuario 
              decida celebrar una relación contractual de alquiler de inmueble, a través de la realización de una reserva.</p>
              <p>Por otro lado, el registro en el Sitio web también permite acceder a toda la información publicada en el Sitio web 
              (en adelante, el "Contenido") por <strong>EL DEPA DE ROCKO</strong> y terceros debidamente autorizados por esta sociedad. </p>
              <p>2.	<span>Información importante sobre el Servicio y limitación de responsabilidad</span></p>
              <p>El Servicio prestado por <strong>EL DEPA DE ROCKO</strong> a través del Sitio web se limita a facilitar a los Usuarios la posibilidad de conocer la 
              disponibilidad, contactar, y solicitar la reserva de alquiler, a través de la realización de un pago, de los inmuebles que son anunciados 
              en el Sitio web por parte de los terceros propietarios de dichos inmuebles (en adelante, los “Terceros propietarios”), los cuales son 
              completamente independientes de <strong>EL DEPA DE ROCKO</strong> y serán plenamente responsables de ejecutar lo ofrecido al Usuario por ellos una vez el 
              sistema de <strong>EL DEPA DE ROCKO</strong> comunique automáticamente la realización de la reserva mediante correo electrónico. A través del Sitio web, el Usuario podrá 
              conocer información importante respecto al inmueble, a su disponibilidad de alquiler, al precio, y la identidad del Tercero propietario de forma 
              previa a solicitar su reserva. Esta información es la declarada por el Tercero propietario y su veracidad y actualización es responsabilidad 
              suya.</p>
              <p>Así, el Usuario declara conocer que los Terceros propietarios de los inmuebles sobre los cuales el Usuario realiza la reserva 
              son completamente independientes de <strong>EL DEPA DE ROCKO</strong> y no mantienen ningún vínculo con esta empresa.</p>
              <p>En ese sentido, el Usuario declara conocer que, con el pago del precio y la confirmación de la reserva que automáticamente 
              realiza el sistema de <strong>EL DEPA DE ROCKO</strong> a nombre del Tercero, el Usuario suscribe un contrato de alquiler, completamente 
              independiente de <strong>EL DEPA DE ROCKO</strong>, con el Tercero propietario del inmueble elegido, según los términos establecidos en el 
              Código Civil de la República del Perú y aquellos específicos que sean informados previamente por el Tercero en el espacio 
              destinado para tal fin. En ese sentido, el Tercero propietario se obliga ante el Usuario a cumplir con otorgarle el uso del 
              inmueble en la fecha y condiciones pactadas una vez confirmada su reserva.</p>
              <p>En virtud de lo anterior, el Usuario declara conocer que cualquier incidente o daño acontecido a partir del alquiler o uso 
              del inmueble reservado será responsabilidad del Tercero propietario del inmueble, por lo que cualquier reclamo o acción como 
              consecuencia de ello deberá ser dirigido a dicho Tercero propietario, en su calidad de responsable de garantizar la disponibilidad 
              y condiciones del inmueble que ha ofrecido en uso en el Sitio web.</p>
              <p>El Usuario declara conocer que toda la información, precio, y condiciones publicadas sobre el alquiler de cada inmueble es 
              plenamente responsabilidad del Tercero propietario de dicho inmueble, el cual garantiza su cumplimiento. Lo que se publica sobre 
              cada inmueble es lo que el propietario anunciante del mismo decide publicar y no <strong>EL DEPA DE ROCKO</strong>, siendo cada Tercero propietario 
              responsable de actualizar la información sobre su inmueble. Cualquier reclamo o acción derivado del incumplimiento de alguna 
              condición ofrecida del inmueble o de disponibilidad de alquiler previamente anunciada en el Sitio web deberá ser dirigida al 
              Tercero propietario del inmueble.</p>
              <p>El Usuario también declara conocer que en algunas oportunidades el Tercero propietario podrá aplicar algún filtro de seguridad 
              para permitir el uso de su inmueble, lo cual escapa de todo conocimiento, control o responsabilidad de <strong>EL DEPA DE ROCKO</strong>. 
              Cualquier reclamo vinculado algún daño derivado de ello deberá ser dirigido directamente a dicho Tercero.</p>
              <p>Una vez solicitada la reserva de inmueble y confirmado el pago por parte del Usuario, el sistema de <strong>EL DEPA DE ROCKO</strong> enviará 
              una notificación automática al Usuario con el resumen de la reserva realizada, en virtud de la disponibilidad declarada por el 
              Tercero propietario y bajo plena responsabilidad suya. De la misma forma, notificará al Tercero propietario sobre la reserva 
              realizada por el Usuario. El Usuario declara conocer que cualquier error u omisión en el procesamiento de la reserva posterior 
              a la notificación que <strong>EL DEPA DE ROCKO</strong> realiza al Tercero propietario escapa de su control y será plena responsabilidad del 
              Tercero propietario, debiendo responder ante el Usuario por ello. El Tercero propietario deberá comunicar directamente al Usuario 
              sobre cualquier cambio realizado en las condiciones de la reserva una vez confirmada la misma. </p>
              <p>3.	<span>Información importante sobre el pago</span></p>
              <p>La solicitud de reserva de cualquier inmueble cuyo alquiler es anunciado en el Sitio web se 
              realiza a través del pago del precio establecido por el Tercero propietario de dicho inmueble. 
              Este pago podrá realizarse únicamente mediante tarjeta de crédito o débito, de las cuales sólo se admiten tarjetas visa, 
              mastercard, diners club y american express. El Usuario es plenamente responsable de contar con los fondos necesarios para 
              el pago y de colocar la información veraz y exacta de la tarjeta que sea solicitada para poder realizar el pago correctamente. 
              <strong>EL DEPA DE ROCKO</strong> no se responsabiliza por cualquier fallo en el procesamiento del pago que sea consecuencia de la colocación 
              de datos erróneos por parte del Usuario.</p>
              <p>Una vez procesado el pago, el sistema de <b>EL DEPA DE ROCKO</b> enviará al Usuario un correo automático con el resumen de la 
              reserva realizada, según la disponibilidad declarada e informada por el Tercero propietario y bajo responsabilidad de este último. 
              Si bien <strong>EL DEPA DE ROCKO</strong> gestiona el procesamiento del pago, el Usuario declara conocer que el destinatario final del monto pagado 
              y el responsable de emitir el comprobante de pago respectivo es el Tercero propietario del inmueble reservado 
              (cobrando <strong>EL DEPA DE ROCKO</strong> únicamente una comisión sobre dicho monto), por lo que cualquier solicitud de devolución 
              posterior al envío del resumen de la reserva deberá ser dirigida a dicho Tercero propietario del inmueble, bajo su responsabilidad.</p>
              <p>Asimismo, <b>EL DEPA DE ROCKO</b> no se responsabiliza por cualquier error en el procesamiento del pago que sea consecuencia de una 
              retención por parte del banco gestor de la tarjeta de crédito o débito afiliada por motivos de seguridad o de cualquier otra índole, 
              en cuyo caso será responsable dicho banco. Asimismo, tampoco responderá por aquellas fallas del proveedor de servicios de pago de 
              <strong>EL DEPA DE ROCKO</strong> que escapen de su control.</p>
              <p>Una vez confirmada la reserva, el Tercero propietario le enviará al Usuario el comprobante de pago respectivo en un plazo máximo de 2 días desde recibido el correo de notificación 
              de la reserva realizada, bajo su responsabilidad. <strong>EL DEPA DE ROCKO</strong> no será responsable del envío del comprobante de pago. 
              El Tercero propietario será el responsable de cumplir con el envío del comprobante de pago al Usuario. Cualquier reclamo o 
              acción derivada de esto último deberá ser dirigida al Tercero propietario anunciante del inmueble.</p>
              <p>4.	<span>De los Rockocoins</span> </p>
              <p><strong>EL DEPA DE ROCKO</strong> podrá disponer en algunas ocasiones, si así lo anuncia en el Sitio web, que la sola creación de una cuenta por 
              parte del Usuario y/o el llenado de formularios adicionales le otorgue una determinada cantidad de “Rockocoins”, 
              los cuales otorgan el derecho a obtener un descuento en el precio de una reserva de su elección en un inmueble de 
              propiedad de la empresa ROCKORENT S.A.C., identificada con RUC N° 20607895041, según la siguiente fórmula de cambio: 
              1 Rockocoin = 1 sol de descuento. Los Rockocoins únicamente servirán de referencia para el cálculo de dicho descuento y 
              no serán intercambiables por dinero.</p>
              <p>El canje de Rockocoins por descuentos será únicamente aplicable en reservas de inmuebles de propiedad de ROCKORENT S.A.C. y 
              de ningún otro Tercero propietario. <strong>EL DEPA DE ROCKO</strong> informará en su Sitio web qué inmuebles disponibles en el catálogo son de 
              propiedad de ROCKORENT S.A.C., a través de algún distintivo.</p>
              <p>Podrán establecerse condiciones adicionales y/o especiales de uso de los Rockocoins (como plazos de vigencia) siempre y 
              cuando ello sea informado al Usuario mediante su publicación en el Sitio web.</p>
              <p>5.	<span>Condiciones de uso del Contenido</span></p>
              <p>El Contenido publicado en el Sitio web (que incluye o puede incluir textos, información, imágenes, fotografías, dibujos, logos, 
              diseños, video, multimedia, software, aplicaciones, música, sonidos, entre otros, así como su selección y disposición), 
              es propiedad exclusiva de <strong>EL DEPA DE ROCKO</strong>, sus anunciantes, o de Terceros propietarios autorizados. Como tal, 
              dicho Contenido se encuentra protegido por las leyes y tratados internacionales vigentes en materia de Propiedad Intelectual.</p>
              <p><strong>EL DEPA DE ROCKO</strong> no confiere a los Usuarios ninguna licencia para descargar, reproducir, copiar, enmarcar, compilar, 
              cargar o republicar en ningún sitio de Internet, Intranet o Extranet, adaptar, modificar, transmitir, vender ni comunicar al 
              público, total o parcialmente, el Contenido. </p>
              <p>Cualquiera de estas actividades requiere de la autorización previa, expresa y por escrito de <strong>EL DEPA DE ROCKO</strong>, 
              so pena de incurrir en violación a los derechos de propiedad industrial e intelectual, y someterse a las consecuencias civiles y 
              penales y administrativas. Salvo que se indique expresamente lo contrario en el presente documento, nada de lo dispuesto en los 
              presentes Términos y Condiciones de Uso del Sitio web deberá interpretarse en el sentido de otorgar una licencia sobre derechos 
              de propiedad intelectual, ya sea por impedimento legal, implícitamente o de cualquier otra forma. El Sitio web no podrá usarse 
              para ningún fin inmoral o ilegal. Los datos que se ingresen para dichos fines serán eliminados inmediatamente y <strong>EL DEPA DE ROCKO</strong> 
              se reserva el derecho de tomar las medidas legales que correspondan.</p>
              <p>Usted se compromete a utilizar el Sitio web de conformidad con la ley, lo dispuesto en este documento, así como con la moral y 
              las buenas costumbres. Usted se obliga a abstenerse de utilizar el Sitio web con fines o efectos ilícitos, contrarios a lo 
              establecido en este documento, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, 
              sobrecargar o deteriorar el Sitio web o impedir la normal utilización o disfrute del Sitio web por parte de los Usuarios.</p>
              <p>Adicionalmente, usted se compromete a hacer un uso adecuado del Contenido. De manera enunciativa pero no limitativa, usted se compromete a no: </p>
              <ul>
                <li>Utilizar el Contenido para incurrir y/o incitar a terceros a incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público, 
                  o para difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos;</li>
                <li>Usar secuencias de comandos automatizadas para recopilar información publicada en el Sitio web o a través del Sitio web o para interactuar de cualquier otro modo con los mismos;</li>
                <li>Provocar daños en los sistemas físicos y lógicos de <b>EL DEPA DE ROCKO</b>, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos, troyanos, 
                  código malicioso o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar daños en y/o estén diseñados para interrumpir, destruir o limitar la 
                  funcionalidad de cualquier software, hardware o equipo de telecomunicaciones o para dañar, deshabilitar, sobrecargar o perjudicar el Sitio web de cualquier modo;</li>
                <li>Intentar acceder, recolectar o almacenar los datos personales de otros Usuarios del Sitio web y, en su caso, utilizar las cuentas registradas de otros Usuarios y modificar o manipular sus mensajes.</li>
              </ul>
              <p>6.	<span>Usos prohibidos:</span></p>
              <p>El Sitio Web sólo podrá ser utilizado con fines lícitos. <b>EL DEPA DE ROCKO</b> prohíbe específicamente cualquier utilización del Sitio Web para:</p>
              <ul>
                <li>Facilitar datos biográficos falsos o inexactos.</li>
                <li>Registrar más de una cuenta correspondiente a un mismo usuario.</li>
                <li>Usar cualquier mecanismo para impedir o intentar impedir el adecuado funcionamiento de este Sitio Web o cualquier actividad que se esté realizando en este Sitio Web.</li>
                <li>Revelar o compartir su contraseña con terceras personas, o usar su contraseña para propósitos no autorizados.</li>
                <li>El uso o intento de uso de cualquier máquina, software, herramienta, agente u otro mecanismo para navegar o buscar en este Sitio Web que sean distintos a las herramientas de búsqueda provistos por <b>EL DEPA DE ROCKO</b> en este Sitio Web.</li>
                <li>Intentar descifrar, descompilar u obtener el código fuente de cualquier programa de software de este Sitio Web.</li>
              </ul>
              <p><b>EL DEPA DE ROCKO</b> se reserva el derecho de suspender o dar de baja a cualquier Usuario que, a exclusivo criterio de <b>EL DEPA DE ROCKO</b>, no cumpla con los estándares definidos en 
                estos Términos & Condiciones o con las políticas vigentes de <b>EL DEPA DE ROCKO</b>, sin que ello genere derecho a resarcimiento alguno.</p>
              <p>7.	<span>Información y sitios web de terceros</span></p>
              <p>El Sitio web puede ofrecer hipervínculos o acceso a páginas web y contenidos de otras personas naturales o jurídicas. <b>EL DEPA DE ROCKO</b> no controla, refrenda, ni 
                garantiza el contenido incluido en dichos sitios, tampoco se responsabiliza del funcionamiento o accesibilidad de las páginas Web vinculadas, los cuales son plenamente 
                responsabilidad de los propietarios de dichas fuentes. El Usuario acepta que <b>EL DEPA DE ROCKO</b> no es responsable de ningún contenido, enlace asociado, recurso o servicio 
                relacionado con el sitio de un tercero. </p>
              <p>Asimismo, el Usuario acepta que <b>EL DEPA DE ROCKO</b> no será responsable de ninguna pérdida o daño de cualquier tipo que se derive del uso que se realice de los contenidos de un tercero. 
                <b>EL DEPA DE ROCKO</b> no podrá garantizar la disponibilidad de los servicios en línea y de la información que los Usuarios requieran en determinado momento. Tampoco incurrirá en 
                responsabilidad con el Usuario o terceros, cuando su página Web no se encuentre disponible.</p>
              <p>8.	<span>Propiedad Intelectual</span></p>
              <p>Se prohíbe la modificación, reproducción, publicación o transferencia de cualquier Contenido a otras personas, o su uso para cualquier fin; está prohibido desensamblar, 
                descompilar, aplicar ingeniería inversa o intentar por cualquier medio romper la protección del Contenido. Todos los contenidos, elementos e información de este Sitio web 
                incluyendo todo texto, formato, imágenes, música, marcas, logotipos, enseñas, nombres comerciales, sonidos, gráficos, videos, animación, y demás materiales de este Sitio 
                web son de propiedad de <b>EL DEPA DE ROCKO</b>. Algunos de los Contenidos están protegidos por las leyes de derechos de autor y de marca registrada. Cualquier uso no autorizado 
                sobre el Contenidos del Sitio web que viole los derechos de propiedad y de propiedad intelectual de <b>EL DEPA DE ROCKO</b> o de terceros, podrá implicar el inicio de las acciones 
                legales correspondientes por parte de los titulares de los derechos. No se permite la creación de páginas web, sitios de Internet, documentos electrónicos o programas de 
                computador o aplicaciones informáticas de cualquier tipo que contengan hipervínculos o marcas que redirijan al navegante a cualquier Contenido de este Sitio web, sin la 
                correspondiente autorización.</p>
              <p>9. <span>Procedimiento de notificación de contenido violatorio de propiedad intelectual </span></p>
              <p><b>EL DEPA DE ROCKO</b> respeta y promueve la protección de los derechos de propiedad intelectual de terceros. No obstante, en ocasiones <b>EL DEPA DE ROCKO</b> podría permitir de manera 
                inadvertida y sin mala fe de su parte, la publicación en su Sitio web de contenido cuyos derechos podrían pertenecer a terceros. Para ello, <b>EL DEPA DE ROCKO</b> ha establecido el 
                siguiente procedimiento de notificación de contenido que terceros consideren que pueda ser violatorio de sus derechos. En caso de que usted encuentre contenido que considere 
                pueda ser violatorio de sus derechos de propiedad intelectual en el Sitio web, le solicitamos enviarnos una comunicación escrita, utilizando el formato establecido para ello, 
                al siguiente por email: <a href="mailto:contacto@eldepaderocko.com"></a>contacto@eldepaderocko.com</p>
              <p>Por favor, le solicitamos que incluya en la comunicación la siguiente información: </p>
              <ul>
                <li>La página o URL en la que aparece el contenido considerado violatorio. </li>
                <li>Una descripción clara y detallada del contenido considerado violatorio.</li>
                <li>En caso de que en la página o URL existan varias obras, esta descripción debe ser suficiente para identificar cuál de todas es la obra que está violando sus derechos.</li>
                <li>Una explicación de en qué manera el contenido en mención atenta contra sus derechos. En caso de contar con documentos que demuestren la titularidad de sus derechos, le rogamos anexar una copia. </li>
                <li>Una declaración bajo la gravedad del juramento, de que la información enviada en su comunicación es correcta. </li>
                <li>Sus datos de contacto, tales como nombre, identificación, dirección de correspondencia escrita y electrónica, teléfono, celular, etc.</li>
              </ul>
              <p>Por favor tenga en cuenta que en caso de que la información enviada en su comunicación sea incorrecta, <b>EL DEPA DE ROCKO</b> no asume responsabilidad por las consecuencias de su retiro.</p>
              <p>En consecuencia, Usted debe ser consciente de que al enviar su comunicación asume los daños y perjuicios que pueda ocasionar a terceros de buena fe. <b>EL DEPA DE ROCKO</b> revisará el caso, y si encuentra mérito en su queja, 
                procederá a retirar el material. </p>
              <p>En caso de que la información haya sido publicada por un Usuario (el cual podría tener también la condición de Tercero propietario o Negocio afiliado), <b>EL DEPA DE ROCKO</b> retirará el 
                contenido preventivamente y luego transmitirá la queja al Usuario que haya publicado el contenido considerado violatorio, quien tendrá un plazo de quince (15) días corrientes para 
                responder a la queja. </p>
              <p>Para ello, el tercero o, el Usuario que publicó el contenido posiblemente violatorio, deberá enviar una comunicación a <b>EL DEPA DE ROCKO</b> con la siguiente información: </p>
              <ul>
                <li>Una explicación de por qué razón el contenido no era violatorio de los derechos alegados. En caso de contar con documentos que lo demuestren, deberá anexar una copia. </li>
                <li>Una declaración bajo la gravedad del juramento, de que la información enviada en su comunicación es correcta. </li>
                <li>Sus datos de contacto, tales como nombre, identificación, dirección de correspondencia escrita y electrónica, teléfono, celular, etc</li>
              </ul>
              <p>Tras la respuesta del Usuario, <strong>EL DEPA DE ROCKO</strong> analizará el caso decidirá si mantiene el bloqueo del contenido, o si lo publica de nuevo.</p>
              <p>10. <span>Limitación de responsabilidad </span></p>
              <p>Sin perjuicio de todo lo ya mencionado en los acápites precedentes de estos Términos y Condiciones, el Usuario declara y acepta conocer que <b>EL DEPA DE ROCKO</b> no será responsable por:</p>
              <ul>
                <li>Cualquier daño y/o perjuicio acontecido por el uso de un inmueble de propiedad de un Tercero propietario, siendo ello enteramente responsabilidad del Tercero propietario con el 
                  cual el Usuario suscribe un contrato de alquiler de inmueble a través de la realización de una reserva, relación jurídica completamente independiente de EL DEPA DE ROCKO.</li>
                <li>El incumplimiento de cualquier condición previamente anunciada o la exigencia de cualquier condición que no haya sido previamente anunciada respecto a un inmueble y/o a su 
                  reserva de propiedad de un Tercero, pues es responsabilidad y obligación de los Terceros propietarios brindar información completa sobre su inmueble a través del Sitio web, 
                  y del Usuario consultarla previamente.</li>
                <li>Cualquier fallo o error en el procesamiento de la reserva del inmueble una vez <b>EL DEPA DE ROCKO</b> acredite que notificó de la solicitud de reserva y confirmación del pago al Tercero propietario, 
                  recayendo la responsabilidad por dicho error en este último.</li>
                <li>Cualquier error en el procesamiento del pago que sean consecuencia de retenciones por seguridad del banco gestor de la tarjeta afiliada por el Usuario, el cual será responsable en estos casos, o de fallas en el proveedor de servicios de 
                  pago de <b>EL DEPA DE ROCKO</b> que escapen de su control.</li>
                <li>Las caídas del Sitio web y la falla en el suministro del servicio, quedando exonerado por cualquier tipo de daños y perjuicios causados debido a la no disponibilidad y/o 
                  interrupción del servicio ocasionados por fallas o no disponibilidad de las redes y servicios de telecomunicaciones utilizados para soportar el Sitio web, y que sean ajenos 
                  a su voluntad. </li>
                <li>Los daños y perjuicios causados por virus informáticos, troyanos, código malicioso o cualesquiera otros sistemas físicos o lógicos a los sistemas de los Usuarios.</li>
                <li>Errores mecanográficos y/o tipográficos que aparezcan en el Contenido.</li>
                <li>El contenido publicitario que aparezca en el Sitio web, cuando sea responsabilidad del anunciante respectivo. </li>
                <li>Cualquier reclamación por infracción a la propiedad industrial y de derechos de autor deberá ser dirigida directamente al anunciante. Cualquier promoción, incluida la entrega 
                  y el pago por bienes y servicios, y cualquier otro término, condición, garantía o representación asociados con dichos tratos o promociones, corresponden a una relación exclusiva 
                  entre el anunciante y el Usuario, sin participación de EL DEPA DE ROCKO. </li>
                <li>Las opiniones publicadas por los Usuarios a través de los blogs y otros servicios que ofrezca <b>EL DEPA DE ROCKO</b> al público. </li>
                <li>El contenido de los sitios vinculados mediante hipervínculos que aparezcan en el Sitio web (los "Sitios Vinculados"), incluyendo sin limitación, cualquier 
                  vínculo contenido en los Sitios Vinculados, cualquier cambio o actualización a los Sitios Vinculados, cualquier tipo de transmisión recibida o enviada desde o hacia Sitios 
                  Vinculados, o el funcionamiento incorrecto de los Sitios Vinculados. <b>EL DEPA DE ROCKO</b> proporciona estos Sitios Vinculados sólo por comodidad, y la inclusión de cualquiera de 
                  ellos no implica aprobación por parte de <b>EL DEPA DE ROCKO</b> a ninguno de estos sitios ni ninguna asociación con sus operadores.</li>
              </ul>
              <p>En ese sentido, el Usuario acepta que <b>EL DEPA DE ROCKO</b> no garantiza que el Sitio web funcionará libre de errores o que esté libre de virus u otros productos peligrosos. 
                Si el uso del Sitio web deriva en la necesidad de servicio técnico o reemplazo de equipo o datos, <b>EL DEPA DE ROCKO</b> no será responsable de dichos costos. 
                <b>EL DEPA DE ROCKO</b> no se hace responsable por errores, omisiones o caídas temporales del Sitio web.</p>
              <p>11. <span>Responsabilidad del Usuario por daños y perjuicios </span></p>
              <p>El Usuario responderá de los daños y perjuicios de toda naturaleza que <b>EL DEPA DE ROCKO</b> pueda sufrir, directa o indirectamente, como consecuencia de incumplimiento de 
                cualquiera de las obligaciones derivadas de este documento o de la ley en relación con la utilización del Sitio web.</p>
              <p>12.	<span>Modificación de los Términos Legales: </span></p>
              <p><b>EL DEPA DE ROCKO</b> podrá modificar estos Términos y Condiciones de Uso del Sitio web en cualquier momento y sin previo aviso, tan pronto se publique una nueva versión en el Sitio web. 
                <b>EL DEPA DE ROCKO</b> indicará la fecha en que la versión vigente de los Términos y Condiciones fue publicada, para fines informativos de los Usuarios. Es responsabilidad de cada Usuario 
                verificar constantemente la fecha de última modificación de los Términos y Condiciones.</p>
              <p>13.	<span>Cancelación</span></p>
              <p><b>EL DEPA DE ROCKO</b> se reserva el derecho de emitir advertencias, suspensiones temporales y cancelaciones permanentes (baja) de los Usuarios registrados por infracciones a los presentes 
                Términos y Condiciones, y/o cualquier aviso, reglamento de uso e instrucción puestos en conocimiento del Usuario. </p>
              <p>Sin perjuicio de lo indicado en el punto anterior, <b>EL DEPA DE ROCKO</b> se reserva el derecho, a su exclusivo criterio, de emplear todos los medios legales a su alcance en caso que Usted infrinja cualquiera de estos Términos y Condiciones.</p>
              <p>Cada Usuario registrado puede solicitar la cancelación voluntaria de su registro. Para ello, deberá dirigir su solicitud a: <a href="mailto:contacto@eldepaderocko.com"></a>contacto@eldepaderocko.com </p>
              <p>14. <span>Disposiciones específicas para Terceros propietarios:</span></p>
              <p><span>Registro como Tercero propietario y solicitud de publicación de avisos </span></p>
              <ul class="lista-letras">
                <li>Únicamente aquellos Usuarios con la condición de Terceros propietarios podrán ofrecer en alquiler inmuebles de su propiedad al resto de Usuarios a 
                  través del Sitio web. Los Usuarios que deseen adquirir la condición de Terceros propietarios deberán completar un formulario disponible en la 
                  sección correspondiente del Sitio web, bajo carácter de declaración jurada. </li>
                <li>Una vez obtenida su inscripción como Tercero propietario, el Tercero propietario podrá publicar avisos de alquiler en el Sitio web dirigidos al resto de Usuarios. 
                  Para solicitar la publicación de su aviso, el Tercero Propietario deberá completar la información requerida en la sección destinada para tal 
                  fin respecto a su identidad, y el precio, ubicación, disponibilidad, dimensiones, fotografías y otras condiciones del inmueble ofrecido en 
                  alquiler, bajo carácter de declaración jurada, y enviar su proyecto de aviso a EL DEPA DE ROCKO.</li>
                <li>Una vez recibida la solicitud, <b>EL DEPA DE ROCKO</b> realizará una breve evaluación preliminar de la información enviada por el Tercero propietario con 
                  el fin de evaluar el cumplimiento de ciertos estándares mínimos como la real existencia del inmueble, la calidad del Tercero propietario 
                  sobre el mismo, entre otros aspectos, lo que podrá tomarle un tiempo máximo de siete días. De aprobarse la solicitud, <b>EL DEPA DE ROCKO</b> 
                  lo notificará al Tercero propietario y el aviso pasará a publicarse automáticamente en el Sitio web, por lo que todos los Usuarios tendrán 
                  acceso al mismo. <b>EL DEPA DE ROCKO</b> se reserva el derecho de denegar la publicación de avisos que, a su sólo criterio y sin necesidad de 
                  expresión de causa, no cumplan con los estándares mínimos requeridos.</li>
                <li>Cabe resaltar que esta evaluación preliminar es únicamente referencial y no responsabilizará de ningún modo a <b>EL DEPA DE ROCKO</b> ante los 
                  Usuarios de cualquier contingencia que pueda surgir una vez realizada la reserva de alquiler del inmueble contenido en el aviso aprobado, 
                  pues el único responsable de ello será el Tercero propietario. Esta revisión preliminar tampoco se podrá entender como cualquier tipo de 
                  garantía que ofrezca <b>EL DEPA DE ROCKO</b> al Usuario respecto del inmueble ofrecido en alquiler.</li>
                <p><span>Servicios de asesoría y capacitación:</span></p>
                <li>Si la solicitud de publicación de aviso no es aprobada, <b>EL DEPA DE ROCKO</b> podrá ofrecer al Tercero propietario, a 
                  cambio de una contraprestación, sus servicios de asesoría y capacitación en negocios inmobiliarios, con el fin de apoyarlo en 
                  subsanar y regularizar los defectos identificados que motivaron su denegatoria. El Tercero propietario será libre de aceptar o 
                  no estos servicios, no obstante, <b>EL DEPA DE ROCKO</b> se reserva el derecho de denegar sus nuevas solicitudes si considera que el 
                  defecto persiste. Los Terceros propietarios también podrán solicitar estos servicios independientemente de solicitar o no la 
                  publicación de un aviso, seleccionando la opción correspondiente en el Sitio web. </li>
                <li>El pago del precio previamente informado por el servicio de asesoría y capacitación se realizará a través del Sitio web, 
                  y <b>EL DEPA DE ROCKO</b> enviará inmediatamente la factura respectiva una vez compruebe la realización de la transacción. </li>
                <li><b>EL DEPA DE ROCKO</b> no se responsabiliza por cualquier error en el procesamiento del pago que sea consecuencia de una 
                  retención por parte del banco gestor de la tarjeta de crédito o débito afiliada por motivos de seguridad o de cualquier otra 
                  índole, en cuyo caso será responsable dicho banco. Asimismo, tampoco responderá por aquellas fallas del proveedor de servicios 
                  de pago de <b>EL DEPA DE ROCKO</b> que escapen de su control.</li>
                <p><span>Publicación de avisos:</span></p>
                <li>Los avisos aprobados serán publicados con la información ingresada por el Tercero propietario inicialmente. 
                  Sin embargo, se permite la modificación y/o actualización de ciertos campos de esta información en cualquier momento, 
                  por lo que será el Tercero propietario el único responsable de mantenerla siempre actualizada ante los Usuarios. 
                  Dichos avisos tienen carácter de oferta contractual dirigida hacia los Usuarios, en los términos establecidos en el 
                  artículo 1382 del Código Civil de la República del Perú. </li>
                <p><span>Obligaciones y responsabilidades del Tercero propietario:</span></p>
                <li>El Tercero propietario declara conocer que será plenamente responsable por la veracidad y actualidad de la información 
                  ingresada en cada aviso. Por tanto, toda la información, precio, disponibilidad, y demás condiciones publicadas sobre cada 
                  inmueble es única y exclusiva responsabilidad del Tercero propietario, el cual garantiza su cumplimiento ante los Usuarios. 
                  Lo que se publica sobre cada inmueble es lo que el Tercero propietario del mismo decide publicar y no EL DEPA DE ROCKO, 
                  siendo cada Tercero propietario responsable de actualizar la información sobre su inmueble en el aviso. Cualquier reclamo 
                  o acción del Usuario derivado del incumplimiento de alguna condición ofrecida del inmueble o de precio o disponibilidad 
                  de alquiler previamente anunciada en el Sitio web será asumida por el Tercero propietario del inmueble y no por 
                  EL DEPA DE ROCKO. </li>
                <li>La reserva de uso del inmueble publicado en el aviso por parte del Usuario se efectuará a través del pago del precio 
                  establecido, el cual se realizará en una pasarela de pagos facilitada por EL DEPA DE ROCKO. Una vez el sistema de 
                  <b>EL DEPA DE ROCKO</b> confirme dicho pago, enviará una notificación automática a los correos declarados del Usuario y del 
                  Tercero propietario del inmueble elegido con el resumen y confirmación de la reserva. <b>EL DEPA DE ROCKO</b> cobrará una 
                  comisión equivalente al 10% del precio pagado por el Usuario a favor del Tercero propietario.</li>
                <li>Con la confirmación de la reserva vía correo electrónico, se perfecciona un contrato de alquiler de inmueble entre el 
                  Tercero propietario y el Usuario pagante en los términos establecidos por el Código Civil de la República del Perú y las 
                  condiciones específicas que haya podido establecer el Tercero propietario en el aviso. Dicho contrato se perfeccionará 
                  sólo entre ambas partes mencionadas y de forma totalmente independiente a EL DEPA DE ROCKO, el cual no tendrá ninguna incidencia, 
                  participación ni responsabilidad en la ejecución del mismo. </li>
                <li>Una vez confirmada la reserva, el Tercero propietario también se obliga a emitir el comprobante de pago 
                  respectivo a nombre del Usuario que ha realizado la reserva y enviarlo a su correo electrónico declarado con copia a 
                  EL DEPA DE ROCKO. Cualquier controversia derivada de la falta de emisión o envío del comprobante de pago al Usuario 
                  será responsabilidad del Tercero propietario.</li>
                <li>El Tercero propietario contará con un chat facilitado por EL DEPA DE ROCKO, en el cual podrá comunicarse directamente 
                  con el Usuario para cualquier coordinación que sea necesaria para ejecutar la reserva. <b>EL DEPA DE ROCKO</b> tampoco se hace 
                  responsable por lo que pueda ser declarado u ofrecido en dicho chat.</li>
                <li>El Tercero propietario declara conocer que será el único responsable de otorgar el inmueble en uso al Usuario en la fecha 
                  y condiciones pactadas, y responderá ante el mismo por cualquier incumplimiento. Asimismo, una vez entregado el inmueble, 
                  el Tercero propietario declara conocer que cualquier incidente o daño sufrido por el Usuario derivado del alquiler o uso 
                  del inmueble reservado será plena responsabilidad suya, por lo que cualquier reclamo o acción como consecuencia de ello 
                  deberá ser asumida por el Tercero propietario en su calidad de responsable de garantizar la disponibilidad y condiciones 
                  del inmueble que ha ofrecido en uso en el Sitio web.</li>
                <p><span>Información sobre el pago de comisión por intermediación a favor de EL DEPA DE ROCKO</span></p>
                <li>Cuando un Usuario realice una reserva de inmueble, <b>EL DEPA DE ROCKO</b> procesará el pago del Usuario a favor del Tercero 
                  propietario mediante una pasarela de pagos disponible en el Sitio web. En el plazo de un día hábil desde recibido el pago, 
                  <b>EL DEPA DE ROCKO</b> emitirá una factura a nombre del Tercero propietario por el valor del 10% del monto abonado por el Usuario, 
                  por concepto de comisión por intermediación, y lo enviará al correo electrónico declarado por este último. 
                  El Tercero propietario autoriza y acepta que <b>EL DEPA DE ROCKO</b> cobre a su favor el 10% del valor abonado por el Usuario 
                  como contraprestación por su servicio de intermediación a través del Sitio web. <br> Posteriormente, <b>EL DEPA DE ROCKO</b> procederá 
                  a depositar el 90% restante del monto abonado por el Usuario, mediante transferencia bancaria, a la cuenta declarada por el 
                  Tercero Propietario, en el plazo máximo de 2 días hábiles desde la fecha en la que el Tercero propietario envíe el comprobante 
                  de pago por la reserva respectiva al Usuario copiando a EL DEPA DE ROCKO, de acuerdo a lo establecido en el literal “f”. 
                  <b>EL DEPA DE ROCKO</b> se reserva el derecho de suspender el depósito del referido monto hasta que el Tercero propietario acredite 
                  el envío del comprobante de pago al Usuario. <br> El Tercero propietario declara conocer que el cobro de comisión por 
                  intermediación (10% del total) representa la contraprestación por el servicio de intermediación que <b>EL DEPA DE ROCKO</b> le 
                  presta a través del Sitio web. Por tanto, una vez confirmada una reserva, la devolución de esta comisión no podrá ser 
                  posteriormente reclamada por parte del Tercero propietario, ya que es un servicio que efectivamente se prestó. En ese sentido, 
                  será el Tercero propietario, y no EL DEPA DE ROCKO, quien deberá asumir su valor ante cualquier devolución o pago que deba 
                  realizar a favor del Usuario por cualquier controversia que se suscite entre estas partes.</li>
                <p><span>Servicios publicitarios</span></p>
                <li><b>EL DEPA DE ROCKO</b> podrá ofrecer sus servicios de publicidad a los Terceros propietarios interesados a través del Sitio web, 
                  a cambio de una contraprestación. Para contratar estos servicios, el Tercero propietario deberá dirigirse a la sección correspondiente en 
                  el Sitio web, seleccionar el paquete publicitario de su preferencia, y realizar el pago del precio indicado a través de la pasarela de pagos 
                  disponible en el Sitio web. Una vez realizado el pago, <b>EL DEPA DE ROCKO</b> enviará inmediatamente el comprobante de pago respectivo al Tercero 
                  propietario por correo electrónico y se coordinarán los detalles de la ejecución del servicio por la misma vía.</li>
                <li><b>EL DEPA DE ROCKO</b> no se responsabiliza por cualquier error en el procesamiento del pago que sea consecuencia de una 
                  retención por parte del banco gestor de la tarjeta de crédito o débito afiliada por motivos de seguridad o de cualquier otra 
                  índole, en cuyo caso será responsable dicho banco. Asimismo, tampoco responderá por aquellas fallas del proveedor de servicios 
                  de pago de <b>EL DEPA DE ROCKO</b> que escapen de su control.</li>
                <li>Los paquetes publicitarios disponibles son los siguientes: 1) Publicación de uno o más avisos elegidos del Tercero 
                  propietario en la sección de “Destacados” del Sitio web, contando así con una mayor visibilidad ante los Usuarios respecto del 
                  resto de avisos, y, 2) Publicación de “posts” y/o “historias” sobre un inmueble ofrecido en aviso en las redes sociales 
                  de <b>EL DEPA DE ROCKO</b> y/o de “influencers” aliados. El contenido específico será coordinado entre <b>EL DEPA DE ROCKO</b> y el 
                  Tercero propietario de forma previa a su lanzamiento. <b>EL DEPA DE ROCKO</b> se reserva el derecho de no publicar contenido que 
                  pueda resultar contrario a sus valores en sus redes sociales. </li>
                <li>Todo Tercero propietario que contrate los servicios publicitarios de <b>EL DEPA DE ROCKO</b> declara reconocer que 
                  ostentará la calidad de “Anunciante”, en los términos establecidos en el artículo 59° del Decreto Legislativo N° 1044 – 
                  Ley de Represión de la Competencia Desleal (en adelante, “LRCD”), respecto de todo aviso promocionado, contenido, foto, 
                  publicación, historia, reel, video comercial, texto promocional, y/o, en general, cualquier material que sea elaborado y/o 
                  difundido en el Sitio web o en redes sociales en el marco de la ejecución de dichos servicios y pueda ser calificado como 
                  “Publicidad” según la definición establecida en el mencionado artículo de la LRCD, por lo que el Tercero propietario será 
                  el responsable de garantizar su legalidad y completa adecuación a las disposiciones recogidas en la LRCD.</li>
              </ul>
              <p>15. <span>Legislación aplicable</span></p>
              <p>Los presentes Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de la República de Perú.</p>
              <p>16.	<span>Jurisdicción aplicable</span></p>
              <p>El Usuario se somete a la jurisdicción de los Juzgados y Tribunales del Distrito Judicial de Lima, Perú, con renuncia expresa a cualquier otro fuero y/o jurisdicción.</p>
              <p>Fecha de la última modificación: 13 de agosto del 2022.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Aqui van las secciones -->
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import $ from 'jquery';

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {
    $('html, body').animate({
      scrollTop: $("#section").offset().top
    }, 100);
  },
  methods: {},
};
</script>
