<template>
  <div class="col--12 modal-overlay">
    <div class="modal-content">
      <div class="modal-head">
        <div class="modal-image">
          <img src="@/assets/img/logo-rosa.svg" alt="" />
        </div>
      </div>
      <div class="modal-body">
        <p>
          <b>RockoFriend</b>, hemos registrado tu solicitud correctamente, para terminar el proceso hemos enviado un
          correo de confirmación a tu nueva
          cuenta de correo.
        </p>
        <span @click="validarCambioEmail()" class="btn"> Gracias </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cambioEmail: false
    }
  },
  methods: {
    validarCambioEmail() {
      if (this.cambioEmail) {
        console.log("esta funcionando")
        localStorage.clear();
        window.location.href = this.front_url + "/login";
      }
    },
  }
}
</script>

<style scoped>
.modal-content {
  margin-top: 10%;
  height: 350px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.close-img {
  width: 25px;
}

.check {
  width: 150px;
}

h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  margin: 20px 0;
}

button {
  background-color: #ac003e;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 50px;
}
</style>