<template>
  <div class="m-loading">
    <div class="m-loading__container">
        <div class="lds-heart"><div></div></div>
        <img src="@/assets/img/logo-letra-rosa.png" alt="" />
    </div>
  </div>
</template>