<template>
  <div class="m-sombra" style="display: none;"></div>
  <header>
    <div class="container">
      <a href="/" class="logo a">
        <img src="@/assets/img/logo-rosa.svg" alt="" />
      </a>
      <ul class="menu-list">
        <li>
          <a href="/nosotros">Nosotros</a>
        </li>
        <li>
          <a href="/blog">RockoBlog</a>
        </li>
      </ul>
      <div class="nav">
        <nav class="botton-dropdown" @click="openMenu()">
          <div class="cajita">
            <img src="@/assets/img/Vector-home.svg" alt="" />
          </div>
          <div class="cajita">
            <img src="@/assets/img/lineas-home.png" alt=""/>
          </div>
        </nav>
        <div class="menu">
          <div class="menu-close">
              <img @click="closeMenu()" src="@/assets/img/menu-close.svg" alt="" />
          </div>
          <a href="/registro" v-if="sesion == false">Regístrate</a>
          <a href="/login" v-if="sesion == false">Iniciar Sesión</a>
          <a href="/perfil" v-if="sesion">Mi Perfil</a>
          <a @click="openModalCupon()" v-if="sesion">Mis Cupones</a>
          <a href="/nosotros">Nosotros</a>
          <a href="/blog">RockoBlog</a>
          <a href="/contacto">Contacto</a>
          <a href="/terminos-condiciones">Términos y condiciones</a>
          <a href="/libro-reclamaciones">Libro de reclamaciones</a>
          <a @click="cerrarSesion()" v-if="sesion">Cerrar Sesi&oacute;n</a>
        </div>
      </div>
    </div>
  </header>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalCupon">
    <div class="modal-content modal-content-lg">
      <div class="modal-container">
        <div class="modal-body">
          <h2>Ingresar cup&oacute;n</h2>
          <div class="m-input m-input--icon form-field">
            <img src="@/assets/img/icon-cupon.svg" alt="El depa de Rocko" />
            <input
              type="text"
              name=""
              v-model="cupon"
              @keyup="validateTextCupon()"
              placeholder="Ingresa tu cup&oacute;n"
            />
            <img v-if="showIconCheck" class="icon-check" src="@/assets/img/icon-check.svg" alt="El depa de Rocko" />
          </div>
          <p class="form-field-error"> {{ this.cupon_error }}</p>
          <div class="m-actions">
            <button
                type="button"
                @click="validarCupon()"
                class="btn">
                Validar
            </button>
          </div>
        </div>
        <div class="modal-close">
          <img @click="hideModalCupon()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
        </div>
      </div>
    </div>
  </div>

  <div class="col--12 modal-overlay modal-custom" v-show="showModalCongrats">
    <div class="modal-content modal-content-lg">
      <div class="modal-container">
        <div class="modal-body">
          <h2>¡Felicidades!</h2>
          <p>¡Guau!, Acabas de ganar {{ rockoCoinsCupon }} rockocoins.</p>
          <div class="m-actions">
            <button
                type="button"
                @click="hideModalCongrats()"
                class="btn">
                okay
            </button>
          </div>
        </div>
        <div class="modal-close">
          <img @click="hideModalCongrats()" src="@/assets/img/icon-close.svg" alt="El depa de Rocko" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import axios from "axios";

export default {
  props: {
    rockoCoins: Number,
  },
  data() {
    return {
      sesion: false,
      showModalCupon: false,
      showIconCheck: false,
      showModalCongrats: false,
      cupon: "",
      cupon_error: "",
      rockoCoinsCupon: 0,
    };
  },
  mounted() {
    if (localStorage.uuid) {
      this.sesion = true
    }
    $(window).scroll(function () {
      if ($(window).scrollTop() > 0) {
        $("header").addClass("m-active");
      } else {
        $("header").removeClass("m-active");
      }
    });
  },
  methods: {
    openMenu() {
      $('.menu').toggleClass('m-active');
      $('.m-sombra').toggle();
    },
    closeMenu(){
      $('.menu').toggleClass('m-active');
      $('.m-sombra').toggle();
    },
    openModalCupon() {
      this.showModalCupon = true;
    },
    hideModalCupon() {
      this.showModalCupon = false;
      this.showIconCheck = false;
      this.cupon = '';
      this.cupon_error = '';
    },
    hideModalCongrats() {
      this.showModalCongrats = false;
    },
    validarCupon() {
      if(this.cupon === ''){
        this.cupon_error = 'Debes ingresar un código';
      } else {
        this.reclamarCupon();
      }
    },
    validateTextCupon(){
      this.cupon_error = '';
    },
    reclamarCupon() {
        const params = {
          uuid: localStorage.uuid,
          codigo: this.cupon,
        };
        axios
          .post(this.back_url + "/api/reclamarCupon", params,{
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
          }
        })
          .then((response) => {
            if (response.data.status) {
              this.showIconCheck = true;
              setTimeout(() => {
                this.showModalCupon = false;
                this.showIconCheck = false;
                this.cupon = '';
                this.cupon_error = '';
                this.rockoCoinsCupon = response.data.rockocoins_cupon;
                this.showModalCongrats = true;
                this.$emit('rockoCoins',response.data.rockocoins);
              }, 1000);
            } else {
              if (response.data.code === 101){
                this.cupon_error = response.data.message;
              } else if (response.data.code === 102) {
                this.cupon_error = response.data.message;
              } else if (response.data.code === 103){
                this.cupon_error = response.data.message;
              }
            }
          })
    },  
    cerrarSesion() {
      localStorage.clear();
      window.location.href = this.front_url + "/login";
    }
  },
};
</script>
