<template>
    <div class="col--12 modal-overlay modal-custom" v-show="this.activeModalLogin">
        <div class="modal-content modal-content-md">
            <div class="modal-container">
                <div class="modal-head">
                <div class="modal-image">
                    <img src="@/assets/img/logo-rosa.svg" alt="El depa de Rocko" />
                </div>
                <div class="modal-close">
                    <img @click="hideModalLogin()" src="@/assets/img/icon-close-modal.svg" alt="El depa de Rocko" />
                </div>
                </div>
                <div class="modal-body">
                    <form action="" class="form-login">
                        <h2>Inicia sesión</h2>
                        <div class="form-field">
                            <img src="@/assets/img/msg.png" alt="">
                            <input type="text" name="" v-model="correo" placeholder="Correo" id="">
                        </div>
                        <div class="form-field">
                            <img src="@/assets/img/icono-candado.svg" alt="">
                            <input :type="tipo_clave" name="" v-model="clave" placeholder="Contraseña" id="">
                            <img class="icon-eye" src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="">
                        </div>
                        <p v-if="errorSesion" class="message-error">Error al iniciar sesion</p>
                        <p v-if="verificarCuenta" class="message-error">No has verificado tu cuenta, revisa tu correo y validalo.</p>
                        <p class="text-link-black">
                            <a href="/reset-account">Olvidé mi contraseña</a>
                        </p>
                        <input type="button" class="btn btn-login" value="Iniciar sesión" @click="iniciarSesion()" >
                        <p class="text-link-black">¿No tienes una cuenta?<a href="/registro"> Regístrate.</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        props: ['modalLogin'],
        data() {
            return {
                tipo_clave: 'password',
                correo: '',
                clave: '',
                errorSesion: false,
                verificarCuenta: false,
                activeModalLogin: this.modalLogin,
            }
        },
        methods: {
            hideModalLogin() {
                this.activeModalLogin = false;
            },
            cambiarcampo() {
                if (this.tipo_clave == "password") {
                    this.tipo_clave = "text";
                } else {
                    this.tipo_clave = "password";
                }
            },
            iniciarSesion() {
                const params = {
                    correo: this.correo,
                    clave: this.clave
                }
                axios
                .post(this.back_url + '/api/login', params)
                .then((response) => {
                    if (response.data == 100) {
                        this.errorSesion = true;
                    }
                    else if (response.data == 101){
                        this.verificarCuenta = true;
                        this.errorSesion = false;
                    } else {
                        localStorage.uuid = response.data;
                        this.activeModalLogin = false;
                    }
                })
            }
        }
    }
</script>